In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import json
from fuzzywuzzy import fuzz
import uuid

In [2]:
def pprint(dict, indent=4):
    print(json.dumps(dict, indent=indent))

In [3]:
"""
Load the data extracted for level 1
Level 1 data consists of the models for each of the manufacturer
This will be used to perform the matching with the existing dataset (Model Gender dataset) that is present in the 
excel sheet provided and further scraping will only be done on the models that are present in the dataset
"""

with open('cars_data_level1.json') as f:
    cars_data_level1 = json.load(f)
    manufacturers = list(cars_data_level1.keys())

print(manufacturers)
pprint(cars_data_level1, indent=2)

['Abarth', 'Aiways', 'Alfa Romeo', 'Alpine', 'Asia Motors', 'Aston Martin', 'Audi', 'Austin', 'Autobianchi', 'Bentley', 'BMW', 'Bugatti', 'Buick', 'Cadillac', 'Carver', 'Chevrolet', 'Chrysler', 'Citroen', 'Corvette', 'Cupra', 'Dacia', 'Daewoo', 'Daihatsu', 'Daimler', 'Datsun', 'Dodge', 'Donkervoort', 'DS', 'Ferrari', 'Fiat', 'Fisker', 'Ford', 'FSO', 'Galloper', 'Honda', 'Hummer', 'Hyundai', 'Infiniti', 'Innocenti', 'Iveco', 'Jaguar', 'Jeep', 'Josse', 'Kia', 'Lada', 'Lamborghini', 'Lancia', 'Land Rover', 'Landwind', 'Lexus', 'Lincoln', 'Lotus', 'Marcos', 'Maserati', 'Maybach', 'Mazda', 'McLaren', 'Mega', 'Mercedes-Benz', 'Mercury', 'MG', 'Mini', 'Mitsubishi', 'Morgan', 'Morris', 'Nissan', 'Noble', 'Opel', 'Peugeot', 'PGO', 'Polestar', 'Pontiac', 'Porsche', 'Princess', 'Renault', 'Rolls-Royce', 'Rover', 'Saab', 'Seat', 'Skoda', 'Smart', 'Spectre', 'Ssangyong', 'Subaru', 'Suzuki', 'Talbot', 'Tesla', 'Think', 'Toyota', 'Triumph', 'TVR', 'Volkswagen', 'Volvo', 'Yugo']
{
  "Abarth": {
    "Abarth 124 Spider": {
      "link": "https://www.cars-data.com/en/abarth/124-spider"
    },
    "Abarth 595": {
      "link": "https://www.cars-data.com/en/abarth/595"
    },
    "Abarth 595 Cabrio": {
      "link": "https://www.cars-data.com/en/abarth/595-cabrio"
    },
    "Abarth 695": {
      "link": "https://www.cars-data.com/en/abarth/695"
    },
    "Abarth 500C": {
      "link": "https://www.cars-data.com/en/abarth/500c"
    },
    "Abarth Punto Evo": {
      "link": "https://www.cars-data.com/en/abarth/punto-evo"
    },
    "Abarth 500": {
      "link": "https://www.cars-data.com/en/abarth/500"
    },
    "Abarth Grande Punto": {
      "link": "https://www.cars-data.com/en/abarth/grande-punto"
    }
  },
  "Aiways": {
    "Aiways U5": {
      "link": "https://www.cars-data.com/en/aiways/u5"
    }
  },
  "Alfa Romeo": {
    "Alfa Romeo Stelvio": {
      "link": "https://www.cars-data.com/en/alfa-romeo/stelvio"
    },
    "Alfa Romeo Giulia": {
      "link": "https://www.cars-data.com/en/alfa-romeo/giulia"
    },
    "Alfa Romeo 4C Spider": {
      "link": "https://www.cars-data.com/en/alfa-romeo/4c-spider"
    },
    "Alfa Romeo 4C": {
      "link": "https://www.cars-data.com/en/alfa-romeo/4c"
    },
    "Alfa Romeo 8C Spider": {
      "link": "https://www.cars-data.com/en/alfa-romeo/8c-spider"
    },
    "Alfa Romeo 8C Competizione": {
      "link": "https://www.cars-data.com/en/alfa-romeo/8c-competizione"
    },
    "Alfa Romeo MiTo": {
      "link": "https://www.cars-data.com/en/alfa-romeo/mito"
    },
    "Alfa Romeo Brera": {
      "link": "https://www.cars-data.com/en/alfa-romeo/brera"
    },
    "Alfa Romeo 159 Sportwagon": {
      "link": "https://www.cars-data.com/en/alfa-romeo/159-sportwagon"
    },
    "Alfa Romeo Crosswagon": {
      "link": "https://www.cars-data.com/en/alfa-romeo/crosswagon"
    },
    "Alfa Romeo 159": {
      "link": "https://www.cars-data.com/en/alfa-romeo/159"
    },
    "Alfa Romeo GT": {
      "link": "https://www.cars-data.com/en/alfa-romeo/gt"
    },
    "Alfa Romeo 147": {
      "link": "https://www.cars-data.com/en/alfa-romeo/147"
    },
    "Alfa Romeo 156 Sportwagon": {
      "link": "https://www.cars-data.com/en/alfa-romeo/156-sportwagon"
    },
    "Alfa Romeo 166": {
      "link": "https://www.cars-data.com/en/alfa-romeo/166"
    },
    "Alfa Romeo 156": {
      "link": "https://www.cars-data.com/en/alfa-romeo/156"
    },
    "Alfa Romeo 146": {
      "link": "https://www.cars-data.com/en/alfa-romeo/146"
    },
    "Alfa Romeo Spider": {
      "link": "https://www.cars-data.com/en/alfa-romeo/spider"
    },
    "Alfa Romeo 145": {
      "link": "https://www.cars-data.com/en/alfa-romeo/145"
    },
    "Alfa Romeo 155": {
      "link": "https://www.cars-data.com/en/alfa-romeo/155"
    },
    "Alfa Romeo 33 SportWagon": {
      "link": "https://www.cars-data.com/en/alfa-romeo/33-sportwagon"
    },
    "Alfa Romeo 164": {
      "link": "https://www.cars-data.com/en/alfa-romeo/164"
    },
    "Alfa Romeo 75": {
      "link": "https://www.cars-data.com/en/alfa-romeo/75"
    },
    "Alfa Romeo 33 Giardinetta": {
      "link": "https://www.cars-data.com/en/alfa-romeo/33-giardinetta"
    },
    "Alfa Romeo 90": {
      "link": "https://www.cars-data.com/en/alfa-romeo/90"
    },
    "Alfa Romeo 33": {
      "link": "https://www.cars-data.com/en/alfa-romeo/33"
    },
    "Alfa Romeo GTV": {
      "link": "https://www.cars-data.com/en/alfa-romeo/gtv"
    },
    "Alfa Romeo Alfasud": {
      "link": "https://www.cars-data.com/en/alfa-romeo/alfasud"
    },
    "Alfa Romeo Alfa 6": {
      "link": "https://www.cars-data.com/en/alfa-romeo/alfa-6"
    },
    "Alfa Romeo Giulietta": {
      "link": "https://www.cars-data.com/en/alfa-romeo/giulietta"
    },
    "Alfa Romeo Sprint": {
      "link": "https://www.cars-data.com/en/alfa-romeo/sprint"
    },
    "Alfa Romeo Alfetta GTV": {
      "link": "https://www.cars-data.com/en/alfa-romeo/alfetta-gtv"
    },
    "Alfa Romeo Alfetta": {
      "link": "https://www.cars-data.com/en/alfa-romeo/alfetta"
    }
  },
  "Alpine": {
    "Alpine A110": {
      "link": "https://www.cars-data.com/en/alpine/a110"
    }
  },
  "Asia Motors": {
    "Asia Motors Rocsta": {
      "link": "https://www.cars-data.com/en/asia-motors/rocsta"
    }
  },
  "Aston Martin": {
    "Aston Martin DB11 Volante": {
      "link": "https://www.cars-data.com/en/aston-martin/db11-volante"
    },
    "Aston Martin Vantage": {
      "link": "https://www.cars-data.com/en/aston-martin/vantage"
    },
    "Aston Martin DB11 Coupe": {
      "link": "https://www.cars-data.com/en/aston-martin/db11-coupe"
    },
    "Aston Martin Vanquish Volante": {
      "link": "https://www.cars-data.com/en/aston-martin/vanquish-volante"
    },
    "Aston Martin Virage Volante": {
      "link": "https://www.cars-data.com/en/aston-martin/virage-volante"
    },
    "Aston Martin Vanquish": {
      "link": "https://www.cars-data.com/en/aston-martin/vanquish"
    },
    "Aston Martin DB9 Coupe": {
      "link": "https://www.cars-data.com/en/aston-martin/db9-coupe"
    },
    "Aston Martin V12 Vantage Roadster": {
      "link": "https://www.cars-data.com/en/aston-martin/v12-vantage-roadster"
    },
    "Aston Martin Cygnet": {
      "link": "https://www.cars-data.com/en/aston-martin/cygnet"
    },
    "Aston Martin V12 Vantage Coupe": {
      "link": "https://www.cars-data.com/en/aston-martin/v12-vantage-coupe"
    },
    "Aston Martin DBS Volante": {
      "link": "https://www.cars-data.com/en/aston-martin/dbs-volante"
    },
    "Aston Martin Rapide": {
      "link": "https://www.cars-data.com/en/aston-martin/rapide"
    },
    "Aston Martin DBS": {
      "link": "https://www.cars-data.com/en/aston-martin/dbs"
    },
    "Aston Martin V8 Vantage Roadster": {
      "link": "https://www.cars-data.com/en/aston-martin/v8-vantage-roadster"
    },
    "Aston Martin V8 Vantage": {
      "link": "https://www.cars-data.com/en/aston-martin/v8-vantage"
    },
    "Aston Martin DB9": {
      "link": "https://www.cars-data.com/en/aston-martin/db9"
    },
    "Aston Martin DB9 Volante": {
      "link": "https://www.cars-data.com/en/aston-martin/db9-volante"
    },
    "Aston Martin V12 Vanquish": {
      "link": "https://www.cars-data.com/en/aston-martin/v12-vanquish"
    },
    "Aston Martin V8 Volante": {
      "link": "https://www.cars-data.com/en/aston-martin/v8-volante"
    },
    "Aston Martin V8 Coupe": {
      "link": "https://www.cars-data.com/en/aston-martin/v8-coupe"
    },
    "Aston Martin DB7 Volante": {
      "link": "https://www.cars-data.com/en/aston-martin/db7-volante"
    },
    "Aston Martin DB7": {
      "link": "https://www.cars-data.com/en/aston-martin/db7"
    },
    "Aston Martin Volante": {
      "link": "https://www.cars-data.com/en/aston-martin/volante"
    },
    "Aston Martin Virage": {
      "link": "https://www.cars-data.com/en/aston-martin/virage"
    }
  },
  "Audi": {
    "Audi e-tron Sportback": {
      "link": "https://www.cars-data.com/en/audi/e-tron-sportback"
    },
    "Audi Q3 Sportback": {
      "link": "https://www.cars-data.com/en/audi/q3-sportback"
    },
    "Audi RS5 Sportback": {
      "link": "https://www.cars-data.com/en/audi/rs5-sportback"
    },
    "Audi Q8": {
      "link": "https://www.cars-data.com/en/audi/q8"
    },
    "Audi e-tron": {
      "link": "https://www.cars-data.com/en/audi/e-tron"
    },
    "Audi RS3 Limousine": {
      "link": "https://www.cars-data.com/en/audi/rs3-limousine"
    },
    "Audi R8 Coupe": {
      "link": "https://www.cars-data.com/en/audi/r8-coupe"
    },
    "Audi Q2": {
      "link": "https://www.cars-data.com/en/audi/q2"
    },
    "Audi S3 Cabriolet": {
      "link": "https://www.cars-data.com/en/audi/s3-cabriolet"
    },
    "Audi S3 Limousine": {
      "link": "https://www.cars-data.com/en/audi/s3-limousine"
    },
    "Audi S7 Sportback": {
      "link": "https://www.cars-data.com/en/audi/s7-sportback"
    },
    "Audi S1": {
      "link": "https://www.cars-data.com/en/audi/s1"
    },
    "Audi S1 Sportback": {
      "link": "https://www.cars-data.com/en/audi/s1-sportback"
    },
    "Audi RS7 Sportback": {
      "link": "https://www.cars-data.com/en/audi/rs7-sportback"
    },
    "Audi RS5 Cabriolet": {
      "link": "https://www.cars-data.com/en/audi/rs5-cabriolet"
    },
    "Audi A3 Limousine": {
      "link": "https://www.cars-data.com/en/audi/a3-limousine"
    },
    "Audi A1 Sportback": {
      "link": "https://www.cars-data.com/en/audi/a1-sportback"
    },
    "Audi RS5 Coupe": {
      "link": "https://www.cars-data.com/en/audi/rs5-coupe"
    },
    "Audi S5 Sportback": {
      "link": "https://www.cars-data.com/en/audi/s5-sportback"
    },
    "Audi RS3 Sportback": {
      "link": "https://www.cars-data.com/en/audi/rs3-sportback"
    },
    "Audi Q3": {
      "link": "https://www.cars-data.com/en/audi/q3"
    },
    "Audi R8 Spyder": {
      "link": "https://www.cars-data.com/en/audi/r8-spyder"
    },
    "Audi A7 Sportback": {
      "link": "https://www.cars-data.com/en/audi/a7-sportback"
    },
    "Audi A1": {
      "link": "https://www.cars-data.com/en/audi/a1"
    },
    "Audi A4 allroad": {
      "link": "https://www.cars-data.com/en/audi/a4-allroad"
    },
    "Audi S5 Cabriolet": {
      "link": "https://www.cars-data.com/en/audi/s5-cabriolet"
    },
    "Audi A5 Cabriolet": {
      "link": "https://www.cars-data.com/en/audi/a5-cabriolet"
    },
    "Audi A5 Sportback": {
      "link": "https://www.cars-data.com/en/audi/a5-sportback"
    },
    "Audi A3 Cabriolet": {
      "link": "https://www.cars-data.com/en/audi/a3-cabriolet"
    },
    "Audi S3 Sportback": {
      "link": "https://www.cars-data.com/en/audi/s3-sportback"
    },
    "Audi Q5": {
      "link": "https://www.cars-data.com/en/audi/q5"
    },
    "Audi R8": {
      "link": "https://www.cars-data.com/en/audi/r8"
    },
    "Audi S5 Coupe": {
      "link": "https://www.cars-data.com/en/audi/s5-coupe"
    },
    "Audi A5 Coupe": {
      "link": "https://www.cars-data.com/en/audi/a5-coupe"
    },
    "Audi Q7": {
      "link": "https://www.cars-data.com/en/audi/q7"
    },
    "Audi RS4 Cabriolet": {
      "link": "https://www.cars-data.com/en/audi/rs4-cabriolet"
    },
    "Audi RS4": {
      "link": "https://www.cars-data.com/en/audi/rs4"
    },
    "Audi A3 Sportback": {
      "link": "https://www.cars-data.com/en/audi/a3-sportback"
    },
    "Audi S4 Cabriolet": {
      "link": "https://www.cars-data.com/en/audi/s4-cabriolet"
    },
    "Audi A4 Cabriolet": {
      "link": "https://www.cars-data.com/en/audi/a4-cabriolet"
    },
    "Audi RS6 Avant": {
      "link": "https://www.cars-data.com/en/audi/rs6-avant"
    },
    "Audi RS6": {
      "link": "https://www.cars-data.com/en/audi/rs6"
    },
    "Audi A6 Avant": {
      "link": "https://www.cars-data.com/en/audi/a6-avant"
    },
    "Audi A6 allroad": {
      "link": "https://www.cars-data.com/en/audi/a6-allroad"
    },
    "Audi S3": {
      "link": "https://www.cars-data.com/en/audi/s3"
    },
    "Audi RS4 Avant": {
      "link": "https://www.cars-data.com/en/audi/rs4-avant"
    },
    "Audi A2": {
      "link": "https://www.cars-data.com/en/audi/a2"
    },
    "Audi TT Roadster": {
      "link": "https://www.cars-data.com/en/audi/tt-roadster"
    },
    "Audi TT Coupe": {
      "link": "https://www.cars-data.com/en/audi/tt-coupe"
    },
    "Audi S4": {
      "link": "https://www.cars-data.com/en/audi/s4"
    },
    "Audi S4 Avant": {
      "link": "https://www.cars-data.com/en/audi/s4-avant"
    },
    "Audi S8": {
      "link": "https://www.cars-data.com/en/audi/s8"
    },
    "Audi A4 Avant": {
      "link": "https://www.cars-data.com/en/audi/a4-avant"
    },
    "Audi A3": {
      "link": "https://www.cars-data.com/en/audi/a3"
    },
    "Audi A4": {
      "link": "https://www.cars-data.com/en/audi/a4"
    },
    "Audi A6": {
      "link": "https://www.cars-data.com/en/audi/a6"
    },
    "Audi S6 Avant": {
      "link": "https://www.cars-data.com/en/audi/s6-avant"
    },
    "Audi S6": {
      "link": "https://www.cars-data.com/en/audi/s6"
    },
    "Audi A8": {
      "link": "https://www.cars-data.com/en/audi/a8"
    },
    "Audi Cabriolet": {
      "link": "https://www.cars-data.com/en/audi/cabriolet"
    },
    "Audi 80 Avant": {
      "link": "https://www.cars-data.com/en/audi/80-avant"
    },
    "Audi V8": {
      "link": "https://www.cars-data.com/en/audi/v8"
    },
    "Audi 200 Avant": {
      "link": "https://www.cars-data.com/en/audi/200-avant"
    },
    "Audi 90": {
      "link": "https://www.cars-data.com/en/audi/90"
    },
    "Audi 200": {
      "link": "https://www.cars-data.com/en/audi/200"
    },
    "Audi Quattro": {
      "link": "https://www.cars-data.com/en/audi/quattro"
    },
    "Audi Coupe": {
      "link": "https://www.cars-data.com/en/audi/coupe"
    },
    "Audi 80": {
      "link": "https://www.cars-data.com/en/audi/80"
    },
    "Audi 100 Avant": {
      "link": "https://www.cars-data.com/en/audi/100-avant"
    },
    "Audi 100": {
      "link": "https://www.cars-data.com/en/audi/100"
    }
  },
  "Austin": {
    "Austin Montego Estate": {
      "link": "https://www.cars-data.com/en/austin/montego-estate"
    },
    "Austin Montego": {
      "link": "https://www.cars-data.com/en/austin/montego"
    },
    "Austin Maestro": {
      "link": "https://www.cars-data.com/en/austin/maestro"
    },
    "Austin Metro": {
      "link": "https://www.cars-data.com/en/austin/metro"
    },
    "Austin Allegro": {
      "link": "https://www.cars-data.com/en/austin/allegro"
    },
    "Austin Allegro Estate": {
      "link": "https://www.cars-data.com/en/austin/allegro-estate"
    },
    "Austin Mini": {
      "link": "https://www.cars-data.com/en/austin/mini"
    }
  },
  "Autobianchi": {
    "Autobianchi A112": {
      "link": "https://www.cars-data.com/en/autobianchi/a112"
    }
  },
  "Bentley": {
    "Bentley Bentayga": {
      "link": "https://www.cars-data.com/en/bentley/bentayga"
    },
    "Bentley Flying Spur": {
      "link": "https://www.cars-data.com/en/bentley/flying-spur"
    },
    "Bentley Continental GT Convertible": {
      "link": "https://www.cars-data.com/en/bentley/continental-gt-convertible"
    },
    "Bentley Mulsanne": {
      "link": "https://www.cars-data.com/en/bentley/mulsanne"
    },
    "Bentley Azure": {
      "link": "https://www.cars-data.com/en/bentley/azure"
    },
    "Bentley Continental GTC": {
      "link": "https://www.cars-data.com/en/bentley/continental-gtc"
    },
    "Bentley Continental Flying Spur": {
      "link": "https://www.cars-data.com/en/bentley/continental-flying-spur"
    },
    "Bentley Continental GT": {
      "link": "https://www.cars-data.com/en/bentley/continental-gt"
    },
    "Bentley Arnage": {
      "link": "https://www.cars-data.com/en/bentley/arnage"
    },
    "Bentley Brooklands": {
      "link": "https://www.cars-data.com/en/bentley/brooklands"
    },
    "Bentley Continental": {
      "link": "https://www.cars-data.com/en/bentley/continental"
    }
  },
  "BMW": {
    "BMW 2-series Gran Coupe": {
      "link": "https://www.cars-data.com/en/bmw/2-series-gran-coupe"
    },
    "BMW iX3": {
      "link": "https://www.cars-data.com/en/bmw/ix3"
    },
    "BMW 8-series Cabrio": {
      "link": "https://www.cars-data.com/en/bmw/8-series-cabrio"
    },
    "BMW 8-series Gran Coupe": {
      "link": "https://www.cars-data.com/en/bmw/8-series-gran-coupe"
    },
    "BMW X7": {
      "link": "https://www.cars-data.com/en/bmw/x7"
    },
    "BMW i8 Roadster": {
      "link": "https://www.cars-data.com/en/bmw/i8-roadster"
    },
    "BMW i8 Coupe": {
      "link": "https://www.cars-data.com/en/bmw/i8-coupe"
    },
    "BMW X2": {
      "link": "https://www.cars-data.com/en/bmw/x2"
    },
    "BMW 8-series Coupe": {
      "link": "https://www.cars-data.com/en/bmw/8-series-coupe"
    },
    "BMW 6-series GT": {
      "link": "https://www.cars-data.com/en/bmw/6-series-gt"
    },
    "BMW 2-series Cabrio": {
      "link": "https://www.cars-data.com/en/bmw/2-series-cabrio"
    },
    "BMW 2-series Gran Tourer": {
      "link": "https://www.cars-data.com/en/bmw/2-series-gran-tourer"
    },
    "BMW 2-series Coupe": {
      "link": "https://www.cars-data.com/en/bmw/2-series-coupe"
    },
    "BMW 4-series Cabrio": {
      "link": "https://www.cars-data.com/en/bmw/4-series-cabrio"
    },
    "BMW 4-series Gran Coupe": {
      "link": "https://www.cars-data.com/en/bmw/4-series-gran-coupe"
    },
    "BMW 2-series Active Tourer": {
      "link": "https://www.cars-data.com/en/bmw/2-series-active-tourer"
    },
    "BMW X4": {
      "link": "https://www.cars-data.com/en/bmw/x4"
    },
    "BMW i8": {
      "link": "https://www.cars-data.com/en/bmw/i8"
    },
    "BMW 3-series Gran Turismo": {
      "link": "https://www.cars-data.com/en/bmw/3-series-gran-turismo"
    },
    "BMW 4-series Coupe": {
      "link": "https://www.cars-data.com/en/bmw/4-series-coupe"
    },
    "BMW i3": {
      "link": "https://www.cars-data.com/en/bmw/i3"
    },
    "BMW 6-series Gran Coupe": {
      "link": "https://www.cars-data.com/en/bmw/6-series-gran-coupe"
    },
    "BMW 6-series Coupe": {
      "link": "https://www.cars-data.com/en/bmw/6-series-coupe"
    },
    "BMW 1-series Cabrio": {
      "link": "https://www.cars-data.com/en/bmw/1-series-cabrio"
    },
    "BMW X1": {
      "link": "https://www.cars-data.com/en/bmw/x1"
    },
    "BMW 5-series Gran Turismo": {
      "link": "https://www.cars-data.com/en/bmw/5-series-gran-turismo"
    },
    "BMW X6": {
      "link": "https://www.cars-data.com/en/bmw/x6"
    },
    "BMW 1-series Coupe": {
      "link": "https://www.cars-data.com/en/bmw/1-series-coupe"
    },
    "BMW Z4 Coupe": {
      "link": "https://www.cars-data.com/en/bmw/z4-coupe"
    },
    "BMW Z4 Roadster": {
      "link": "https://www.cars-data.com/en/bmw/z4-roadster"
    },
    "BMW 6-series Cabrio": {
      "link": "https://www.cars-data.com/en/bmw/6-series-cabrio"
    },
    "BMW 1-series": {
      "link": "https://www.cars-data.com/en/bmw/1-series"
    },
    "BMW X3": {
      "link": "https://www.cars-data.com/en/bmw/x3"
    },
    "BMW Z8": {
      "link": "https://www.cars-data.com/en/bmw/z8"
    },
    "BMW X5": {
      "link": "https://www.cars-data.com/en/bmw/x5"
    },
    "BMW Z3 coupe": {
      "link": "https://www.cars-data.com/en/bmw/z3-coupe"
    },
    "BMW Z3 roadster": {
      "link": "https://www.cars-data.com/en/bmw/z3-roadster"
    },
    "BMW 3-series Compact": {
      "link": "https://www.cars-data.com/en/bmw/3-series-compact"
    },
    "BMW 3-series Coupe": {
      "link": "https://www.cars-data.com/en/bmw/3-series-coupe"
    },
    "BMW 5-series Touring": {
      "link": "https://www.cars-data.com/en/bmw/5-series-touring"
    },
    "BMW 8-series": {
      "link": "https://www.cars-data.com/en/bmw/8-series"
    },
    "BMW Z1": {
      "link": "https://www.cars-data.com/en/bmw/z1"
    },

In [4]:
"""
Preprocessing of all the manufacturers and cars_data_level1

1. Remove '-' from the manufacturer name otherwise it will be an issue when matching name with the models available in the dataset
2. Convert all the names to lowercase
"""

def preprocess_manufacturers(manufacturers):
    # Preprocess all the manufacturers names to remove '-' from their names and convert 
    return list(map(lambda manufacturer: manufacturer.replace("-"," ").upper(), manufacturers))

def preprocess_cars_data_level1(cars_data_level1):
    all_cars_data = {}
    for manufacturer, models in cars_data_level1.items():
        manufacturer = manufacturer.upper()
        all_cars_data[manufacturer] = {}
        for model in models:
            all_cars_data[manufacturer][model.upper()] = models[model]
    return all_cars_data

manufacturers = preprocess_manufacturers(manufacturers)
cars_data_level1 = preprocess_cars_data_level1(cars_data_level1)
print(manufacturers)
pprint(cars_data_level1)

['ABARTH', 'AIWAYS', 'ALFA ROMEO', 'ALPINE', 'ASIA MOTORS', 'ASTON MARTIN', 'AUDI', 'AUSTIN', 'AUTOBIANCHI', 'BENTLEY', 'BMW', 'BUGATTI', 'BUICK', 'CADILLAC', 'CARVER', 'CHEVROLET', 'CHRYSLER', 'CITROEN', 'CORVETTE', 'CUPRA', 'DACIA', 'DAEWOO', 'DAIHATSU', 'DAIMLER', 'DATSUN', 'DODGE', 'DONKERVOORT', 'DS', 'FERRARI', 'FIAT', 'FISKER', 'FORD', 'FSO', 'GALLOPER', 'HONDA', 'HUMMER', 'HYUNDAI', 'INFINITI', 'INNOCENTI', 'IVECO', 'JAGUAR', 'JEEP', 'JOSSE', 'KIA', 'LADA', 'LAMBORGHINI', 'LANCIA', 'LAND ROVER', 'LANDWIND', 'LEXUS', 'LINCOLN', 'LOTUS', 'MARCOS', 'MASERATI', 'MAYBACH', 'MAZDA', 'MCLAREN', 'MEGA', 'MERCEDES BENZ', 'MERCURY', 'MG', 'MINI', 'MITSUBISHI', 'MORGAN', 'MORRIS', 'NISSAN', 'NOBLE', 'OPEL', 'PEUGEOT', 'PGO', 'POLESTAR', 'PONTIAC', 'PORSCHE', 'PRINCESS', 'RENAULT', 'ROLLS ROYCE', 'ROVER', 'SAAB', 'SEAT', 'SKODA', 'SMART', 'SPECTRE', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TALBOT', 'TESLA', 'THINK', 'TOYOTA', 'TRIUMPH', 'TVR', 'VOLKSWAGEN', 'VOLVO', 'YUGO']
{
    "ABARTH": {
        "ABARTH 124 SPIDER": {
            "link": "https://www.cars-data.com/en/abarth/124-spider"
        },
        "ABARTH 595": {
            "link": "https://www.cars-data.com/en/abarth/595"
        },
        "ABARTH 595 CABRIO": {
            "link": "https://www.cars-data.com/en/abarth/595-cabrio"
        },
        "ABARTH 695": {
            "link": "https://www.cars-data.com/en/abarth/695"
        },
        "ABARTH 500C": {
            "link": "https://www.cars-data.com/en/abarth/500c"
        },
        "ABARTH PUNTO EVO": {
            "link": "https://www.cars-data.com/en/abarth/punto-evo"
        },
        "ABARTH 500": {
            "link": "https://www.cars-data.com/en/abarth/500"
        },
        "ABARTH GRANDE PUNTO": {
            "link": "https://www.cars-data.com/en/abarth/grande-punto"
        }
    },
    "AIWAYS": {
        "AIWAYS U5": {
            "link": "https://www.cars-data.com/en/aiways/u5"
        }
    },
    "ALFA ROMEO": {
        "ALFA ROMEO STELVIO": {
            "link": "https://www.cars-data.com/en/alfa-romeo/stelvio"
        },
        "ALFA ROMEO GIULIA": {
            "link": "https://www.cars-data.com/en/alfa-romeo/giulia"
        },
        "ALFA ROMEO 4C SPIDER": {
            "link": "https://www.cars-data.com/en/alfa-romeo/4c-spider"
        },
        "ALFA ROMEO 4C": {
            "link": "https://www.cars-data.com/en/alfa-romeo/4c"
        },
        "ALFA ROMEO 8C SPIDER": {
            "link": "https://www.cars-data.com/en/alfa-romeo/8c-spider"
        },
        "ALFA ROMEO 8C COMPETIZIONE": {
            "link": "https://www.cars-data.com/en/alfa-romeo/8c-competizione"
        },
        "ALFA ROMEO MITO": {
            "link": "https://www.cars-data.com/en/alfa-romeo/mito"
        },
        "ALFA ROMEO BRERA": {
            "link": "https://www.cars-data.com/en/alfa-romeo/brera"
        },
        "ALFA ROMEO 159 SPORTWAGON": {
            "link": "https://www.cars-data.com/en/alfa-romeo/159-sportwagon"
        },
        "ALFA ROMEO CROSSWAGON": {
            "link": "https://www.cars-data.com/en/alfa-romeo/crosswagon"
        },
        "ALFA ROMEO 159": {
            "link": "https://www.cars-data.com/en/alfa-romeo/159"
        },
        "ALFA ROMEO GT": {
            "link": "https://www.cars-data.com/en/alfa-romeo/gt"
        },
        "ALFA ROMEO 147": {
            "link": "https://www.cars-data.com/en/alfa-romeo/147"
        },
        "ALFA ROMEO 156 SPORTWAGON": {
            "link": "https://www.cars-data.com/en/alfa-romeo/156-sportwagon"
        },
        "ALFA ROMEO 166": {
            "link": "https://www.cars-data.com/en/alfa-romeo/166"
        },
        "ALFA ROMEO 156": {
            "link": "https://www.cars-data.com/en/alfa-romeo/156"
        },
        "ALFA ROMEO 146": {
            "link": "https://www.cars-data.com/en/alfa-romeo/146"
        },
        "ALFA ROMEO SPIDER": {
            "link": "https://www.cars-data.com/en/alfa-romeo/spider"
        },
        "ALFA ROMEO 145": {
            "link": "https://www.cars-data.com/en/alfa-romeo/145"
        },
        "ALFA ROMEO 155": {
            "link": "https://www.cars-data.com/en/alfa-romeo/155"
        },
        "ALFA ROMEO 33 SPORTWAGON": {
            "link": "https://www.cars-data.com/en/alfa-romeo/33-sportwagon"
        },
        "ALFA ROMEO 164": {
            "link": "https://www.cars-data.com/en/alfa-romeo/164"
        },
        "ALFA ROMEO 75": {
            "link": "https://www.cars-data.com/en/alfa-romeo/75"
        },
        "ALFA ROMEO 33 GIARDINETTA": {
            "link": "https://www.cars-data.com/en/alfa-romeo/33-giardinetta"
        },
        "ALFA ROMEO 90": {
            "link": "https://www.cars-data.com/en/alfa-romeo/90"
        },
        "ALFA ROMEO 33": {
            "link": "https://www.cars-data.com/en/alfa-romeo/33"
        },
        "ALFA ROMEO GTV": {
            "link": "https://www.cars-data.com/en/alfa-romeo/gtv"
        },
        "ALFA ROMEO ALFASUD": {
            "link": "https://www.cars-data.com/en/alfa-romeo/alfasud"
        },
        "ALFA ROMEO ALFA 6": {
            "link": "https://www.cars-data.com/en/alfa-romeo/alfa-6"
        },
        "ALFA ROMEO GIULIETTA": {
            "link": "https://www.cars-data.com/en/alfa-romeo/giulietta"
        },
        "ALFA ROMEO SPRINT": {
            "link": "https://www.cars-data.com/en/alfa-romeo/sprint"
        },
        "ALFA ROMEO ALFETTA GTV": {
            "link": "https://www.cars-data.com/en/alfa-romeo/alfetta-gtv"
        },
        "ALFA ROMEO ALFETTA": {
            "link": "https://www.cars-data.com/en/alfa-romeo/alfetta"
        }
    },
    "ALPINE": {
        "ALPINE A110": {
            "link": "https://www.cars-data.com/en/alpine/a110"
        }
    },
    "ASIA MOTORS": {
        "ASIA MOTORS ROCSTA": {
            "link": "https://www.cars-data.com/en/asia-motors/rocsta"
        }
    },
    "ASTON MARTIN": {
        "ASTON MARTIN DB11 VOLANTE": {
            "link": "https://www.cars-data.com/en/aston-martin/db11-volante"
        },
        "ASTON MARTIN VANTAGE": {
            "link": "https://www.cars-data.com/en/aston-martin/vantage"
        },
        "ASTON MARTIN DB11 COUPE": {
            "link": "https://www.cars-data.com/en/aston-martin/db11-coupe"
        },
        "ASTON MARTIN VANQUISH VOLANTE": {
            "link": "https://www.cars-data.com/en/aston-martin/vanquish-volante"
        },
        "ASTON MARTIN VIRAGE VOLANTE": {
            "link": "https://www.cars-data.com/en/aston-martin/virage-volante"
        },
        "ASTON MARTIN VANQUISH": {
            "link": "https://www.cars-data.com/en/aston-martin/vanquish"
        },
        "ASTON MARTIN DB9 COUPE": {
            "link": "https://www.cars-data.com/en/aston-martin/db9-coupe"
        },
        "ASTON MARTIN V12 VANTAGE ROADSTER": {
            "link": "https://www.cars-data.com/en/aston-martin/v12-vantage-roadster"
        },
        "ASTON MARTIN CYGNET": {
            "link": "https://www.cars-data.com/en/aston-martin/cygnet"
        },
        "ASTON MARTIN V12 VANTAGE COUPE": {
            "link": "https://www.cars-data.com/en/aston-martin/v12-vantage-coupe"
        },
        "ASTON MARTIN DBS VOLANTE": {
            "link": "https://www.cars-data.com/en/aston-martin/dbs-volante"
        },
        "ASTON MARTIN RAPIDE": {
            "link": "https://www.cars-data.com/en/aston-martin/rapide"
        },
        "ASTON MARTIN DBS": {
            "link": "https://www.cars-data.com/en/aston-martin/dbs"
        },
        "ASTON MARTIN V8 VANTAGE ROADSTER": {
            "link": "https://www.cars-data.com/en/aston-martin/v8-vantage-roadster"
        },
        "ASTON MARTIN V8 VANTAGE": {
            "link": "https://www.cars-data.com/en/aston-martin/v8-vantage"
        },
        "ASTON MARTIN DB9": {
            "link": "https://www.cars-data.com/en/aston-martin/db9"
        },
        "ASTON MARTIN DB9 VOLANTE": {
            "link": "https://www.cars-data.com/en/aston-martin/db9-volante"
        },
        "ASTON MARTIN V12 VANQUISH": {
            "link": "https://www.cars-data.com/en/aston-martin/v12-vanquish"
        },
        "ASTON MARTIN V8 VOLANTE": {
            "link": "https://www.cars-data.com/en/aston-martin/v8-volante"
        },
        "ASTON MARTIN V8 COUPE": {
            "link": "https://www.cars-data.com/en/aston-martin/v8-coupe"
        },
        "ASTON MARTIN DB7 VOLANTE": {
            "link": "https://www.cars-data.com/en/aston-martin/db7-volante"
        },
        "ASTON MARTIN DB7": {
            "link": "https://www.cars-data.com/en/aston-martin/db7"
        },
        "ASTON MARTIN VOLANTE": {
            "link": "https://www.cars-data.com/en/aston-martin/volante"
        },
        "ASTON MARTIN VIRAGE": {
            "link": "https://www.cars-data.com/en/aston-martin/virage"
        }
    },
    "AUDI": {
        "AUDI E-TRON SPORTBACK": {
            "link": "https://www.cars-data.com/en/audi/e-tron-sportback"
        },
        "AUDI Q3 SPORTBACK": {
            "link": "https://www.cars-data.com/en/audi/q3-sportback"
        },
        "AUDI RS5 SPORTBACK": {
            "link": "https://www.cars-data.com/en/audi/rs5-sportback"
        },
        "AUDI Q8": {
            "link": "https://www.cars-data.com/en/audi/q8"
        },
        "AUDI E-TRON": {
            "link": "https://www.cars-data.com/en/audi/e-tron"
        },
        "AUDI RS3 LIMOUSINE": {
            "link": "https://www.cars-data.com/en/audi/rs3-limousine"
        },
        "AUDI R8 COUPE": {
            "link": "https://www.cars-data.com/en/audi/r8-coupe"
        },
        "AUDI Q2": {
            "link": "https://www.cars-data.com/en/audi/q2"
        },
        "AUDI S3 CABRIOLET": {
            "link": "https://www.cars-data.com/en/audi/s3-cabriolet"
        },
        "AUDI S3 LIMOUSINE": {
            "link": "https://www.cars-data.com/en/audi/s3-limousine"
        },
        "AUDI S7 SPORTBACK": {
            "link": "https://www.cars-data.com/en/audi/s7-sportback"
        },
        "AUDI S1": {
            "link": "https://www.cars-data.com/en/audi/s1"
        },
        "AUDI S1 SPORTBACK": {
            "link": "https://www.cars-data.com/en/audi/s1-sportback"
        },
        "AUDI RS7 SPORTBACK": {
            "link": "https://www.cars-data.com/en/audi/rs7-sportback"
        },
        "AUDI RS5 CABRIOLET": {
            "link": "https://www.cars-data.com/en/audi/rs5-cabriolet"
        },
        "AUDI A3 LIMOUSINE": {
            "link": "https://www.cars-data.com/en/audi/a3-limousine"
        },
        "AUDI A1 SPORTBACK": {
            "link": "https://www.cars-data.com/en/audi/a1-sportback"
        },
        "AUDI RS5 COUPE": {
            "link": "https://www.cars-data.com/en/audi/rs5-coupe"
        },
        "AUDI S5 SPORTBACK": {
            "link": "https://www.cars-data.com/en/audi/s5-sportback"
        },
        "AUDI RS3 SPORTBACK": {
            "link": "https://www.cars-data.com/en/audi/rs3-sportback"
        },
        "AUDI Q3": {
            "link": "https://www.cars-data.com/en/audi/q3"
        },
        "AUDI R8 SPYDER": {
            "link": "https://www.cars-data.com/en/audi/r8-spyder"
        },
        "AUDI A7 SPORTBACK": {
            "link": "https://www.cars-data.com/en/audi/a7-sportback"
        },
        "AUDI A1": {
            "link": "https://www.cars-data.com/en/audi/a1"
        },
        "AUDI A4 ALLROAD": {
            "link": "https://www.cars-data.com/en/audi/a4-allroad"
        },
        "AUDI S5 CABRIOLET": {
            "link": "https://www.cars-data.com/en/audi/s5-cabriolet"
        },
        "AUDI A5 CABRIOLET": {
            "link": "https://www.cars-data.com/en/audi/a5-cabriolet"
        },
        "AUDI A5 SPORTBACK": {
            "link": "https://www.cars-data.com/en/audi/a5-sportback"
        },
        "AUDI A3 CABRIOLET": {
            "link": "https://www.cars-data.com/en/audi/a3-cabriolet"
        },
        "AUDI S3 SPORTBACK": {
            "link": "https://www.cars-data.com/en/audi/s3-sportback"
        },
        "AUDI Q5": {
            "link": "https://www.cars-data.com/en/audi/q5"
        },
        "AUDI R8": {
            "link": "https://www.cars-data.com/en/audi/r8"
        },
        "AUDI S5 COUPE": {
            "link": "https://www.cars-data.com/en/audi/s5-coupe"
        },
        "AUDI A5 COUPE": {
            "link": "https://www.cars-data.com/en/audi/a5-coupe"
        },
        "AUDI Q7": {
            "link": "https://www.cars-data.com/en/audi/q7"
        },
        "AUDI RS4 CABRIOLET": {
            "link": "https://www.cars-data.com/en/audi/rs4-cabriolet"
        },
        "AUDI RS4": {
            "link": "https://www.cars-data.com/en/audi/rs4"
        },
        "AUDI A3 SPORTBACK": {
            "link": "https://www.cars-data.com/en/audi/a3-sportback"
        },
        "AUDI S4 CABRIOLET": {
            "link": "https://www.cars-data.com/en/audi/s4-cabriolet"
        },
        "AUDI A4 CABRIOLET": {
            "link": "https://www.cars-data.com/en/audi/a4-cabriolet"
        },
        "AUDI RS6 AVANT": {
            "link": "https://www.cars-data.com/en/audi/rs6-avant"
        },
        "AUDI RS6": {
            "link": "https://www.cars-data.com/en/audi/rs6"
        },
        "AUDI A6 AVANT": {
            "link": "https://www.cars-data.com/en/audi/a6-avant"
        },
        "AUDI A6 ALLROAD": {
            "link": "https://www.cars-data.com/en/audi/a6-allroad"
        },
        "AUDI S3": {
            "link": "https://www.cars-data.com/en/audi/s3"
        },
        "AUDI RS4 AVANT": {
            "link": "https://www.cars-data.com/en/audi/rs4-avant"
        },
        "AUDI A2": {
            "link": "https://www.cars-data.com/en/audi/a2"
        },
        "AUDI TT ROADSTER": {
            "link": "https://www.cars-data.com/en/audi/tt-roadster"
        },
        "AUDI TT COUPE": {
            "link": "https://www.cars-data.com/en/audi/tt-coupe"
        },
        "AUDI S4": {
            "link": "https://www.cars-data.com/en/audi/s4"
        },
        "AUDI S4 AVANT": {
            "link": "https://www.cars-data.com/en/audi/s4-avant"
        },
        "AUDI S8": {
            "link": "https://www.cars-data.com/en/audi/s8"
        },
        "AUDI A4 AVANT": {
            "link": "https://www.cars-data.com/en/audi/a4-avant"
        },
        "AUDI A3": {
            "link": "https://www.cars-data.com/en/audi/a3"
        },
        "AUDI A4": {
            "link": "https://www.cars-data.com/en/audi/a4"
        },
        "AUDI A6": {
            "link": "https://www.cars-data.com/en/audi/a6"
        },
        "AUDI S6 AVANT": {
            "link": "https://www.cars-data.com/en/audi/s6-avant"
        },
        "AUDI S6": {
            "link": "https://www.cars-data.com/en/audi/s6"
        },
        "AUDI A8": {
            "link": "https://www.cars-data.com/en/audi/a8"
        },
        "AUDI CABRIOLET": {
            "link": "https://www.cars-data.com/en/audi/cabriolet"
        },
        "AUDI 80 AVANT": {
            "link": "https://www.cars-data.com/en/audi/80-avant"
        },
        "AUDI V8": {
            "link": "https://www.cars-data.com/en/audi/v8"
        },
        "AUDI 200 AVANT": {
            "link": "https://www.cars-data.com/en/audi/200-avant"
        },
        "AUDI 90": {
            "link": "https://www.cars-data.com/en/audi/90"
        },
        "AUDI 200": {
            "link": "https://www.cars-data.com/en/audi/200"
        },
        "AUDI QUATTRO": {
            "link": "https://www.cars-data.com/en/audi/quattro"
        },
        "AUDI COUPE": {
            "link": "https://www.cars-data.com/en/audi/coupe"
        },
        "AUDI 80": {
            "link": "https://www.cars-data.com/en/audi/80"
        },
        "AUDI 100 AVANT": {
            "link": "https://www.cars-data.com/en/audi/100-avant"
        },
        "AUDI 100": {
            "link": "https://www.cars-data.com/en/audi/100"
        }
    },
    "AUSTIN": {
        "AUSTIN MONTEGO ESTATE": {
            "link": "https://www.cars-data.com/en/austin/montego-estate"
        },
        "AUSTIN MONTEGO": {
            "link": "https://www.cars-data.com/en/austin/montego"
        },
        "AUSTIN MAESTRO": {
            "link": "https://www.cars-data.com/en/austin/maestro"
        },
        "AUSTIN METRO": {
            "link": "https://www.cars-data.com/en/austin/metro"
        },
        "AUSTIN ALLEGRO": {
            "link": "https://www.cars-data.com/en/austin/allegro"
        },
        "AUSTIN ALLEGRO ESTATE": {
            "link": "https://www.cars-data.com/en/austin/allegro-estate"
        },
        "AUSTIN MINI": {
            "link": "https://www.cars-data.com/en/austin/mini"
        }
    },
    "AUTOBIANCHI": {
        "AUTOBIANCHI A112": {
            "link": "https://www.cars-data.com/en/autobianchi/a112"
        }
    },
    "BENTLEY": {
        "BENTLEY BENTAYGA": {
            "link": "https://www.cars-data.com/en/bentley/bentayga"
        },
        "BENTLEY FLYING SPUR": {
            "link": "https://www.cars-data.com/en/bentley/flying-spur"
        },
        "BENTLEY CONTINENTAL GT CONVERTIBLE": {
            "link": "https://www.cars-data.com/en/bentley/continental-gt-convertible"
        },
        "BENTLEY MULSANNE": {
            "link": "https://www.cars-data.com/en/bentley/mulsanne"
        },
        "BENTLEY AZURE": {
            "link": "https://www.cars-data.com/en/bentley/azure"
        },
        "BENTLEY CONTINENTAL GTC": {
            "link": "https://www.cars-data.com/en/bentley/continental-gtc"
        },
        "BENTLEY CONTINENTAL FLYING SPUR": {
            "link": "https://www.cars-data.com/en/bentley/continental-flying-spur"
        },
        "BENTLEY CONTINENTAL GT": {
            "link": "https://www.cars-data.com/en/bentley/continental-gt"
        },
        "BENTLEY ARNAGE": {
            "link": "https://www.cars-data.com/en/bentley/arnage"
        },
        "BENTLEY BROOKLANDS": {
            "link": "https://www.cars-data.com/en/bentley/brooklands"
        },
        "BENTLEY CONTINENTAL": {
            "link": "https://www.cars-data.com/en/bentley/continental"
        }
    },
    "BMW": {
        "BMW 2-SERIES GRAN COUPE": {
            "link": "https://www.cars-data.com/en/bmw/2-series-gran-coupe"
        },
        "BMW IX3": {
            "link": "https://www.cars-data.com/en/bmw/ix3"
        },
        "BMW 8-SERIES CABRIO": {
            "link": "https://www.cars-data.com/en/bmw/8-series-cabrio"
        },
        "BMW 8-SERIES GRAN COUPE": {
            "link": "https://www.cars-data.com/en/bmw/8-series-gran-coupe"
        },
        "BMW X7": {
            "link": "https://www.cars-data.com/en/bmw/x7"
        },
        "BMW I8 ROADSTER": {
            "link": "https://www.cars-data.com/en/bmw/i8-roadster"
        },
        "BMW I8 COUPE": {
            "link": "https://www.cars-data.com/en/bmw/i8-coupe"
        },
        "BMW X2": {
            "link": "https://www.cars-data.com/en/bmw/x2"
        },
        "BMW 8-SERIES COUPE": {
            "link": "https://www.cars-data.com/en/bmw/8-series-coupe"
        },
        "BMW 6-SERIES GT": {
            "link": "https://www.cars-data.com/en/bmw/6-series-gt"
        },
        "BMW 2-SERIES CABRIO": {
            "link": "https://www.cars-data.com/en/bmw/2-series-cabrio"
        },
        "BMW 2-SERIES GRAN TOURER": {
            "link": "https://www.cars-data.com/en/bmw/2-series-gran-tourer"
        },
        "BMW 2-SERIES COUPE": {
            "link": "https://www.cars-data.com/en/bmw/2-series-coupe"
        },
        "BMW 4-SERIES CABRIO": {
            "link": "https://www.cars-data.com/en/bmw/4-series-cabrio"
        },
        "BMW 4-SERIES GRAN COUPE": {
            "link": "https://www.cars-data.com/en/bmw/4-series-gran-coupe"
        },

In [5]:
"""
Load the dataset using pandas and display top 10 rows
"""
dataset = pd.read_csv('./150106-D-private Cars lic 1995 to 2013 Model gender-MD.csv')
dataset.head(10)

,Year,Make/Model,Male,Female,Unknown,Total,Male.1,Female.1,Unknown.1
0,2013,ABARTH 500,2305,1697,180,4182,55%,41%,4%
1,2012,ABARTH 500,2081,1373,155,3609,58%,38%,4%
2,2011,ABARTH 500,1637,1000,142,2779,59%,36%,5%
3,2010,ABARTH 500,1101,649,93,1843,60%,35%,5%
4,2009,ABARTH 500,606,280,38,924,66%,30%,4%
5,2013,ABARTH 595,411,224,26,661,62%,34%,4%
6,2012,ABARTH 595,89,31,0,120,74%,26%,0%
7,2013,ABARTH 695,1,0,0,1,100%,0%,0%
8,2013,ABARTH Model Missing,14,4,0,18,78%,22%,0%
9,2012,ABARTH Model Missing,11,4,0,15,73%,27%,0%

In [6]:
"""
Consider only the models with total sales >= 1000 for our further analysis.
A total of 847 models are left after this preprocessing step
"""
SALES_THRESHOLD = 1000
dataset_models = dataset.loc[dataset['Total'] >= SALES_THRESHOLD, 'Make/Model'].unique()
print(len(dataset_models))
print(dataset_models)

847
['ABARTH 500' 'ALFA ROMEO 145' 'ALFA ROMEO 146' 'ALFA ROMEO 147'
 'ALFA ROMEO 155' 'ALFA ROMEO 156' 'ALFA ROMEO 159' 'ALFA ROMEO 164'
 'ALFA ROMEO 166' 'ALFA ROMEO 33' 'ALFA ROMEO 75' 'ALFA ROMEO ALFASUD'
 'ALFA ROMEO BRERA' 'ALFA ROMEO GIULIETTA' 'ALFA ROMEO GT'
 'ALFA ROMEO GTV' 'ALFA ROMEO MITO' 'ALFA ROMEO Model Missing'
 'ALFA ROMEO SPIDER' 'ALFA ROMEO SPRINT' 'ASTON MARTIN DB7'
 'ASTON MARTIN DB9' 'ASTON MARTIN VANTAGE' 'AUDI 100' 'AUDI 200' 'AUDI 80'
 'AUDI 90' 'AUDI A1' 'AUDI A2' 'AUDI A3' 'AUDI A4' 'AUDI A5' 'AUDI A6'
 'AUDI A7' 'AUDI A8' 'AUDI ALLROAD' 'AUDI C' 'AUDI CABRIOLET' 'AUDI COUPE'
 'AUDI Model Missing' 'AUDI Q3' 'AUDI Q5' 'AUDI Q7' 'AUDI QUATTRO'
 'AUDI R8' 'AUDI RIO' 'AUDI RS4' 'AUDI RS6' 'AUDI S3' 'AUDI S4' 'AUDI S5'
 'AUDI TT' 'AUSTIN 1100' 'AUSTIN 1300' 'AUSTIN A35' 'AUSTIN A40'
 'AUSTIN ALLEGRO' 'AUSTIN AMBASSADOR' 'AUSTIN HEALEY'
 'AUSTIN HEALEY Model Missing' 'AUSTIN MAESTRO' 'AUSTIN MAXI'
 'AUSTIN METRO' 'AUSTIN MINI' 'AUSTIN Model Missing' 'AUSTIN MONTEGO'
 'AUSTIN MORRIS MAXI' 'AUSTIN MORRIS MINI' 'AUSTIN MORRIS PRINCESS'
 'AUSTIN SEVEN' 'BENTLEY ARNAGE' 'BENTLEY CONTINENTAL'
 'BENTLEY Model Missing' 'BMW 1 SERIES' 'BMW 3 SERIES' 'BMW 5 SERIES'
 'BMW 6 SERIES' 'BMW 7 SERIES' 'BMW 8 SERIES' 'BMW M1' 'BMW M3' 'BMW M5'
 'BMW Model Missing' 'BMW X1' 'BMW X3' 'BMW X5' 'BMW X6' 'BMW Z3' 'BMW Z4'
 'CADILLAC Model Missing' 'CATERHAM Model Missing' 'CHEVROLET AVEO'
 'CHEVROLET CAPTIVA' 'CHEVROLET CRUZE' 'CHEVROLET GMC CORVETTE'
 'CHEVROLET GMC Model Missing' 'CHEVROLET KALOS' 'CHEVROLET LACETTI'
 'CHEVROLET MATIZ' 'CHEVROLET Model Missing' 'CHEVROLET ORLANDO'
 'CHEVROLET SPARK' 'CHEVROLET TACUMA' 'CHRYSLER 300' 'CHRYSLER AVENGER'
 'CHRYSLER CROSSFIRE' 'CHRYSLER Model Missing' 'CHRYSLER NEON'
 'CHRYSLER PT CRUISER' 'CHRYSLER SEBRING' 'CHRYSLER SUNBEAM'
 'CHRYSLER VOYAGER' 'CHRYSLER YPSILON' 'CITROEN 2CV' 'CITROEN AX'
 'CITROEN BERLINGO' 'CITROEN BX' 'CITROEN C-CROSSER' 'CITROEN C1'
 'CITROEN C2' 'CITROEN C3' 'CITROEN C4' 'CITROEN C5' 'CITROEN C8'
 'CITROEN CX' 'CITROEN DS3' 'CITROEN DS4' 'CITROEN DS5' 'CITROEN DYANE'
 'CITROEN GSA' 'CITROEN LNA' 'CITROEN Model Missing' 'CITROEN NEMO'
 'CITROEN SAXO' 'CITROEN SYNERGIE' 'CITROEN VISA' 'CITROEN XANTIA'
 'CITROEN XM' 'CITROEN XSARA' 'CITROEN ZX' 'COLT 1400' 'COLT GALANT'
 'COLT HATCHBACK' 'COLT LANCER' 'COLT MITSUBISHI' 'COLT SHOGUN'
 'DACIA DUSTER' 'DACIA SANDERO' 'DAEWOO ESPERO' 'DAEWOO KALOS'
 'DAEWOO LACETTI' 'DAEWOO LANOS' 'DAEWOO LEGANZA' 'DAEWOO MATIZ'
 'DAEWOO MUSSO' 'DAEWOO NEXIA' 'DAEWOO NUBIRA' 'DAEWOO TACUMA'
 'DAIHATSU APPLAUSE' 'DAIHATSU CHARADE' 'DAIHATSU CHARMANT'
 'DAIHATSU COPEN' 'DAIHATSU CUORE' 'DAIHATSU DOMINO' 'DAIHATSU FOURTRAK'
 'DAIHATSU GRAND MOVE' 'DAIHATSU Model Missing' 'DAIHATSU MOVE'
 'DAIHATSU SIRION' 'DAIHATSU SPORTRAK' 'DAIHATSU TERIOS' 'DAIHATSU YRV'
 'DAIMLER 3.6' 'DAIMLER 4.0' 'DAIMLER 4.2' 'DAIMLER DOUBLE SIX'
 'DAIMLER Model Missing' 'DAIMLER SOVEREIGN' 'DAIMLER V8' 'DATSUN 100'
 'DATSUN 120' 'DATSUN 140' 'DATSUN 160' 'DATSUN BLUEBIRD' 'DATSUN CHERRY'
 'DATSUN LAUREL' 'DATSUN MICRA' 'DATSUN Model Missing' 'DATSUN PRAIRIE'
 'DATSUN STANZA' 'DATSUN SUNNY' 'DODGE CALIBER' 'DODGE JOURNEY'
 'DODGE Model Missing' 'DODGE NITRO' 'FERRARI 360' 'FERRARI F430'
 'FERRARI Model Missing' 'FIAT 1050' 'FIAT 126' 'FIAT 127' 'FIAT 128'
 'FIAT 500' 'FIAT BARCHETTA' 'FIAT BRAVA' 'FIAT BRAVO' 'FIAT CINQUECENTO'
 'FIAT COUPE' 'FIAT CROMA' 'FIAT DOBLO' 'FIAT IDEA' 'FIAT MAREA'
 'FIAT MIRAFIORI' 'FIAT Model Missing' 'FIAT MULTIPLA' 'FIAT PANDA'
 'FIAT PUNTO' 'FIAT QUBO' 'FIAT REGATA' 'FIAT SEDICI' 'FIAT SEICENTO'
 'FIAT STILO' 'FIAT STRADA' 'FIAT TEMPRA' 'FIAT TIPO' 'FIAT ULYSSE'
 'FIAT UNO' 'FIAT X1/9' 'FORD ANGLIA' 'FORD B-MAX' 'FORD C-MAX'
 'FORD CAPRI' 'FORD CONSUL' 'FORD CORTINA' 'FORD COUGAR' 'FORD ESCORT'
 'FORD EXPLORER' 'FORD FIESTA' 'FORD FOCUS' 'FORD FUSION' 'FORD GALAXY'
 'FORD GRANADA' 'FORD KA' 'FORD KUGA' 'FORD MAVERICK' 'FORD Model Missing'
 'FORD MONDEO' 'FORD MUSTANG' 'FORD ORION' 'FORD POPULAR' 'FORD PREFECT'
 'FORD PROBE' 'FORD PUMA' 'FORD S-MAX' 'FORD SAPPHIRE' 'FORD SCORPIO'
 'FORD SIERRA' 'FORD STREETKA' 'FORD TRANSIT' 'FORD ZEPHYR' 'FSO CARS 125'
 'FSO CARS POLONEZ' 'HILLMAN AVENGER' 'HILLMAN HUNTER' 'HILLMAN IMP'
 'HILLMAN MINX' 'HONDA ACCORD' 'HONDA BALLADE' 'HONDA CIVIC'
 'HONDA CONCERTO' 'HONDA CR-Z' 'HONDA CRV' 'HONDA CRX' 'HONDA FR-V'
 'HONDA HR-V' 'HONDA INSIGHT' 'HONDA INTEGRA' 'HONDA JAZZ' 'HONDA LEGEND'
 'HONDA LOGO' 'HONDA Model Missing' 'HONDA PRELUDE' 'HONDA QUINTET'
 'HONDA S2000' 'HONDA SHUTTLE' 'HONDA STREAM' 'HUMBER SCEPTRE'
 'HYUNDAI 1200' 'HYUNDAI ACCENT' 'HYUNDAI AMICA' 'HYUNDAI ATOZ'
 'HYUNDAI COUPE' 'HYUNDAI ELANTRA' 'HYUNDAI GETZ' 'HYUNDAI I10'
 'HYUNDAI I20' 'HYUNDAI I30' 'HYUNDAI I40' 'HYUNDAI I800' 'HYUNDAI IX20'
 'HYUNDAI IX35' 'HYUNDAI LANTRA' 'HYUNDAI MATRIX' 'HYUNDAI Model Missing'
 'HYUNDAI PONY' 'HYUNDAI S-COUPE' 'HYUNDAI SANTA' 'HYUNDAI SANTA FE'
 'HYUNDAI SONATA' 'HYUNDAI STELLAR' 'HYUNDAI TERRACAN' 'HYUNDAI TRAJET'
 'HYUNDAI TUCSON' 'HYUNDAI VELOSTER' 'HYUNDAI X2' 'ISUZU Model Missing'
 'ISUZU PIAZZA' 'ISUZU TROOPER' 'JAGUAR E TYPE' 'JAGUAR Model Missing'
 'JAGUAR S TYPE' 'JAGUAR SOVEREIGN' 'JAGUAR X TYPE' 'JAGUAR XF SERIES'
 'JAGUAR XJ SERIES' 'JAGUAR XK' 'JAGUAR XK SERIES' 'JAGUAR XK8'
 'JAGUAR XKR' 'JEEP CHEROKEE' 'JEEP COMMANDER' 'JEEP COMPASS'
 'JEEP PATRIOT' 'JEEP WRANGLER' 'KIA CARENS' 'KIA CEED' 'KIA CERATO'
 'KIA MAGENTIS' 'KIA MENTOR' 'KIA OPTIMA' 'KIA PICANTO' 'KIA PRIDE'
 'KIA RIO' 'KIA SEDONA' 'KIA SHUMA' 'KIA SORENTO' 'KIA SOUL'
 'KIA SPORTAGE' 'KIA VENGA' 'LADA 1200' 'LADA 1500' 'LADA NIVA'
 'LADA RIVA' 'LADA SAMARA' 'LANCIA DEDRA' 'LANCIA DELTA' 'LANCIA PRISMA'
 'LANCIA THEMA' 'LANCIA Y10' 'LAND ROVER 109' 'LAND ROVER 110'
 'LAND ROVER 88' 'LAND ROVER 90' 'LAND ROVER DEFENDER'
 'LAND ROVER DISCOVERY' 'LAND ROVER FREELANDER' 'LAND ROVER Model Missing'
 'LAND ROVER RANGE ROVER' 'LEXUS CT 200' 'LEXUS GS 450' 'LEXUS GS300'
 'LEXUS IS200' 'LEXUS IS220' 'LEXUS IS250' 'LEXUS IS300' 'LEXUS LS400'
 'LEXUS LS430' 'LEXUS RX 350' 'LEXUS RX 450' 'LEXUS RX300' 'LEXUS RX400'
 'LEXUS RX450' 'LEXUS SC430' 'LEYLAND CARS MAXI' 'LEYLAND CARS MINI'
 'LOTUS ECLAT' 'LOTUS ELAN' 'LOTUS ELISE' 'LOTUS ESPRIT'
 'MASERATI GRAN TURISMO' 'MAZDA 121' 'MAZDA 1300' 'MAZDA 1500' 'MAZDA 2'
 'MAZDA 3' 'MAZDA 323' 'MAZDA 5' 'MAZDA 6' 'MAZDA 626' 'MAZDA 929'
 'MAZDA CX5' 'MAZDA CX7' 'MAZDA DEMIO' 'MAZDA Model Missing' 'MAZDA MPV'
 'MAZDA MX-3' 'MAZDA MX-5' 'MAZDA MX-6' 'MAZDA PREMACY' 'MAZDA RX7'
 'MAZDA RX8' 'MAZDA TRIBUTE' 'MAZDA XEDOS' 'MCC SMART' 'MERCEDES 190'
 'MERCEDES 200' 'MERCEDES 300' 'MERCEDES 400' 'MERCEDES 500'
 'MERCEDES A CLASS' 'MERCEDES B CLASS' 'MERCEDES C CLASS'
 'MERCEDES CL CLASS' 'MERCEDES CLC' 'MERCEDES CLK' 'MERCEDES E CLASS'
 'MERCEDES GL CLASS' 'MERCEDES ML CLASS' 'MERCEDES Model Missing'
 'MERCEDES R CLASS' 'MERCEDES S CLASS' 'MERCEDES SL CLASS' 'MERCEDES SLK'
 'MERCEDES V CLASS' 'MERCEDES VANEO' 'MERCEDES VIANO' 'MERCEDES VITO'
 'MG MAESTRO' 'MG METRO' 'MG MGA' 'MG MGB' 'MG MGC' 'MG MGF' 'MG MIDGET'
 'MG Model Missing' 'MG MONTEGO' 'MG TF' 'MG ZR' 'MG ZS' 'MG ZT'
 'MICROCAR MC1' 'MINI COOPER' 'MINI FIRST' 'MINI JOHN COOPER WORKS'
 'MINI MINI COOPER' 'MINI MINI ONE' 'MINI ONE' 'MINI PACEMAN COOPER'
 'MINI ROADSTER COOPER' 'MITSUBISHI ASX' 'MITSUBISHI CARISMA'
 'MITSUBISHI CHALLENGER' 'MITSUBISHI COLT' 'MITSUBISHI GALANT'
 'MITSUBISHI GRANDIS' 'MITSUBISHI LANCER' 'MITSUBISHI MIRAGE'
 'MITSUBISHI Model Missing' 'MITSUBISHI OUTLANDER' 'MITSUBISHI PAJERO'
 'MITSUBISHI SHOGUN' 'MITSUBISHI SPACE RUNNER' 'MITSUBISHI SPACE STAR'
 'MITSUBISHI SPACE WAGON' 'MORGAN 4/4' 'MORGAN Model Missing'
 'MORRIS 1100' 'MORRIS ITAL' 'MORRIS MARINA' 'MORRIS MINI' 'MORRIS MINOR'
 'MORRIS Model Missing' 'MORRIS OXFORD' 'NISSAN 100' 'NISSAN 200'
 'NISSAN 300' 'NISSAN 350' 'NISSAN 370' 'NISSAN ALMERA' 'NISSAN BLUEBIRD'
 'NISSAN CHERRY' 'NISSAN GT' 'NISSAN JUKE' 'NISSAN LAUREL' 'NISSAN LEAF'
 'NISSAN MAXIMA' 'NISSAN MICRA' 'NISSAN Model Missing' 'NISSAN MURANO'
 'NISSAN NOTE' 'NISSAN PATHFINDER' 'NISSAN PATROL' 'NISSAN PIXO'
 'NISSAN PRAIRIE' 'NISSAN PRIMERA' 'NISSAN QASHQAI' 'NISSAN SERENA'
 'NISSAN SILVIA' 'NISSAN SKYLINE' 'NISSAN STANZA' 'NISSAN SUNNY'
 'NISSAN TERRANO' 'NISSAN X-TRAIL' 'OPEL ASCONA' 'OPEL KADETT'
 'OPEL MANTA' 'OPEL Model Missing' 'OPEL MONZA' 'OPEL REKORD'
 'OPEL SENATOR' 'OPEL ZAFIRA' 'OTHER BRITISH Model Missing'
 'OTHER US/AUST/CAN Model Missing' 'PERODUA KELISA' 'PERODUA KENARI'
 'PERODUA MYVI' 'PERODUA NIPPA' 'PEUGEOT 1007' 'PEUGEOT 104' 'PEUGEOT 106'
 'PEUGEOT 107' 'PEUGEOT 2008' 'PEUGEOT 205' 'PEUGEOT 206' 'PEUGEOT 207'
 'PEUGEOT 208' 'PEUGEOT 3008' 'PEUGEOT 305' 'PEUGEOT 306' 'PEUGEOT 307'
 'PEUGEOT 308' 'PEUGEOT 309' 'PEUGEOT 4007' 'PEUGEOT 405' 'PEUGEOT 406'
 'PEUGEOT 407' 'PEUGEOT 5008' 'PEUGEOT 504' 'PEUGEOT 505' 'PEUGEOT 508'
 'PEUGEOT 605' 'PEUGEOT 607' 'PEUGEOT 806' 'PEUGEOT 807' 'PEUGEOT BIPPER'
 'PEUGEOT EXPERT' 'PEUGEOT Model Missing' 'PEUGEOT PARTNER' 'PEUGEOT RCZ'
 'PONTIAC Model Missing' 'PORSCHE 911' 'PORSCHE 924' 'PORSCHE 928'
 'PORSCHE 944' 'PORSCHE BOXSTER' 'PORSCHE CARRERA' 'PORSCHE CAYENNE'
 'PORSCHE CAYMAN' 'PORSCHE Model Missing' 'PORSCHE PANAMERA'
 'PROTON GEN 2' 'PROTON IMPIAN' 'PROTON PERSONA' 'PROTON PERSONA COMPACT'
 'PROTON PROTON' 'PROTON SATRIA' 'PROTON SAVVY' 'PROTON WIRA'
 'RELIANT SCIMITAR' 'RENAULT 11' 'RENAULT 12' 'RENAULT 14' 'RENAULT 18'
 'RENAULT 19' 'RENAULT 20' 'RENAULT 21' 'RENAULT 25' 'RENAULT 4'
 'RENAULT 5' 'RENAULT 9' 'RENAULT CAPTUR' 'RENAULT CLIO' 'RENAULT ESPACE'
 'RENAULT FUEGO' 'RENAULT KANGOO' 'RENAULT KOLEOS' 'RENAULT LAGUNA'
 'RENAULT MEGANE' 'RENAULT Model Missing' 'RENAULT MODUS'
 'RENAULT SAFRANE' 'RENAULT SCENIC' 'RENAULT TRAFIC' 'RENAULT TWINGO'
 'RENAULT VEL SATIS' 'RENAULT WIND ROADSTER' 'RILEY 1.5'
 'RILEY Model Missing' 'ROLLS-ROYCE Model Missing' 'ROVER 100 SERIES'
 'ROVER 200 SERIES' 'ROVER 2000' 'ROVER 25' 'ROVER 400 SERIES' 'ROVER 45'
 'ROVER 600 SERIES' 'ROVER 75' 'ROVER 800 SERIES' 'ROVER CITYROVER'
 'ROVER MAESTRO' 'ROVER METRO' 'ROVER MINI' 'ROVER Model Missing'
 'ROVER MONTEGO' 'ROVER RANGE ROVER' 'ROVER SD1' 'ROVER STERLING'
 'ROVER STREETWISE' 'ROVER VITESSE' 'SAAB 9-3' 'SAAB 9-5' 'SAAB 900'
 'SAAB 9000' 'SAAB 96' 'SAAB 99' 'SAAB Model Missing' 'SAO PENZA'
 'SEAT ALHAMBRA' 'SEAT ALTEA' 'SEAT AROSA' 'SEAT CORDOBA' 'SEAT EXEO'
 'SEAT IBIZA' 'SEAT LEON' 'SEAT MALAGA' 'SEAT MARBELLA' 'SEAT MII'
 'SEAT Model Missing' 'SEAT TOLEDO' 'SKODA 105' 'SKODA 120' 'SKODA 130'
 'SKODA 136' 'SKODA CITIGO' 'SKODA ESTELLE' 'SKODA FABIA' 'SKODA FAVORIT'
 'SKODA FELICIA' 'SKODA Model Missing' 'SKODA OCTAVIA' 'SKODA RAPID'
 'SKODA ROOMSTER' 'SKODA SUPERB' 'SKODA YETI' 'SMART CITY' 'SMART FORFOUR'
 'SMART FORTWO' 'SMART ROADSTER' 'SSANGYONG KORANDO' 'SSANGYONG MUSSO'
 'SSANGYONG REXTON' 'SSANGYONG RODIUS' 'SUBARU 282' 'SUBARU 283'
 'SUBARU FORESTER' 'SUBARU IMPREZA' 'SUBARU JUSTY' 'SUBARU LEGACY'
 'SUBARU Model Missing' 'SUBARU OUTBACK' 'SUBARU SUBARU' 'SUBARU XV'
 'SUNBEAM ALPINE' 'SUZUKI ALTO' 'SUZUKI BALENO' 'SUZUKI IGNIS'
 'SUZUKI JIMNY' 'SUZUKI LIANA' 'SUZUKI SAMURAI' 'SUZUKI SJ'
 'SUZUKI SPLASH' 'SUZUKI SWIFT' 'SUZUKI SX4' 'SUZUKI VITARA'
 'SUZUKI WAGON R+' 'SUZUKI X-90' 'TALBOT ALPINE' 'TALBOT AVENGER'
 'TALBOT HORIZON' 'TALBOT SAMBA' 'TALBOT SOLARA' 'TALBOT SUNBEAM'
 'TOYOTA 4-RUNNER' 'TOYOTA AURIS' 'TOYOTA AVENSIS' 'TOYOTA AYGO'
 'TOYOTA CAMRY' 'TOYOTA CARINA' 'TOYOTA CELICA' 'TOYOTA COROLLA'
 'TOYOTA CRESSIDA' 'TOYOTA ESTIMA' 'TOYOTA GT86' 'TOYOTA HILUX'
 'TOYOTA IQ' 'TOYOTA LANDCRUISER' 'TOYOTA MODEL F' 'TOYOTA Model Missing'
 'TOYOTA MR2' 'TOYOTA PASEO' 'TOYOTA PICNIC' 'TOYOTA PREVIA'
 'TOYOTA PRIUS' 'TOYOTA RAV4' 'TOYOTA SPACE CRUISER' 'TOYOTA STARLET'
 'TOYOTA SUPRA' 'TOYOTA TERCEL' 'TOYOTA URBAN CRUISER' 'TOYOTA VERSO'
 'TOYOTA YARIS' 'TRIUMPH 1500' 'TRIUMPH 2000' 'TRIUMPH 2500'
 'TRIUMPH ACCLAIM' 'TRIUMPH DOLOMITE' 'TRIUMPH GT6' 'TRIUMPH HERALD'
 'TRIUMPH Model Missing' 'TRIUMPH SPITFIRE' 'TRIUMPH STAG'
 'TRIUMPH TOLEDO' 'TRIUMPH TR4' 'TRIUMPH TR6' 'TRIUMPH TR7'
 'TRIUMPH VITESSE' 'TVR CHIMERA' 'TVR GRIFFITH' 'TVR Model Missing'
 'TVR TUSCAN' 'VANDEN PLAS 1500' 'VAUXHALL ADAM' 'VAUXHALL AGILA'
 'VAUXHALL ANTARA' 'VAUXHALL ASTRA' 'VAUXHALL BELMONT' 'VAUXHALL CALIBRA'
 'VAUXHALL CARLTON' 'VAUXHALL CAVALIER' 'VAUXHALL CHEVETTE'
 'VAUXHALL COMBO' 'VAUXHALL CORSA' 'VAUXHALL FRONTERA' 'VAUXHALL INSIGNIA'
 'VAUXHALL MERIVA' 'VAUXHALL Model Missing' 'VAUXHALL MOKKA'
 'VAUXHALL MONTEREY' 'VAUXHALL NOVA' 'VAUXHALL OMEGA' 'VAUXHALL ROYALE'
 'VAUXHALL SENATOR' 'VAUXHALL SIGNUM' 'VAUXHALL SINTRA' 'VAUXHALL TIGRA'
 'VAUXHALL VECTRA' 'VAUXHALL VICTOR' 'VAUXHALL VIVA' 'VAUXHALL VX'
 'VAUXHALL ZAFIRA' 'VOLKSWAGEN 1300' 'VOLKSWAGEN 1500' 'VOLKSWAGEN BEETLE'
 'VOLKSWAGEN BORA' 'VOLKSWAGEN CADDY' 'VOLKSWAGEN CARAVELLE'
 'VOLKSWAGEN CC' 'VOLKSWAGEN CORRADO' 'VOLKSWAGEN DERBY' 'VOLKSWAGEN EOS'
 'VOLKSWAGEN FOX' 'VOLKSWAGEN GOLF' 'VOLKSWAGEN JETTA' 'VOLKSWAGEN LUPO'
 'VOLKSWAGEN Model Missing' 'VOLKSWAGEN PASSAT' 'VOLKSWAGEN PHAETON'
 'VOLKSWAGEN POLO' 'VOLKSWAGEN SANTANA' 'VOLKSWAGEN SCIROCCO'
 'VOLKSWAGEN SHARAN' 'VOLKSWAGEN TIGUAN' 'VOLKSWAGEN TOUAREG'
 'VOLKSWAGEN TOURAN' 'VOLKSWAGEN TRANSPORTER' 'VOLKSWAGEN UP'
 'VOLKSWAGEN URBAN' 'VOLKSWAGEN VENTO' 'VOLVO 144' 'VOLVO 240' 'VOLVO 244'
 'VOLVO 245' 'VOLVO 260' 'VOLVO 264' 'VOLVO 265' 'VOLVO 340' 'VOLVO 343'
 'VOLVO 345' 'VOLVO 360' 'VOLVO 363' 'VOLVO 365' 'VOLVO 440' 'VOLVO 460'
 'VOLVO 480' 'VOLVO 740' 'VOLVO 760' 'VOLVO 850' 'VOLVO 940' 'VOLVO 960'
 'VOLVO C 30' 'VOLVO C30' 'VOLVO C70' 'VOLVO Model Missing' 'VOLVO S40'
 'VOLVO S60' 'VOLVO S70' 'VOLVO S80' 'VOLVO V40' 'VOLVO V50' 'VOLVO V60'
 'VOLVO V70' 'VOLVO XC60' 'VOLVO XC70' 'VOLVO XC90'
 'WESTFIELD Model Missing' 'WOLSELEY Model Missing' 'ZASTAVA YUGO']

In [7]:
"""
As can be seen in the above list, some of the model names are missing (example: AUDI Model Missing)
We skip these missing models and are left with 794 models.
"""
dataset_models = np.array(list(filter(lambda x: not 'model missing' in x.lower(), dataset_models)))
print(len(dataset_models))
print(dataset_models)

794
['ABARTH 500' 'ALFA ROMEO 145' 'ALFA ROMEO 146' 'ALFA ROMEO 147'
 'ALFA ROMEO 155' 'ALFA ROMEO 156' 'ALFA ROMEO 159' 'ALFA ROMEO 164'
 'ALFA ROMEO 166' 'ALFA ROMEO 33' 'ALFA ROMEO 75' 'ALFA ROMEO ALFASUD'
 'ALFA ROMEO BRERA' 'ALFA ROMEO GIULIETTA' 'ALFA ROMEO GT'
 'ALFA ROMEO GTV' 'ALFA ROMEO MITO' 'ALFA ROMEO SPIDER'
 'ALFA ROMEO SPRINT' 'ASTON MARTIN DB7' 'ASTON MARTIN DB9'
 'ASTON MARTIN VANTAGE' 'AUDI 100' 'AUDI 200' 'AUDI 80' 'AUDI 90'
 'AUDI A1' 'AUDI A2' 'AUDI A3' 'AUDI A4' 'AUDI A5' 'AUDI A6' 'AUDI A7'
 'AUDI A8' 'AUDI ALLROAD' 'AUDI C' 'AUDI CABRIOLET' 'AUDI COUPE' 'AUDI Q3'
 'AUDI Q5' 'AUDI Q7' 'AUDI QUATTRO' 'AUDI R8' 'AUDI RIO' 'AUDI RS4'
 'AUDI RS6' 'AUDI S3' 'AUDI S4' 'AUDI S5' 'AUDI TT' 'AUSTIN 1100'
 'AUSTIN 1300' 'AUSTIN A35' 'AUSTIN A40' 'AUSTIN ALLEGRO'
 'AUSTIN AMBASSADOR' 'AUSTIN HEALEY' 'AUSTIN MAESTRO' 'AUSTIN MAXI'
 'AUSTIN METRO' 'AUSTIN MINI' 'AUSTIN MONTEGO' 'AUSTIN MORRIS MAXI'
 'AUSTIN MORRIS MINI' 'AUSTIN MORRIS PRINCESS' 'AUSTIN SEVEN'
 'BENTLEY ARNAGE' 'BENTLEY CONTINENTAL' 'BMW 1 SERIES' 'BMW 3 SERIES'
 'BMW 5 SERIES' 'BMW 6 SERIES' 'BMW 7 SERIES' 'BMW 8 SERIES' 'BMW M1'
 'BMW M3' 'BMW M5' 'BMW X1' 'BMW X3' 'BMW X5' 'BMW X6' 'BMW Z3' 'BMW Z4'
 'CHEVROLET AVEO' 'CHEVROLET CAPTIVA' 'CHEVROLET CRUZE'
 'CHEVROLET GMC CORVETTE' 'CHEVROLET KALOS' 'CHEVROLET LACETTI'
 'CHEVROLET MATIZ' 'CHEVROLET ORLANDO' 'CHEVROLET SPARK'
 'CHEVROLET TACUMA' 'CHRYSLER 300' 'CHRYSLER AVENGER' 'CHRYSLER CROSSFIRE'
 'CHRYSLER NEON' 'CHRYSLER PT CRUISER' 'CHRYSLER SEBRING'
 'CHRYSLER SUNBEAM' 'CHRYSLER VOYAGER' 'CHRYSLER YPSILON' 'CITROEN 2CV'
 'CITROEN AX' 'CITROEN BERLINGO' 'CITROEN BX' 'CITROEN C-CROSSER'
 'CITROEN C1' 'CITROEN C2' 'CITROEN C3' 'CITROEN C4' 'CITROEN C5'
 'CITROEN C8' 'CITROEN CX' 'CITROEN DS3' 'CITROEN DS4' 'CITROEN DS5'
 'CITROEN DYANE' 'CITROEN GSA' 'CITROEN LNA' 'CITROEN NEMO' 'CITROEN SAXO'
 'CITROEN SYNERGIE' 'CITROEN VISA' 'CITROEN XANTIA' 'CITROEN XM'
 'CITROEN XSARA' 'CITROEN ZX' 'COLT 1400' 'COLT GALANT' 'COLT HATCHBACK'
 'COLT LANCER' 'COLT MITSUBISHI' 'COLT SHOGUN' 'DACIA DUSTER'
 'DACIA SANDERO' 'DAEWOO ESPERO' 'DAEWOO KALOS' 'DAEWOO LACETTI'
 'DAEWOO LANOS' 'DAEWOO LEGANZA' 'DAEWOO MATIZ' 'DAEWOO MUSSO'
 'DAEWOO NEXIA' 'DAEWOO NUBIRA' 'DAEWOO TACUMA' 'DAIHATSU APPLAUSE'
 'DAIHATSU CHARADE' 'DAIHATSU CHARMANT' 'DAIHATSU COPEN' 'DAIHATSU CUORE'
 'DAIHATSU DOMINO' 'DAIHATSU FOURTRAK' 'DAIHATSU GRAND MOVE'
 'DAIHATSU MOVE' 'DAIHATSU SIRION' 'DAIHATSU SPORTRAK' 'DAIHATSU TERIOS'
 'DAIHATSU YRV' 'DAIMLER 3.6' 'DAIMLER 4.0' 'DAIMLER 4.2'
 'DAIMLER DOUBLE SIX' 'DAIMLER SOVEREIGN' 'DAIMLER V8' 'DATSUN 100'
 'DATSUN 120' 'DATSUN 140' 'DATSUN 160' 'DATSUN BLUEBIRD' 'DATSUN CHERRY'
 'DATSUN LAUREL' 'DATSUN MICRA' 'DATSUN PRAIRIE' 'DATSUN STANZA'
 'DATSUN SUNNY' 'DODGE CALIBER' 'DODGE JOURNEY' 'DODGE NITRO'
 'FERRARI 360' 'FERRARI F430' 'FIAT 1050' 'FIAT 126' 'FIAT 127' 'FIAT 128'
 'FIAT 500' 'FIAT BARCHETTA' 'FIAT BRAVA' 'FIAT BRAVO' 'FIAT CINQUECENTO'
 'FIAT COUPE' 'FIAT CROMA' 'FIAT DOBLO' 'FIAT IDEA' 'FIAT MAREA'
 'FIAT MIRAFIORI' 'FIAT MULTIPLA' 'FIAT PANDA' 'FIAT PUNTO' 'FIAT QUBO'
 'FIAT REGATA' 'FIAT SEDICI' 'FIAT SEICENTO' 'FIAT STILO' 'FIAT STRADA'
 'FIAT TEMPRA' 'FIAT TIPO' 'FIAT ULYSSE' 'FIAT UNO' 'FIAT X1/9'
 'FORD ANGLIA' 'FORD B-MAX' 'FORD C-MAX' 'FORD CAPRI' 'FORD CONSUL'
 'FORD CORTINA' 'FORD COUGAR' 'FORD ESCORT' 'FORD EXPLORER' 'FORD FIESTA'
 'FORD FOCUS' 'FORD FUSION' 'FORD GALAXY' 'FORD GRANADA' 'FORD KA'
 'FORD KUGA' 'FORD MAVERICK' 'FORD MONDEO' 'FORD MUSTANG' 'FORD ORION'
 'FORD POPULAR' 'FORD PREFECT' 'FORD PROBE' 'FORD PUMA' 'FORD S-MAX'
 'FORD SAPPHIRE' 'FORD SCORPIO' 'FORD SIERRA' 'FORD STREETKA'
 'FORD TRANSIT' 'FORD ZEPHYR' 'FSO CARS 125' 'FSO CARS POLONEZ'
 'HILLMAN AVENGER' 'HILLMAN HUNTER' 'HILLMAN IMP' 'HILLMAN MINX'
 'HONDA ACCORD' 'HONDA BALLADE' 'HONDA CIVIC' 'HONDA CONCERTO'
 'HONDA CR-Z' 'HONDA CRV' 'HONDA CRX' 'HONDA FR-V' 'HONDA HR-V'
 'HONDA INSIGHT' 'HONDA INTEGRA' 'HONDA JAZZ' 'HONDA LEGEND' 'HONDA LOGO'
 'HONDA PRELUDE' 'HONDA QUINTET' 'HONDA S2000' 'HONDA SHUTTLE'
 'HONDA STREAM' 'HUMBER SCEPTRE' 'HYUNDAI 1200' 'HYUNDAI ACCENT'
 'HYUNDAI AMICA' 'HYUNDAI ATOZ' 'HYUNDAI COUPE' 'HYUNDAI ELANTRA'
 'HYUNDAI GETZ' 'HYUNDAI I10' 'HYUNDAI I20' 'HYUNDAI I30' 'HYUNDAI I40'
 'HYUNDAI I800' 'HYUNDAI IX20' 'HYUNDAI IX35' 'HYUNDAI LANTRA'
 'HYUNDAI MATRIX' 'HYUNDAI PONY' 'HYUNDAI S-COUPE' 'HYUNDAI SANTA'
 'HYUNDAI SANTA FE' 'HYUNDAI SONATA' 'HYUNDAI STELLAR' 'HYUNDAI TERRACAN'
 'HYUNDAI TRAJET' 'HYUNDAI TUCSON' 'HYUNDAI VELOSTER' 'HYUNDAI X2'
 'ISUZU PIAZZA' 'ISUZU TROOPER' 'JAGUAR E TYPE' 'JAGUAR S TYPE'
 'JAGUAR SOVEREIGN' 'JAGUAR X TYPE' 'JAGUAR XF SERIES' 'JAGUAR XJ SERIES'
 'JAGUAR XK' 'JAGUAR XK SERIES' 'JAGUAR XK8' 'JAGUAR XKR' 'JEEP CHEROKEE'
 'JEEP COMMANDER' 'JEEP COMPASS' 'JEEP PATRIOT' 'JEEP WRANGLER'
 'KIA CARENS' 'KIA CEED' 'KIA CERATO' 'KIA MAGENTIS' 'KIA MENTOR'
 'KIA OPTIMA' 'KIA PICANTO' 'KIA PRIDE' 'KIA RIO' 'KIA SEDONA' 'KIA SHUMA'
 'KIA SORENTO' 'KIA SOUL' 'KIA SPORTAGE' 'KIA VENGA' 'LADA 1200'
 'LADA 1500' 'LADA NIVA' 'LADA RIVA' 'LADA SAMARA' 'LANCIA DEDRA'
 'LANCIA DELTA' 'LANCIA PRISMA' 'LANCIA THEMA' 'LANCIA Y10'
 'LAND ROVER 109' 'LAND ROVER 110' 'LAND ROVER 88' 'LAND ROVER 90'
 'LAND ROVER DEFENDER' 'LAND ROVER DISCOVERY' 'LAND ROVER FREELANDER'
 'LAND ROVER RANGE ROVER' 'LEXUS CT 200' 'LEXUS GS 450' 'LEXUS GS300'
 'LEXUS IS200' 'LEXUS IS220' 'LEXUS IS250' 'LEXUS IS300' 'LEXUS LS400'
 'LEXUS LS430' 'LEXUS RX 350' 'LEXUS RX 450' 'LEXUS RX300' 'LEXUS RX400'
 'LEXUS RX450' 'LEXUS SC430' 'LEYLAND CARS MAXI' 'LEYLAND CARS MINI'
 'LOTUS ECLAT' 'LOTUS ELAN' 'LOTUS ELISE' 'LOTUS ESPRIT'
 'MASERATI GRAN TURISMO' 'MAZDA 121' 'MAZDA 1300' 'MAZDA 1500' 'MAZDA 2'
 'MAZDA 3' 'MAZDA 323' 'MAZDA 5' 'MAZDA 6' 'MAZDA 626' 'MAZDA 929'
 'MAZDA CX5' 'MAZDA CX7' 'MAZDA DEMIO' 'MAZDA MPV' 'MAZDA MX-3'
 'MAZDA MX-5' 'MAZDA MX-6' 'MAZDA PREMACY' 'MAZDA RX7' 'MAZDA RX8'
 'MAZDA TRIBUTE' 'MAZDA XEDOS' 'MCC SMART' 'MERCEDES 190' 'MERCEDES 200'
 'MERCEDES 300' 'MERCEDES 400' 'MERCEDES 500' 'MERCEDES A CLASS'
 'MERCEDES B CLASS' 'MERCEDES C CLASS' 'MERCEDES CL CLASS' 'MERCEDES CLC'
 'MERCEDES CLK' 'MERCEDES E CLASS' 'MERCEDES GL CLASS' 'MERCEDES ML CLASS'
 'MERCEDES R CLASS' 'MERCEDES S CLASS' 'MERCEDES SL CLASS' 'MERCEDES SLK'
 'MERCEDES V CLASS' 'MERCEDES VANEO' 'MERCEDES VIANO' 'MERCEDES VITO'
 'MG MAESTRO' 'MG METRO' 'MG MGA' 'MG MGB' 'MG MGC' 'MG MGF' 'MG MIDGET'
 'MG MONTEGO' 'MG TF' 'MG ZR' 'MG ZS' 'MG ZT' 'MICROCAR MC1' 'MINI COOPER'
 'MINI FIRST' 'MINI JOHN COOPER WORKS' 'MINI MINI COOPER' 'MINI MINI ONE'
 'MINI ONE' 'MINI PACEMAN COOPER' 'MINI ROADSTER COOPER' 'MITSUBISHI ASX'
 'MITSUBISHI CARISMA' 'MITSUBISHI CHALLENGER' 'MITSUBISHI COLT'
 'MITSUBISHI GALANT' 'MITSUBISHI GRANDIS' 'MITSUBISHI LANCER'
 'MITSUBISHI MIRAGE' 'MITSUBISHI OUTLANDER' 'MITSUBISHI PAJERO'
 'MITSUBISHI SHOGUN' 'MITSUBISHI SPACE RUNNER' 'MITSUBISHI SPACE STAR'
 'MITSUBISHI SPACE WAGON' 'MORGAN 4/4' 'MORRIS 1100' 'MORRIS ITAL'
 'MORRIS MARINA' 'MORRIS MINI' 'MORRIS MINOR' 'MORRIS OXFORD' 'NISSAN 100'
 'NISSAN 200' 'NISSAN 300' 'NISSAN 350' 'NISSAN 370' 'NISSAN ALMERA'
 'NISSAN BLUEBIRD' 'NISSAN CHERRY' 'NISSAN GT' 'NISSAN JUKE'
 'NISSAN LAUREL' 'NISSAN LEAF' 'NISSAN MAXIMA' 'NISSAN MICRA'
 'NISSAN MURANO' 'NISSAN NOTE' 'NISSAN PATHFINDER' 'NISSAN PATROL'
 'NISSAN PIXO' 'NISSAN PRAIRIE' 'NISSAN PRIMERA' 'NISSAN QASHQAI'
 'NISSAN SERENA' 'NISSAN SILVIA' 'NISSAN SKYLINE' 'NISSAN STANZA'
 'NISSAN SUNNY' 'NISSAN TERRANO' 'NISSAN X-TRAIL' 'OPEL ASCONA'
 'OPEL KADETT' 'OPEL MANTA' 'OPEL MONZA' 'OPEL REKORD' 'OPEL SENATOR'
 'OPEL ZAFIRA' 'PERODUA KELISA' 'PERODUA KENARI' 'PERODUA MYVI'
 'PERODUA NIPPA' 'PEUGEOT 1007' 'PEUGEOT 104' 'PEUGEOT 106' 'PEUGEOT 107'
 'PEUGEOT 2008' 'PEUGEOT 205' 'PEUGEOT 206' 'PEUGEOT 207' 'PEUGEOT 208'
 'PEUGEOT 3008' 'PEUGEOT 305' 'PEUGEOT 306' 'PEUGEOT 307' 'PEUGEOT 308'
 'PEUGEOT 309' 'PEUGEOT 4007' 'PEUGEOT 405' 'PEUGEOT 406' 'PEUGEOT 407'
 'PEUGEOT 5008' 'PEUGEOT 504' 'PEUGEOT 505' 'PEUGEOT 508' 'PEUGEOT 605'
 'PEUGEOT 607' 'PEUGEOT 806' 'PEUGEOT 807' 'PEUGEOT BIPPER'
 'PEUGEOT EXPERT' 'PEUGEOT PARTNER' 'PEUGEOT RCZ' 'PORSCHE 911'
 'PORSCHE 924' 'PORSCHE 928' 'PORSCHE 944' 'PORSCHE BOXSTER'
 'PORSCHE CARRERA' 'PORSCHE CAYENNE' 'PORSCHE CAYMAN' 'PORSCHE PANAMERA'
 'PROTON GEN 2' 'PROTON IMPIAN' 'PROTON PERSONA' 'PROTON PERSONA COMPACT'
 'PROTON PROTON' 'PROTON SATRIA' 'PROTON SAVVY' 'PROTON WIRA'
 'RELIANT SCIMITAR' 'RENAULT 11' 'RENAULT 12' 'RENAULT 14' 'RENAULT 18'
 'RENAULT 19' 'RENAULT 20' 'RENAULT 21' 'RENAULT 25' 'RENAULT 4'
 'RENAULT 5' 'RENAULT 9' 'RENAULT CAPTUR' 'RENAULT CLIO' 'RENAULT ESPACE'
 'RENAULT FUEGO' 'RENAULT KANGOO' 'RENAULT KOLEOS' 'RENAULT LAGUNA'
 'RENAULT MEGANE' 'RENAULT MODUS' 'RENAULT SAFRANE' 'RENAULT SCENIC'
 'RENAULT TRAFIC' 'RENAULT TWINGO' 'RENAULT VEL SATIS'
 'RENAULT WIND ROADSTER' 'RILEY 1.5' 'ROVER 100 SERIES' 'ROVER 200 SERIES'
 'ROVER 2000' 'ROVER 25' 'ROVER 400 SERIES' 'ROVER 45' 'ROVER 600 SERIES'
 'ROVER 75' 'ROVER 800 SERIES' 'ROVER CITYROVER' 'ROVER MAESTRO'
 'ROVER METRO' 'ROVER MINI' 'ROVER MONTEGO' 'ROVER RANGE ROVER'
 'ROVER SD1' 'ROVER STERLING' 'ROVER STREETWISE' 'ROVER VITESSE'
 'SAAB 9-3' 'SAAB 9-5' 'SAAB 900' 'SAAB 9000' 'SAAB 96' 'SAAB 99'
 'SAO PENZA' 'SEAT ALHAMBRA' 'SEAT ALTEA' 'SEAT AROSA' 'SEAT CORDOBA'
 'SEAT EXEO' 'SEAT IBIZA' 'SEAT LEON' 'SEAT MALAGA' 'SEAT MARBELLA'
 'SEAT MII' 'SEAT TOLEDO' 'SKODA 105' 'SKODA 120' 'SKODA 130' 'SKODA 136'
 'SKODA CITIGO' 'SKODA ESTELLE' 'SKODA FABIA' 'SKODA FAVORIT'
 'SKODA FELICIA' 'SKODA OCTAVIA' 'SKODA RAPID' 'SKODA ROOMSTER'
 'SKODA SUPERB' 'SKODA YETI' 'SMART CITY' 'SMART FORFOUR' 'SMART FORTWO'
 'SMART ROADSTER' 'SSANGYONG KORANDO' 'SSANGYONG MUSSO' 'SSANGYONG REXTON'
 'SSANGYONG RODIUS' 'SUBARU 282' 'SUBARU 283' 'SUBARU FORESTER'
 'SUBARU IMPREZA' 'SUBARU JUSTY' 'SUBARU LEGACY' 'SUBARU OUTBACK'
 'SUBARU SUBARU' 'SUBARU XV' 'SUNBEAM ALPINE' 'SUZUKI ALTO'
 'SUZUKI BALENO' 'SUZUKI IGNIS' 'SUZUKI JIMNY' 'SUZUKI LIANA'
 'SUZUKI SAMURAI' 'SUZUKI SJ' 'SUZUKI SPLASH' 'SUZUKI SWIFT' 'SUZUKI SX4'
 'SUZUKI VITARA' 'SUZUKI WAGON R+' 'SUZUKI X-90' 'TALBOT ALPINE'
 'TALBOT AVENGER' 'TALBOT HORIZON' 'TALBOT SAMBA' 'TALBOT SOLARA'
 'TALBOT SUNBEAM' 'TOYOTA 4-RUNNER' 'TOYOTA AURIS' 'TOYOTA AVENSIS'
 'TOYOTA AYGO' 'TOYOTA CAMRY' 'TOYOTA CARINA' 'TOYOTA CELICA'
 'TOYOTA COROLLA' 'TOYOTA CRESSIDA' 'TOYOTA ESTIMA' 'TOYOTA GT86'
 'TOYOTA HILUX' 'TOYOTA IQ' 'TOYOTA LANDCRUISER' 'TOYOTA MODEL F'
 'TOYOTA MR2' 'TOYOTA PASEO' 'TOYOTA PICNIC' 'TOYOTA PREVIA'
 'TOYOTA PRIUS' 'TOYOTA RAV4' 'TOYOTA SPACE CRUISER' 'TOYOTA STARLET'
 'TOYOTA SUPRA' 'TOYOTA TERCEL' 'TOYOTA URBAN CRUISER' 'TOYOTA VERSO'
 'TOYOTA YARIS' 'TRIUMPH 1500' 'TRIUMPH 2000' 'TRIUMPH 2500'
 'TRIUMPH ACCLAIM' 'TRIUMPH DOLOMITE' 'TRIUMPH GT6' 'TRIUMPH HERALD'
 'TRIUMPH SPITFIRE' 'TRIUMPH STAG' 'TRIUMPH TOLEDO' 'TRIUMPH TR4'
 'TRIUMPH TR6' 'TRIUMPH TR7' 'TRIUMPH VITESSE' 'TVR CHIMERA'
 'TVR GRIFFITH' 'TVR TUSCAN' 'VANDEN PLAS 1500' 'VAUXHALL ADAM'
 'VAUXHALL AGILA' 'VAUXHALL ANTARA' 'VAUXHALL ASTRA' 'VAUXHALL BELMONT'
 'VAUXHALL CALIBRA' 'VAUXHALL CARLTON' 'VAUXHALL CAVALIER'
 'VAUXHALL CHEVETTE' 'VAUXHALL COMBO' 'VAUXHALL CORSA' 'VAUXHALL FRONTERA'
 'VAUXHALL INSIGNIA' 'VAUXHALL MERIVA' 'VAUXHALL MOKKA'
 'VAUXHALL MONTEREY' 'VAUXHALL NOVA' 'VAUXHALL OMEGA' 'VAUXHALL ROYALE'
 'VAUXHALL SENATOR' 'VAUXHALL SIGNUM' 'VAUXHALL SINTRA' 'VAUXHALL TIGRA'
 'VAUXHALL VECTRA' 'VAUXHALL VICTOR' 'VAUXHALL VIVA' 'VAUXHALL VX'
 'VAUXHALL ZAFIRA' 'VOLKSWAGEN 1300' 'VOLKSWAGEN 1500' 'VOLKSWAGEN BEETLE'
 'VOLKSWAGEN BORA' 'VOLKSWAGEN CADDY' 'VOLKSWAGEN CARAVELLE'
 'VOLKSWAGEN CC' 'VOLKSWAGEN CORRADO' 'VOLKSWAGEN DERBY' 'VOLKSWAGEN EOS'
 'VOLKSWAGEN FOX' 'VOLKSWAGEN GOLF' 'VOLKSWAGEN JETTA' 'VOLKSWAGEN LUPO'
 'VOLKSWAGEN PASSAT' 'VOLKSWAGEN PHAETON' 'VOLKSWAGEN POLO'
 'VOLKSWAGEN SANTANA' 'VOLKSWAGEN SCIROCCO' 'VOLKSWAGEN SHARAN'
 'VOLKSWAGEN TIGUAN' 'VOLKSWAGEN TOUAREG' 'VOLKSWAGEN TOURAN'
 'VOLKSWAGEN TRANSPORTER' 'VOLKSWAGEN UP' 'VOLKSWAGEN URBAN'
 'VOLKSWAGEN VENTO' 'VOLVO 144' 'VOLVO 240' 'VOLVO 244' 'VOLVO 245'
 'VOLVO 260' 'VOLVO 264' 'VOLVO 265' 'VOLVO 340' 'VOLVO 343' 'VOLVO 345'
 'VOLVO 360' 'VOLVO 363' 'VOLVO 365' 'VOLVO 440' 'VOLVO 460' 'VOLVO 480'
 'VOLVO 740' 'VOLVO 760' 'VOLVO 850' 'VOLVO 940' 'VOLVO 960' 'VOLVO C 30'
 'VOLVO C30' 'VOLVO C70' 'VOLVO S40' 'VOLVO S60' 'VOLVO S70' 'VOLVO S80'
 'VOLVO V40' 'VOLVO V50' 'VOLVO V60' 'VOLVO V70' 'VOLVO XC60' 'VOLVO XC70'
 'VOLVO XC90' 'ZASTAVA YUGO']

In [8]:
"""
LEVEL 1 MATCHING:

Obtain manufacturers of all the models present in the dataset
using the manufacturers list obtained from the scraped data

One obvious way to do this is to check if the name of the manufacturer is present in the name of the model
However based on the data obtained, this is not the right approach

The possible areas of conflict can arise because of the following kind of examples:

1. VAUXHALL OMEGA (Contains name of two manufacturers MEGA and VAUXHALL)
2. AUSTIN MINI (Contains name of two manufacturers AUSTON and MINI)
3. AUSTIN MORRIS MAXI (Contains name of two manufacturers AUSTON and MAXI)
4. CHEVROLET GMC CORVETTE (Contains name of two manufacturers CHEVROLET and CORVETTE)

etc.

Hence in order to resolve this, we check if the name of the model "starts" with the manufacturer
Which resolves all the corner cases we've encountered above
"""
pd.set_option('display.max_rows', 1000)

company_map = {}
for model in dataset_models:
    for manufacturer in manufacturers:
        try:
            if model.index(manufacturer) == 0:
                company_map[model] = manufacturer
        except:
            pass

# Print model names with their manufacturers name as obtained after the preprocessing step
pd.DataFrame({'Model': list(company_map.keys()), 'Manufacturer': list(company_map.values())})

                       Model  Manufacturer
0                 ABARTH 500        ABARTH
1             ALFA ROMEO 145    ALFA ROMEO
2             ALFA ROMEO 146    ALFA ROMEO
3             ALFA ROMEO 147    ALFA ROMEO
4             ALFA ROMEO 155    ALFA ROMEO
5             ALFA ROMEO 156    ALFA ROMEO
6             ALFA ROMEO 159    ALFA ROMEO
7             ALFA ROMEO 164    ALFA ROMEO
8             ALFA ROMEO 166    ALFA ROMEO
9              ALFA ROMEO 33    ALFA ROMEO
10             ALFA ROMEO 75    ALFA ROMEO
11        ALFA ROMEO ALFASUD    ALFA ROMEO
12          ALFA ROMEO BRERA    ALFA ROMEO
13      ALFA ROMEO GIULIETTA    ALFA ROMEO
14             ALFA ROMEO GT    ALFA ROMEO
15            ALFA ROMEO GTV    ALFA ROMEO
16           ALFA ROMEO MITO    ALFA ROMEO
17         ALFA ROMEO SPIDER    ALFA ROMEO
18         ALFA ROMEO SPRINT    ALFA ROMEO
19          ASTON MARTIN DB7  ASTON MARTIN
20          ASTON MARTIN DB9  ASTON MARTIN
21      ASTON MARTIN VANTAGE  ASTON MARTIN
22                  AUDI 100          AUDI
23                  AUDI 200          AUDI
24                   AUDI 80          AUDI
25                   AUDI 90          AUDI
26                   AUDI A1          AUDI
27                   AUDI A2          AUDI
28                   AUDI A3          AUDI
29                   AUDI A4          AUDI
30                   AUDI A5          AUDI
31                   AUDI A6          AUDI
32                   AUDI A7          AUDI
33                   AUDI A8          AUDI
34              AUDI ALLROAD          AUDI
35                    AUDI C          AUDI
36            AUDI CABRIOLET          AUDI
37                AUDI COUPE          AUDI
38                   AUDI Q3          AUDI
39                   AUDI Q5          AUDI
40                   AUDI Q7          AUDI
41              AUDI QUATTRO          AUDI
42                   AUDI R8          AUDI
43                  AUDI RIO          AUDI
44                  AUDI RS4          AUDI
45                  AUDI RS6          AUDI
46                   AUDI S3          AUDI
47                   AUDI S4          AUDI
48                   AUDI S5          AUDI
49                   AUDI TT          AUDI
50               AUSTIN 1100        AUSTIN
51               AUSTIN 1300        AUSTIN
52                AUSTIN A35        AUSTIN
53                AUSTIN A40        AUSTIN
54            AUSTIN ALLEGRO        AUSTIN
55         AUSTIN AMBASSADOR        AUSTIN
56             AUSTIN HEALEY        AUSTIN
57            AUSTIN MAESTRO        AUSTIN
58               AUSTIN MAXI        AUSTIN
59              AUSTIN METRO        AUSTIN
60               AUSTIN MINI        AUSTIN
61            AUSTIN MONTEGO        AUSTIN
62        AUSTIN MORRIS MAXI        AUSTIN
63        AUSTIN MORRIS MINI        AUSTIN
64    AUSTIN MORRIS PRINCESS        AUSTIN
65              AUSTIN SEVEN        AUSTIN
66            BENTLEY ARNAGE       BENTLEY
67       BENTLEY CONTINENTAL       BENTLEY
68              BMW 1 SERIES           BMW
69              BMW 3 SERIES           BMW
70              BMW 5 SERIES           BMW
71              BMW 6 SERIES           BMW
72              BMW 7 SERIES           BMW
73              BMW 8 SERIES           BMW
74                    BMW M1           BMW
75                    BMW M3           BMW
76                    BMW M5           BMW
77                    BMW X1           BMW
78                    BMW X3           BMW
79                    BMW X5           BMW
80                    BMW X6           BMW
81                    BMW Z3           BMW
82                    BMW Z4           BMW
83            CHEVROLET AVEO     CHEVROLET
84         CHEVROLET CAPTIVA     CHEVROLET
85           CHEVROLET CRUZE     CHEVROLET
86    CHEVROLET GMC CORVETTE     CHEVROLET
87           CHEVROLET KALOS     CHEVROLET
88         CHEVROLET LACETTI     CHEVROLET
89           CHEVROLET MATIZ     CHEVROLET
90         CHEVROLET ORLANDO     CHEVROLET
91           CHEVROLET SPARK     CHEVROLET
92          CHEVROLET TACUMA     CHEVROLET
93              CHRYSLER 300      CHRYSLER
94          CHRYSLER AVENGER      CHRYSLER
95        CHRYSLER CROSSFIRE      CHRYSLER
96             CHRYSLER NEON      CHRYSLER
97       CHRYSLER PT CRUISER      CHRYSLER
98          CHRYSLER SEBRING      CHRYSLER
99          CHRYSLER SUNBEAM      CHRYSLER
100         CHRYSLER VOYAGER      CHRYSLER
101         CHRYSLER YPSILON      CHRYSLER
102              CITROEN 2CV       CITROEN
103               CITROEN AX       CITROEN
104         CITROEN BERLINGO       CITROEN
105               CITROEN BX       CITROEN
106        CITROEN C-CROSSER       CITROEN
107               CITROEN C1       CITROEN
108               CITROEN C2       CITROEN
109               CITROEN C3       CITROEN
110               CITROEN C4       CITROEN
111               CITROEN C5       CITROEN
112               CITROEN C8       CITROEN
113               CITROEN CX       CITROEN
114              CITROEN DS3       CITROEN
115              CITROEN DS4       CITROEN
116              CITROEN DS5       CITROEN
117            CITROEN DYANE       CITROEN
118              CITROEN GSA       CITROEN
119              CITROEN LNA       CITROEN
120             CITROEN NEMO       CITROEN
121             CITROEN SAXO       CITROEN
122         CITROEN SYNERGIE       CITROEN
123             CITROEN VISA       CITROEN
124           CITROEN XANTIA       CITROEN
125               CITROEN XM       CITROEN
126            CITROEN XSARA       CITROEN
127               CITROEN ZX       CITROEN
128             DACIA DUSTER         DACIA
129            DACIA SANDERO         DACIA
130            DAEWOO ESPERO        DAEWOO
131             DAEWOO KALOS        DAEWOO
132           DAEWOO LACETTI        DAEWOO
133             DAEWOO LANOS        DAEWOO
134           DAEWOO LEGANZA        DAEWOO
135             DAEWOO MATIZ        DAEWOO
136             DAEWOO MUSSO        DAEWOO
137             DAEWOO NEXIA        DAEWOO
138            DAEWOO NUBIRA        DAEWOO
139            DAEWOO TACUMA        DAEWOO
140        DAIHATSU APPLAUSE      DAIHATSU
141         DAIHATSU CHARADE      DAIHATSU
142        DAIHATSU CHARMANT      DAIHATSU
143           DAIHATSU COPEN      DAIHATSU
144           DAIHATSU CUORE      DAIHATSU
145          DAIHATSU DOMINO      DAIHATSU
146        DAIHATSU FOURTRAK      DAIHATSU
147      DAIHATSU GRAND MOVE      DAIHATSU
148            DAIHATSU MOVE      DAIHATSU
149          DAIHATSU SIRION      DAIHATSU
150        DAIHATSU SPORTRAK      DAIHATSU
151          DAIHATSU TERIOS      DAIHATSU
152             DAIHATSU YRV      DAIHATSU
153              DAIMLER 3.6       DAIMLER
154              DAIMLER 4.0       DAIMLER
155              DAIMLER 4.2       DAIMLER
156       DAIMLER DOUBLE SIX       DAIMLER
157        DAIMLER SOVEREIGN       DAIMLER
158               DAIMLER V8       DAIMLER
159               DATSUN 100        DATSUN
160               DATSUN 120        DATSUN
161               DATSUN 140        DATSUN
162               DATSUN 160        DATSUN
163          DATSUN BLUEBIRD        DATSUN
164            DATSUN CHERRY        DATSUN
165            DATSUN LAUREL        DATSUN
166             DATSUN MICRA        DATSUN
167           DATSUN PRAIRIE        DATSUN
168            DATSUN STANZA        DATSUN
169             DATSUN SUNNY        DATSUN
170            DODGE CALIBER         DODGE
171            DODGE JOURNEY         DODGE
172              DODGE NITRO         DODGE
173              FERRARI 360       FERRARI
174             FERRARI F430       FERRARI
175                FIAT 1050          FIAT
176                 FIAT 126          FIAT
177                 FIAT 127          FIAT
178                 FIAT 128          FIAT
179                 FIAT 500          FIAT
180           FIAT BARCHETTA          FIAT
181               FIAT BRAVA          FIAT
182               FIAT BRAVO          FIAT
183         FIAT CINQUECENTO          FIAT
184               FIAT COUPE          FIAT
185               FIAT CROMA          FIAT
186               FIAT DOBLO          FIAT
187                FIAT IDEA          FIAT
188               FIAT MAREA          FIAT
189           FIAT MIRAFIORI          FIAT
190            FIAT MULTIPLA          FIAT
191               FIAT PANDA          FIAT
192               FIAT PUNTO          FIAT
193                FIAT QUBO          FIAT
194              FIAT REGATA          FIAT
195              FIAT SEDICI          FIAT
196            FIAT SEICENTO          FIAT
197               FIAT STILO          FIAT
198              FIAT STRADA          FIAT
199              FIAT TEMPRA          FIAT
200                FIAT TIPO          FIAT
201              FIAT ULYSSE          FIAT
202                 FIAT UNO          FIAT
203                FIAT X1/9          FIAT
204              FORD ANGLIA          FORD
205               FORD B-MAX          FORD
206               FORD C-MAX          FORD
207               FORD CAPRI          FORD
208              FORD CONSUL          FORD
209             FORD CORTINA          FORD
210              FORD COUGAR          FORD
211              FORD ESCORT          FORD
212            FORD EXPLORER          FORD
213              FORD FIESTA          FORD
214               FORD FOCUS          FORD
215              FORD FUSION          FORD
216              FORD GALAXY          FORD
217             FORD GRANADA          FORD
218                  FORD KA          FORD
219                FORD KUGA          FORD
220            FORD MAVERICK          FORD
221              FORD MONDEO          FORD
222             FORD MUSTANG          FORD
223               FORD ORION          FORD
224             FORD POPULAR          FORD
225             FORD PREFECT          FORD
226               FORD PROBE          FORD
227                FORD PUMA          FORD
228               FORD S-MAX          FORD
229            FORD SAPPHIRE          FORD
230             FORD SCORPIO          FORD
231              FORD SIERRA          FORD
232            FORD STREETKA          FORD
233             FORD TRANSIT          FORD
234              FORD ZEPHYR          FORD
235             FSO CARS 125           FSO
236         FSO CARS POLONEZ           FSO
237             HONDA ACCORD         HONDA
238            HONDA BALLADE         HONDA
239              HONDA CIVIC         HONDA
240           HONDA CONCERTO         HONDA
241               HONDA CR-Z         HONDA
242                HONDA CRV         HONDA
243                HONDA CRX         HONDA
244               HONDA FR-V         HONDA
245               HONDA HR-V         HONDA
246            HONDA INSIGHT         HONDA
247            HONDA INTEGRA         HONDA
248               HONDA JAZZ         HONDA
249             HONDA LEGEND         HONDA
250               HONDA LOGO         HONDA
251            HONDA PRELUDE         HONDA
252            HONDA QUINTET         HONDA
253              HONDA S2000         HONDA
254            HONDA SHUTTLE         HONDA
255             HONDA STREAM         HONDA
256             HYUNDAI 1200       HYUNDAI
257           HYUNDAI ACCENT       HYUNDAI
258            HYUNDAI AMICA       HYUNDAI
259             HYUNDAI ATOZ       HYUNDAI
260            HYUNDAI COUPE       HYUNDAI
261          HYUNDAI ELANTRA       HYUNDAI
262             HYUNDAI GETZ       HYUNDAI
263              HYUNDAI I10       HYUNDAI
264              HYUNDAI I20       HYUNDAI
265              HYUNDAI I30       HYUNDAI
266              HYUNDAI I40       HYUNDAI
267             HYUNDAI I800       HYUNDAI
268             HYUNDAI IX20       HYUNDAI
269             HYUNDAI IX35       HYUNDAI
270           HYUNDAI LANTRA       HYUNDAI
271           HYUNDAI MATRIX       HYUNDAI
272             HYUNDAI PONY       HYUNDAI
273          HYUNDAI S-COUPE       HYUNDAI
274            HYUNDAI SANTA       HYUNDAI
275         HYUNDAI SANTA FE       HYUNDAI
276           HYUNDAI SONATA       HYUNDAI
277          HYUNDAI STELLAR       HYUNDAI
278         HYUNDAI TERRACAN       HYUNDAI
279           HYUNDAI TRAJET       HYUNDAI
280           HYUNDAI TUCSON       HYUNDAI
281         HYUNDAI VELOSTER       HYUNDAI
282               HYUNDAI X2       HYUNDAI
283            JAGUAR E TYPE        JAGUAR
284            JAGUAR S TYPE        JAGUAR
285         JAGUAR SOVEREIGN        JAGUAR
286            JAGUAR X TYPE        JAGUAR
287         JAGUAR XF SERIES        JAGUAR
288         JAGUAR XJ SERIES        JAGUAR
289                JAGUAR XK        JAGUAR
290         JAGUAR XK SERIES        JAGUAR
291               JAGUAR XK8        JAGUAR
292               JAGUAR XKR        JAGUAR
293            JEEP CHEROKEE          JEEP
294           JEEP COMMANDER          JEEP
295             JEEP COMPASS          JEEP
296             JEEP PATRIOT          JEEP
297            JEEP WRANGLER          JEEP
298               KIA CARENS           KIA
299                 KIA CEED           KIA
300               KIA CERATO           KIA
301             KIA MAGENTIS           KIA
302               KIA MENTOR           KIA
303               KIA OPTIMA           KIA
304              KIA PICANTO           KIA
305                KIA PRIDE           KIA
306                  KIA RIO           KIA
307               KIA SEDONA           KIA
308                KIA SHUMA           KIA
309              KIA SORENTO           KIA
310                 KIA SOUL           KIA
311             KIA SPORTAGE           KIA
312                KIA VENGA           KIA
313                LADA 1200          LADA
314                LADA 1500          LADA
315                LADA NIVA          LADA
316                LADA RIVA          LADA
317              LADA SAMARA          LADA
318             LANCIA DEDRA        LANCIA
319             LANCIA DELTA        LANCIA
320            LANCIA PRISMA        LANCIA
321             LANCIA THEMA        LANCIA
322               LANCIA Y10        LANCIA
323           LAND ROVER 109    LAND ROVER
324           LAND ROVER 110    LAND ROVER
325            LAND ROVER 88    LAND ROVER
326            LAND ROVER 90    LAND ROVER
327      LAND ROVER DEFENDER    LAND ROVER
328     LAND ROVER DISCOVERY    LAND ROVER
329    LAND ROVER FREELANDER    LAND ROVER
330   LAND ROVER RANGE ROVER    LAND ROVER
331             LEXUS CT 200         LEXUS
332             LEXUS GS 450         LEXUS
333              LEXUS GS300         LEXUS
334              LEXUS IS200         LEXUS
335              LEXUS IS220         LEXUS
336              LEXUS IS250         LEXUS
337              LEXUS IS300         LEXUS
338              LEXUS LS400         LEXUS
339              LEXUS LS430         LEXUS
340             LEXUS RX 350         LEXUS
341             LEXUS RX 450         LEXUS
342              LEXUS RX300         LEXUS
343              LEXUS RX400         LEXUS
344              LEXUS RX450         LEXUS
345              LEXUS SC430         LEXUS
346              LOTUS ECLAT         LOTUS
347               LOTUS ELAN         LOTUS
348              LOTUS ELISE         LOTUS
349             LOTUS ESPRIT         LOTUS
350    MASERATI GRAN TURISMO      MASERATI
351                MAZDA 121         MAZDA
352               MAZDA 1300         MAZDA
353               MAZDA 1500         MAZDA
354                  MAZDA 2         MAZDA
355                  MAZDA 3         MAZDA
356                MAZDA 323         MAZDA
357                  MAZDA 5         MAZDA
358                  MAZDA 6         MAZDA
359                MAZDA 626         MAZDA
360                MAZDA 929         MAZDA
361                MAZDA CX5         MAZDA
362                MAZDA CX7         MAZDA
363              MAZDA DEMIO         MAZDA
364                MAZDA MPV         MAZDA
365               MAZDA MX-3         MAZDA
366               MAZDA MX-5         MAZDA
367               MAZDA MX-6         MAZDA
368            MAZDA PREMACY         MAZDA
369                MAZDA RX7         MAZDA
370                MAZDA RX8         MAZDA
371            MAZDA TRIBUTE         MAZDA
372              MAZDA XEDOS         MAZDA
373               MG MAESTRO            MG
374                 MG METRO            MG
375                   MG MGA            MG
376                   MG MGB            MG
377                   MG MGC            MG
378                   MG MGF            MG
379                MG MIDGET            MG
380               MG MONTEGO            MG
381                    MG TF            MG
382                    MG ZR            MG
383                    MG ZS            MG
384                    MG ZT            MG
385              MINI COOPER          MINI
386               MINI FIRST          MINI
387   MINI JOHN COOPER WORKS          MINI
388         MINI MINI COOPER          MINI
389            MINI MINI ONE          MINI
390                 MINI ONE          MINI
391      MINI PACEMAN COOPER          MINI
392     MINI ROADSTER COOPER          MINI
393           MITSUBISHI ASX    MITSUBISHI
394       MITSUBISHI CARISMA    MITSUBISHI
395    MITSUBISHI CHALLENGER    MITSUBISHI
396          MITSUBISHI COLT    MITSUBISHI
397        MITSUBISHI GALANT    MITSUBISHI
398       MITSUBISHI GRANDIS    MITSUBISHI
399        MITSUBISHI LANCER    MITSUBISHI
400        MITSUBISHI MIRAGE    MITSUBISHI
401     MITSUBISHI OUTLANDER    MITSUBISHI
402        MITSUBISHI PAJERO    MITSUBISHI
403        MITSUBISHI SHOGUN    MITSUBISHI
404  MITSUBISHI SPACE RUNNER    MITSUBISHI
405    MITSUBISHI SPACE STAR    MITSUBISHI
406   MITSUBISHI SPACE WAGON    MITSUBISHI
407               MORGAN 4/4        MORGAN
408              MORRIS 1100        MORRIS
409              MORRIS ITAL        MORRIS
410            MORRIS MARINA        MORRIS
411              MORRIS MINI        MORRIS
412             MORRIS MINOR        MORRIS
413            MORRIS OXFORD        MORRIS
414               NISSAN 100        NISSAN
415               NISSAN 200        NISSAN
416               NISSAN 300        NISSAN
417               NISSAN 350        NISSAN
418               NISSAN 370        NISSAN
419            NISSAN ALMERA        NISSAN
420          NISSAN BLUEBIRD        NISSAN
421            NISSAN CHERRY        NISSAN
422                NISSAN GT        NISSAN
423              NISSAN JUKE        NISSAN
424            NISSAN LAUREL        NISSAN
425              NISSAN LEAF        NISSAN
426            NISSAN MAXIMA        NISSAN
427             NISSAN MICRA        NISSAN
428            NISSAN MURANO        NISSAN
429              NISSAN NOTE        NISSAN
430        NISSAN PATHFINDER        NISSAN
431            NISSAN PATROL        NISSAN
432              NISSAN PIXO        NISSAN
433           NISSAN PRAIRIE        NISSAN
434           NISSAN PRIMERA        NISSAN
435           NISSAN QASHQAI        NISSAN
436            NISSAN SERENA        NISSAN
437            NISSAN SILVIA        NISSAN
438           NISSAN SKYLINE        NISSAN
439            NISSAN STANZA        NISSAN
440             NISSAN SUNNY        NISSAN
441           NISSAN TERRANO        NISSAN
442           NISSAN X-TRAIL        NISSAN
443              OPEL ASCONA          OPEL
444              OPEL KADETT          OPEL
445               OPEL MANTA          OPEL
446               OPEL MONZA          OPEL
447              OPEL REKORD          OPEL
448             OPEL SENATOR          OPEL
449              OPEL ZAFIRA          OPEL
450             PEUGEOT 1007       PEUGEOT
451              PEUGEOT 104       PEUGEOT
452              PEUGEOT 106       PEUGEOT
453              PEUGEOT 107       PEUGEOT
454             PEUGEOT 2008       PEUGEOT
455              PEUGEOT 205       PEUGEOT
456              PEUGEOT 206       PEUGEOT
457              PEUGEOT 207       PEUGEOT
458              PEUGEOT 208       PEUGEOT
459             PEUGEOT 3008       PEUGEOT
460              PEUGEOT 305       PEUGEOT
461              PEUGEOT 306       PEUGEOT
462              PEUGEOT 307       PEUGEOT
463              PEUGEOT 308       PEUGEOT

In [9]:
"""
LEVEL 2 MATCHING:
For all the models obtained till now, match it with the model available on the website
This is required for scraping purposes in order to extract only the "relevant data"
Matching the model names with the ones from the websites is tricky as there are instances
where we may not be able to obtain an exact match. We resolve this by using "fuzzy search" methodology
1st priority is given to fuzzy token_sort_ratio value
in case of equal token_sort_ratio, 2nd priority is given to fuzzy ratio
"""

web_scarping_prior_data = []
for model, manufacturer in company_map.items():
    ratios = []
    models = []
    for key in cars_data_level1[manufacturer]:
        ratio1 = fuzz.ratio(model, key)
        ratio2 = fuzz.token_sort_ratio(model, key)
        ratios.append((ratio2, ratio1))
        models.append(key)
    max_ratio = (0, 0)
    matched_model = ""
    for i, ratio in enumerate(ratios):
        max_ratio = max(ratio, max_ratio)
        if (ratio == max_ratio):
            matched_model = models[i]
    if matched_model != "" and max_ratio[0] > 90:
        if model != matched_model:
            print(f'Model: {model} | Matched model: {matched_model} | Max ratio: {max_ratio}')
        web_scarping_prior_data.append((model, matched_model, manufacturer, cars_data_level1[manufacturer][matched_model]['link']))

Model: BMW 1 SERIES | Matched model: BMW 1-SERIES | Max ratio: (100, 92)
Model: BMW 3 SERIES | Matched model: BMW 3-SERIES | Max ratio: (100, 92)
Model: BMW 5 SERIES | Matched model: BMW 5-SERIES | Max ratio: (100, 92)
Model: BMW 6 SERIES | Matched model: BMW 6-SERIES | Max ratio: (100, 92)
Model: BMW 7 SERIES | Matched model: BMW 7-SERIES | Max ratio: (100, 92)
Model: BMW 8 SERIES | Matched model: BMW 8-SERIES | Max ratio: (100, 92)
Model: CHRYSLER 300 | Matched model: CHRYSLER 300M | Max ratio: (96, 96)
Model: DAIHATSU GRAND MOVE | Matched model: DAIHATSU GRAN MOVE | Max ratio: (97, 97)
Model: DAIMLER 4.2 | Matched model: DAIMLER 4.0 | Max ratio: (91, 91)
Model: HYUNDAI ATOZ | Matched model: HYUNDAI ATOS | Max ratio: (92, 92)
Model: HYUNDAI S-COUPE | Matched model: HYUNDAI COUPE | Max ratio: (93, 93)
Model: HYUNDAI X2 | Matched model: HYUNDAI IX20 | Max ratio: (91, 91)
Model: JAGUAR S TYPE | Matched model: JAGUAR S-TYPE | Max ratio: (100, 92)
Model: JAGUAR X TYPE | Matched model: JAGUAR X-TYPE | Max ratio: (100, 92)
Model: JAGUAR XK8 | Matched model: JAGUAR XK | Max ratio: (95, 95)
Model: JAGUAR XKR | Matched model: JAGUAR XK | Max ratio: (95, 95)
Model: LAND ROVER DEFENDER | Matched model: LAND ROVER DEFENDER 90 | Max ratio: (93, 93)
Model: MAZDA XEDOS | Matched model: MAZDA XEDOS 6 | Max ratio: (92, 92)
Model: NISSAN 370 | Matched model: NISSAN 370Z | Max ratio: (95, 95)
Model: PORSCHE CARRERA | Matched model: PORSCHE CARRERA GT | Max ratio: (91, 91)
Model: ROVER 100 SERIES | Matched model: ROVER 100-SERIES | Max ratio: (100, 94)
Model: ROVER 200 SERIES | Matched model: ROVER 200-SERIES | Max ratio: (100, 94)
Model: ROVER 400 SERIES | Matched model: ROVER 400-SERIES | Max ratio: (100, 94)
Model: ROVER 600 SERIES | Matched model: ROVER 600-SERIES | Max ratio: (100, 94)
Model: ROVER 800 SERIES | Matched model: ROVER 800-SERIES | Max ratio: (100, 94)
Model: TOYOTA 4-RUNNER | Matched model: TOYOTA 4RUNNER | Max ratio: (97, 97)
Model: TVR CHIMERA | Matched model: TVR CHIMAERA | Max ratio: (96, 96)
Model: VOLKSWAGEN URBAN | Matched model: VOLKSWAGEN TOURAN | Max ratio: (91, 91)

In [10]:
"""
Removing the extreme outliers:

As seen in the above output, the following matches are outliers and can be removed

1. Model: HYUNDAI X2 | Matched model: HYUNDAI IX20 | Max ratio: (91, 91)
2. Model: VOLKSWAGEN URBAN | Matched model: VOLKSWAGEN TOURAN | Max ratio: (91, 91)

We can also see that using fuzzy search method has helped find out the model names such as
1. Model: HYUNDAI ATOZ | Matched model: HYUNDAI ATOS | Max ratio: (92, 92)
2. Model: TVR CHIMERA | Matched model: TVR CHIMAERA | Max ratio: (96, 96)
etc.

We will relax the restrictions for the below values
1. Model: HYUNDAI S-COUPE | Matched model: HYUNDAI COUPE | Max ratio: (93, 93)
2. Model: JAGUAR XK8 | Matched model: JAGUAR XK | Max ratio: (95, 95)
3. Model: JAGUAR XKR | Matched model: JAGUAR XK | Max ratio: (95, 95)

which otherwise would be missed if we use direct string matching
"""

scraping_data = pd.DataFrame(web_scarping_prior_data, columns=['Model', 'Matched Model', 'Manufacturer', 'Link'])
display(scraping_data)

,Model,Matched Model,Manufacturer,Link
0,ABARTH 500,ABARTH 500,ABARTH,https://www.cars-data.com/en/abarth/500
1,ALFA ROMEO 145,ALFA ROMEO 145,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/145
2,ALFA ROMEO 146,ALFA ROMEO 146,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/146
3,ALFA ROMEO 147,ALFA ROMEO 147,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/147
4,ALFA ROMEO 155,ALFA ROMEO 155,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/155
5,ALFA ROMEO 156,ALFA ROMEO 156,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/156
6,ALFA ROMEO 159,ALFA ROMEO 159,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/159
7,ALFA ROMEO 164,ALFA ROMEO 164,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/164
8,ALFA ROMEO 166,ALFA ROMEO 166,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/166
9,ALFA ROMEO 33,ALFA ROMEO 33,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/33
10,ALFA ROMEO 75,ALFA ROMEO 75,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/75
11,ALFA ROMEO ALFASUD,ALFA ROMEO ALFASUD,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/alfasud
12,ALFA ROMEO BRERA,ALFA ROMEO BRERA,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/brera
13,ALFA ROMEO GIULIETTA,ALFA ROMEO GIULIETTA,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/giulietta
14,ALFA ROMEO GT,ALFA ROMEO GT,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/gt
15,ALFA ROMEO GTV,ALFA ROMEO GTV,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/gtv
16,ALFA ROMEO MITO,ALFA ROMEO MITO,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/mito
17,ALFA ROMEO SPIDER,ALFA ROMEO SPIDER,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/spider
18,ALFA ROMEO SPRINT,ALFA ROMEO SPRINT,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/sprint
19,ASTON MARTIN DB7,ASTON MARTIN DB7,ASTON MARTIN,https://www.cars-data.com/en/aston-martin/db7
20,ASTON MARTIN DB9,ASTON MARTIN DB9,ASTON MARTIN,https://www.cars-data.com/en/aston-martin/db9
21,ASTON MARTIN VANTAGE,ASTON MARTIN VANTAGE,ASTON MARTIN,https://www.cars-data.com/en/aston-martin/vantage
22,AUDI 100,AUDI 100,AUDI,https://www.cars-data.com/en/audi/100
23,AUDI 200,AUDI 200,AUDI,https://www.cars-data.com/en/audi/200
24,AUDI 80,AUDI 80,AUDI,https://www.cars-data.com/en/audi/80
25,AUDI 90,AUDI 90,AUDI,https://www.cars-data.com/en/audi/90
26,AUDI A1,AUDI A1,AUDI,https://www.cars-data.com/en/audi/a1
27,AUDI A2,AUDI A2,AUDI,https://www.cars-data.com/en/audi/a2
28,AUDI A3,AUDI A3,AUDI,https://www.cars-data.com/en/audi/a3
29,AUDI A4,AUDI A4,AUDI,https://www.cars-data.com/en/audi/a4
30,AUDI A6,AUDI A6,AUDI,https://www.cars-data.com/en/audi/a6
31,AUDI A8,AUDI A8,AUDI,https://www.cars-data.com/en/audi/a8
32,AUDI CABRIOLET,AUDI CABRIOLET,AUDI,https://www.cars-data.com/en/audi/cabriolet
33,AUDI COUPE,AUDI COUPE,AUDI,https://www.cars-data.com/en/audi/coupe
34,AUDI Q3,AUDI Q3,AUDI,https://www.cars-data.com/en/audi/q3
35,AUDI Q5,AUDI Q5,AUDI,https://www.cars-data.com/en/audi/q5
36,AUDI Q7,AUDI Q7,AUDI,https://www.cars-data.com/en/audi/q7
37,AUDI QUATTRO,AUDI QUATTRO,AUDI,https://www.cars-data.com/en/audi/quattro
38,AUDI R8,AUDI R8,AUDI,https://www.cars-data.com/en/audi/r8
39,AUDI RS4,AUDI RS4,AUDI,https://www.cars-data.com/en/audi/rs4
40,AUDI RS6,AUDI RS6,AUDI,https://www.cars-data.com/en/audi/rs6
41,AUDI S3,AUDI S3,AUDI,https://www.cars-data.com/en/audi/s3
42,AUDI S4,AUDI S4,AUDI,https://www.cars-data.com/en/audi/s4
43,AUSTIN ALLEGRO,AUSTIN ALLEGRO,AUSTIN,https://www.cars-data.com/en/austin/allegro
44,AUSTIN MAESTRO,AUSTIN MAESTRO,AUSTIN,https://www.cars-data.com/en/austin/maestro
45,AUSTIN METRO,AUSTIN METRO,AUSTIN,https://www.cars-data.com/en/austin/metro
46,AUSTIN MINI,AUSTIN MINI,AUSTIN,https://www.cars-data.com/en/austin/mini
47,AUSTIN MONTEGO,AUSTIN MONTEGO,AUSTIN,https://www.cars-data.com/en/austin/montego
48,BENTLEY ARNAGE,BENTLEY ARNAGE,BENTLEY,https://www.cars-data.com/en/bentley/arnage
49,BENTLEY CONTINENTAL,BENTLEY CONTINENTAL,BENTLEY,https://www.cars-data.com/en/bentley/continental
50,BMW 1 SERIES,BMW 1-SERIES,BMW,https://www.cars-data.com/en/bmw/1-series
51,BMW 3 SERIES,BMW 3-SERIES,BMW,https://www.cars-data.com/en/bmw/3-series
52,BMW 5 SERIES,BMW 5-SERIES,BMW,https://www.cars-data.com/en/bmw/5-series
53,BMW 6 SERIES,BMW 6-SERIES,BMW,https://www.cars-data.com/en/bmw/6-series
54,BMW 7 SERIES,BMW 7-SERIES,BMW,https://www.cars-data.com/en/bmw/7-series
55,BMW 8 SERIES,BMW 8-SERIES,BMW,https://www.cars-data.com/en/bmw/8-series
56,BMW X1,BMW X1,BMW,https://www.cars-data.com/en/bmw/x1
57,BMW X3,BMW X3,BMW,https://www.cars-data.com/en/bmw/x3
58,BMW X5,BMW X5,BMW,https://www.cars-data.com/en/bmw/x5
59,BMW X6,BMW X6,BMW,https://www.cars-data.com/en/bmw/x6
60,CHEVROLET AVEO,CHEVROLET AVEO,CHEVROLET,https://www.cars-data.com/en/chevrolet/aveo
61,CHEVROLET CAPTIVA,CHEVROLET CAPTIVA,CHEVROLET,https://www.cars-data.com/en/chevrolet/captiva
62,CHEVROLET CRUZE,CHEVROLET CRUZE,CHEVROLET,https://www.cars-data.com/en/chevrolet/cruze
63,CHEVROLET KALOS,CHEVROLET KALOS,CHEVROLET,https://www.cars-data.com/en/chevrolet/kalos
64,CHEVROLET LACETTI,CHEVROLET LACETTI,CHEVROLET,https://www.cars-data.com/en/chevrolet/lacetti
65,CHEVROLET MATIZ,CHEVROLET MATIZ,CHEVROLET,https://www.cars-data.com/en/chevrolet/matiz
66,CHEVROLET ORLANDO,CHEVROLET ORLANDO,CHEVROLET,https://www.cars-data.com/en/chevrolet/orlando
67,CHEVROLET SPARK,CHEVROLET SPARK,CHEVROLET,https://www.cars-data.com/en/chevrolet/spark
68,CHEVROLET TACUMA,CHEVROLET TACUMA,CHEVROLET,https://www.cars-data.com/en/chevrolet/tacuma
69,CHRYSLER 300,CHRYSLER 300M,CHRYSLER,https://www.cars-data.com/en/chrysler/300m
70,CHRYSLER CROSSFIRE,CHRYSLER CROSSFIRE,CHRYSLER,https://www.cars-data.com/en/chrysler/crossfire
71,CHRYSLER NEON,CHRYSLER NEON,CHRYSLER,https://www.cars-data.com/en/chrysler/neon
72,CHRYSLER PT CRUISER,CHRYSLER PT CRUISER,CHRYSLER,https://www.cars-data.com/en/chrysler/pt-cruiser
73,CHRYSLER SEBRING,CHRYSLER SEBRING,CHRYSLER,https://www.cars-data.com/en/chrysler/sebring
74,CHRYSLER VOYAGER,CHRYSLER VOYAGER,CHRYSLER,https://www.cars-data.com/en/chrysler/voyager
75,CITROEN 2CV,CITROEN 2CV,CITROEN,https://www.cars-data.com/en/citroen/2cv
76,CITROEN AX,CITROEN AX,CITROEN,https://www.cars-data.com/en/citroen/ax
77,CITROEN BERLINGO,CITROEN BERLINGO,CITROEN,https://www.cars-data.com/en/citroen/berlingo
78,CITROEN BX,CITROEN BX,CITROEN,https://www.cars-data.com/en/citroen/bx
79,CITROEN C-CROSSER,CITROEN C-CROSSER,CITROEN,https://www.cars-data.com/en/citroen/c-crosser
80,CITROEN C1,CITROEN C1,CITROEN,https://www.cars-data.com/en/citroen/c1
81,CITROEN C2,CITROEN C2,CITROEN,https://www.cars-data.com/en/citroen/c2
82,CITROEN C3,CITROEN C3,CITROEN,https://www.cars-data.com/en/citroen/c3
83,CITROEN C4,CITROEN C4,CITROEN,https://www.cars-data.com/en/citroen/c4
84,CITROEN C5,CITROEN C5,CITROEN,https://www.cars-data.com/en/citroen/c5
85,CITROEN C8,CITROEN C8,CITROEN,https://www.cars-data.com/en/citroen/c8
86,CITROEN CX,CITROEN CX,CITROEN,https://www.cars-data.com/en/citroen/cx
87,CITROEN DS3,CITROEN DS3,CITROEN,https://www.cars-data.com/en/citroen/ds3
88,CITROEN DS4,CITROEN DS4,CITROEN,https://www.cars-data.com/en/citroen/ds4
89,CITROEN DS5,CITROEN DS5,CITROEN,https://www.cars-data.com/en/citroen/ds5
90,CITROEN DYANE,CITROEN DYANE,CITROEN,https://www.cars-data.com/en/citroen/dyane
91,CITROEN GSA,CITROEN GSA,CITROEN,https://www.cars-data.com/en/citroen/gsa
92,CITROEN LNA,CITROEN LNA,CITROEN,https://www.cars-data.com/en/citroen/lna
93,CITROEN NEMO,CITROEN NEMO,CITROEN,https://www.cars-data.com/en/citroen/nemo
94,CITROEN SAXO,CITROEN SAXO,CITROEN,https://www.cars-data.com/en/citroen/saxo
95,CITROEN VISA,CITROEN VISA,CITROEN,https://www.cars-data.com/en/citroen/visa
96,CITROEN XANTIA,CITROEN XANTIA,CITROEN,https://www.cars-data.com/en/citroen/xantia
97,CITROEN XM,CITROEN XM,CITROEN,https://www.cars-data.com/en/citroen/xm
98,CITROEN XSARA,CITROEN XSARA,CITROEN,https://www.cars-data.com/en/citroen/xsara
99,CITROEN ZX,CITROEN ZX,CITROEN,https://www.cars-data.com/en/citroen/zx
100,DACIA DUSTER,DACIA DUSTER,DACIA,https://www.cars-data.com/en/dacia/duster
101,DACIA SANDERO,DACIA SANDERO,DACIA,https://www.cars-data.com/en/dacia/sandero
102,DAEWOO ESPERO,DAEWOO ESPERO,DAEWOO,https://www.cars-data.com/en/daewoo/espero
103,DAEWOO KALOS,DAEWOO KALOS,DAEWOO,https://www.cars-data.com/en/daewoo/kalos
104,DAEWOO LACETTI,DAEWOO LACETTI,DAEWOO,https://www.cars-data.com/en/daewoo/lacetti
105,DAEWOO LANOS,DAEWOO LANOS,DAEWOO,https://www.cars-data.com/en/daewoo/lanos
106,DAEWOO LEGANZA,DAEWOO LEGANZA,DAEWOO,https://www.cars-data.com/en/daewoo/leganza
107,DAEWOO MATIZ,DAEWOO MATIZ,DAEWOO,https://www.cars-data.com/en/daewoo/matiz
108,DAEWOO NEXIA,DAEWOO NEXIA,DAEWOO,https://www.cars-data.com/en/daewoo/nexia
109,DAEWOO NUBIRA,DAEWOO NUBIRA,DAEWOO,https://www.cars-data.com/en/daewoo/nubira
110,DAEWOO TACUMA,DAEWOO TACUMA,DAEWOO,https://www.cars-data.com/en/daewoo/tacuma
111,DAIHATSU APPLAUSE,DAIHATSU APPLAUSE,DAIHATSU,https://www.cars-data.com/en/daihatsu/applause
112,DAIHATSU CHARADE,DAIHATSU CHARADE,DAIHATSU,https://www.cars-data.com/en/daihatsu/charade
113,DAIHATSU CHARMANT,DAIHATSU CHARMANT,DAIHATSU,https://www.cars-data.com/en/daihatsu/charmant
114,DAIHATSU COPEN,DAIHATSU COPEN,DAIHATSU,https://www.cars-data.com/en/daihatsu/copen
115,DAIHATSU CUORE,DAIHATSU CUORE,DAIHATSU,https://www.cars-data.com/en/daihatsu/cuore
116,DAIHATSU GRAND MOVE,DAIHATSU GRAN MOVE,DAIHATSU,https://www.cars-data.com/en/daihatsu/gran-move
117,DAIHATSU MOVE,DAIHATSU MOVE,DAIHATSU,https://www.cars-data.com/en/daihatsu/move
118,DAIHATSU SIRION,DAIHATSU SIRION,DAIHATSU,https://www.cars-data.com/en/daihatsu/sirion
119,DAIHATSU TERIOS,DAIHATSU TERIOS,DAIHATSU,https://www.cars-data.com/en/daihatsu/terios
120,DAIMLER 3.6,DAIMLER 3.6,DAIMLER,https://www.cars-data.com/en/daimler/3.6
121,DAIMLER 4.0,DAIMLER 4.0,DAIMLER,https://www.cars-data.com/en/daimler/4.0
122,DAIMLER 4.2,DAIMLER 4.0,DAIMLER,https://www.cars-data.com/en/daimler/4.0
123,DAIMLER DOUBLE SIX,DAIMLER DOUBLE SIX,DAIMLER,https://www.cars-data.com/en/daimler/double-six
124,DAIMLER V8,DAIMLER V8,DAIMLER,https://www.cars-data.com/en/daimler/v8
125,DATSUN BLUEBIRD,DATSUN BLUEBIRD,DATSUN,https://www.cars-data.com/en/datsun/bluebird
126,DATSUN CHERRY,DATSUN CHERRY,DATSUN,https://www.cars-data.com/en/datsun/cherry
127,DATSUN LAUREL,DATSUN LAUREL,DATSUN,https://www.cars-data.com/en/datsun/laurel
128,DATSUN STANZA,DATSUN STANZA,DATSUN,https://www.cars-data.com/en/datsun/stanza
129,DATSUN SUNNY,DATSUN SUNNY,DATSUN,https://www.cars-data.com/en/datsun/sunny
130,DODGE CALIBER,DODGE CALIBER,DODGE,https://www.cars-data.com/en/dodge/caliber
131,DODGE JOURNEY,DODGE JOURNEY,DODGE,https://www.cars-data.com/en/dodge/journey
132,DODGE NITRO,DODGE NITRO,DODGE,https://www.cars-data.com/en/dodge/nitro
133,FERRARI F430,FERRARI F430,FERRARI,https://www.cars-data.com/en/ferrari/f430
134,FIAT 126,FIAT 126,FIAT,https://www.cars-data.com/en/fiat/126
135,FIAT 127,FIAT 127,FIAT,https://www.cars-data.com/en/fiat/127
136,FIAT 500,FIAT 500,FIAT,https://www.cars-data.com/en/fiat/500
137,FIAT BARCHETTA,FIAT BARCHETTA,FIAT,https://www.cars-data.com/en/fiat/barchetta
138,FIAT BRAVA,FIAT BRAVA,FIAT,https://www.cars-data.com/en/fiat/brava
139,FIAT BRAVO,FIAT BRAVO,FIAT,https://www.cars-data.com/en/fiat/bravo
140,FIAT CINQUECENTO,FIAT CINQUECENTO,FIAT,https://www.cars-data.com/en/fiat/cinquecento
141,FIAT COUPE,FIAT COUPE,FIAT,https://www.cars-data.com/en/fiat/coupe
142,FIAT CROMA,FIAT CROMA,FIAT,https://www.cars-data.com/en/fiat/croma
143,FIAT DOBLO,FIAT DOBLO,FIAT,https://www.cars-data.com/en/fiat/doblo
144,FIAT IDEA,FIAT IDEA,FIAT,https://www.cars-data.com/en/fiat/idea
145,FIAT MAREA,FIAT MAREA,FIAT,https://www.cars-data.com/en/fiat/marea
146,FIAT MULTIPLA,FIAT MULTIPLA,FIAT,https://www.cars-data.com/en/fiat/multipla
147,FIAT PANDA,FIAT PANDA,FIAT,https://www.cars-data.com/en/fiat/panda
148,FIAT PUNTO,FIAT PUNTO,FIAT,https://www.cars-data.com/en/fiat/punto
149,FIAT QUBO,FIAT QUBO,FIAT,https://www.cars-data.com/en/fiat/qubo
150,FIAT REGATA,FIAT REGATA,FIAT,https://www.cars-data.com/en/fiat/regata
151,FIAT SEDICI,FIAT SEDICI,FIAT,https://www.cars-data.com/en/fiat/sedici
152,FIAT SEICENTO,FIAT SEICENTO,FIAT,https://www.cars-data.com/en/fiat/seicento
153,FIAT STILO,FIAT STILO,FIAT,https://www.cars-data.com/en/fiat/stilo
154,FIAT STRADA,FIAT STRADA,FIAT,https://www.cars-data.com/en/fiat/strada
155,FIAT TEMPRA,FIAT TEMPRA,FIAT,https://www.cars-data.com/en/fiat/tempra
156,FIAT TIPO,FIAT TIPO,FIAT,https://www.cars-data.com/en/fiat/tipo
157,FIAT ULYSSE,FIAT ULYSSE,FIAT,https://www.cars-data.com/en/fiat/ulysse
158,FIAT UNO,FIAT UNO,FIAT,https://www.cars-data.com/en/fiat/uno
159,FORD B-MAX,FORD B-MAX,FORD,https://www.cars-data.com/en/ford/b-max
160,FORD C-MAX,FORD C-MAX,FORD,https://www.cars-data.com/en/ford/c-max
161,FORD CAPRI,FORD CAPRI,FORD,https://www.cars-data.com/en/ford/capri
162,FORD COUGAR,FORD COUGAR,FORD,https://www.cars-data.com/en/ford/cougar
163,FORD ESCORT,FORD ESCORT,FORD,https://www.cars-data.com/en/ford/escort
164,FORD EXPLORER,FORD EXPLORER,FORD,https://www.cars-data.com/en/ford/explorer
165,FORD FIESTA,FORD FIESTA,FORD,https://www.cars-data.com/en/ford/fiesta
166,FORD FOCUS,FORD FOCUS,FORD,https://www.cars-data.com/en/ford/focus
167,FORD FUSION,FORD FUSION,FORD,https://www.cars-data.com/en/ford/fusion
168,FORD GALAXY,FORD GALAXY,FORD,https://www.cars-data.com/en/ford/galaxy
169,FORD GRANADA,FORD GRANADA,FORD,https://www.cars-data.com/en/ford/granada
170,FORD KA,FORD KA,FORD,https://www.cars-data.com/en/ford/ka
171,FORD KUGA,FORD KUGA,FORD,https://www.cars-data.com/en/ford/kuga
172,FORD MONDEO,FORD MONDEO,FORD,https://www.cars-data.com/en/ford/mondeo
173,FORD MUSTANG,FORD MUSTANG,FORD,https://www.cars-data.com/en/ford/mustang
174,FORD ORION,FORD ORION,FORD,https://www.cars-data.com/en/ford/orion
175,FORD PROBE,FORD PROBE,FORD,https://www.cars-data.com/en/ford/probe
176,FORD PUMA,FORD PUMA,FORD,https://www.cars-data.com/en/ford/puma
177,FORD S-MAX,FORD S-MAX,FORD,https://www.cars-data.com/en/ford/s-max
178,FORD SCORPIO,FORD SCORPIO,FORD,https://www.cars-data.com/en/ford/scorpio
179,FORD SIERRA,FORD SIERRA,FORD,https://www.cars-data.com/en/ford/sierra
180,FORD STREETKA,FORD STREETKA,FORD,https://www.cars-data.com/en/ford/streetka
181,FORD TRANSIT,FORD TRANSIT,FORD,https://www.cars-data.com/en/ford/transit
182,HONDA ACCORD,HONDA ACCORD,HONDA,https://www.cars-data.com/en/honda/accord
183,HONDA CIVIC,HONDA CIVIC,HONDA,https://www.cars-data.com/en/honda/civic
184,HONDA CONCERTO,HONDA CONCERTO,HONDA,https://www.cars-data.com/en/honda/concerto
185,HONDA CR-Z,HONDA CR-Z,HONDA,https://www.cars-data.com/en/honda/cr-z
186,HONDA CRX,HONDA CRX,HONDA,https://www.cars-data.com/en/honda/crx
187,HONDA FR-V,HONDA FR-V,HONDA,https://www.cars-data.com/en/honda/fr-v
188,HONDA HR-V,HONDA HR-V,HONDA,https://www.cars-data.com/en/honda/hr-v
189,HONDA INSIGHT,HONDA INSIGHT,HONDA,https://www.cars-data.com/en/honda/insight
190,HONDA INTEGRA,HONDA INTEGRA,HONDA,https://www.cars-data.com/en/honda/integra
191,HONDA JAZZ,HONDA JAZZ,HONDA,https://www.cars-data.com/en/honda/jazz
192,HONDA LEGEND,HONDA LEGEND,HONDA,https://www.cars-data.com/en/honda/legend
193,HONDA LOGO,HONDA LOGO,HONDA,https://www.cars-data.com/en/honda/logo
194,HONDA PRELUDE,HONDA PRELUDE,HONDA,https://www.cars-data.com/en/honda/prelude
195,HONDA QUINTET,HONDA QUINTET,HONDA,https://www.cars-data.com/en/honda/quintet
196,HONDA S2000,HONDA S2000,HONDA,https://www.cars-data.com/en/honda/s2000
197,HONDA SHUTTLE,HONDA SHUTTLE,HONDA,https://www.cars-data.com/en/honda/shuttle
198,HONDA STREAM,HONDA STREAM,HONDA,https://www.cars-data.com/en/honda/stream
199,HYUNDAI ACCENT,HYUNDAI ACCENT,HYUNDAI,https://www.cars-data.com/en/hyundai/accent
200,HYUNDAI ATOZ,HYUNDAI ATOS,HYUNDAI,https://www.cars-data.com/en/hyundai/atos
201,HYUNDAI COUPE,HYUNDAI COUPE,HYUNDAI,https://www.cars-data.com/en/hyundai/coupe
202,HYUNDAI ELANTRA,HYUNDAI ELANTRA,HYUNDAI,https://www.cars-data.com/en/hyundai/elantra
203,HYUNDAI GETZ,HYUNDAI GETZ,HYUNDAI,https://www.cars-data.com/en/hyundai/getz
204,HYUNDAI I10,HYUNDAI I10,HYUNDAI,https://www.cars-data.com/en/hyundai/i10
205,HYUNDAI I20,HYUNDAI I20,HYUNDAI,https://www.cars-data.com/en/hyundai/i20
206,HYUNDAI I30,HYUNDAI I30,HYUNDAI,https://www.cars-data.com/en/hyundai/i30
207,HYUNDAI I40,HYUNDAI I40,HYUNDAI,https://www.cars-data.com/en/hyundai/i40
208,HYUNDAI IX20,HYUNDAI IX20,HYUNDAI,https://www.cars-data.com/en/hyundai/ix20
209,HYUNDAI IX35,HYUNDAI IX35,HYUNDAI,https://www.cars-data.com/en/hyundai/ix35
210,HYUNDAI LANTRA,HYUNDAI LANTRA,HYUNDAI,https://www.cars-data.com/en/hyundai/lantra
211,HYUNDAI MATRIX,HYUNDAI MATRIX,HYUNDAI,https://www.cars-data.com/en/hyundai/matrix
212,HYUNDAI PONY,HYUNDAI PONY,HYUNDAI,https://www.cars-data.com/en/hyundai/pony
213,HYUNDAI S-COUPE,HYUNDAI COUPE,HYUNDAI,https://www.cars-data.com/en/hyundai/coupe
214,HYUNDAI SANTA FE,HYUNDAI SANTA FE,HYUNDAI,https://www.cars-data.com/en/hyundai/santa-fe
215,HYUNDAI SONATA,HYUNDAI SONATA,HYUNDAI,https://www.cars-data.com/en/hyundai/sonata
216,HYUNDAI STELLAR,HYUNDAI STELLAR,HYUNDAI,https://www.cars-data.com/en/hyundai/stellar
217,HYUNDAI TERRACAN,HYUNDAI TERRACAN,HYUNDAI,https://www.cars-data.com/en/hyundai/terracan
218,HYUNDAI TRAJET,HYUNDAI TRAJET,HYUNDAI,https://www.cars-data.com/en/hyundai/trajet
219,HYUNDAI TUCSON,HYUNDAI TUCSON,HYUNDAI,https://www.cars-data.com/en/hyundai/tucson
220,HYUNDAI VELOSTER,HYUNDAI VELOSTER,HYUNDAI,https://www.cars-data.com/en/hyundai/veloster
221,HYUNDAI X2,HYUNDAI IX20,HYUNDAI,https://www.cars-data.com/en/hyundai/ix20
222,JAGUAR S TYPE,JAGUAR S-TYPE,JAGUAR,https://www.cars-data.com/en/jaguar/s-type
223,JAGUAR X TYPE,JAGUAR X-TYPE,JAGUAR,https://www.cars-data.com/en/jaguar/x-type
224,JAGUAR XK,JAGUAR XK,JAGUAR,https://www.cars-data.com/en/jaguar/xk
225,JAGUAR XK8,JAGUAR XK,JAGUAR,https://www.cars-data.com/en/jaguar/xk
226,JAGUAR XKR,JAGUAR XK,JAGUAR,https://www.cars-data.com/en/jaguar/xk
227,JEEP CHEROKEE,JEEP CHEROKEE,JEEP,https://www.cars-data.com/en/jeep/cherokee
228,JEEP COMMANDER,JEEP COMMANDER,JEEP,https://www.cars-data.com/en/jeep/commander
229,JEEP COMPASS,JEEP COMPASS,JEEP,https://www.cars-data.com/en/jeep/compass
230,JEEP PATRIOT,JEEP PATRIOT,JEEP,https://www.cars-data.com/en/jeep/patriot
231,JEEP WRANGLER,JEEP WRANGLER,JEEP,https://www.cars-data.com/en/jeep/wrangler
232,KIA CARENS,KIA CARENS,KIA,https://www.cars-data.com/en/kia/carens
233,KIA CEED,KIA CEED,KIA,https://www.cars-data.com/en/kia/ceed
234,KIA CERATO,KIA CERATO,KIA,https://www.cars-data.com/en/kia/cerato
235,KIA MAGENTIS,KIA MAGENTIS,KIA,https://www.cars-data.com/en/kia/magentis
236,KIA MENTOR,KIA MENTOR,KIA,https://www.cars-data.com/en/kia/mentor
237,KIA OPTIMA,KIA OPTIMA,KIA,https://www.cars-data.com/en/kia/optima
238,KIA PICANTO,KIA PICANTO,KIA,https://www.cars-data.com/en/kia/picanto
239,KIA PRIDE,KIA PRIDE,KIA,https://www.cars-data.com/en/kia/pride
240,KIA RIO,KIA RIO,KIA,https://www.cars-data.com/en/kia/rio
241,KIA SHUMA,KIA SHUMA,KIA,https://www.cars-data.com/en/kia/shuma
242,KIA SORENTO,KIA SORENTO,KIA,https://www.cars-data.com/en/kia/sorento
243,KIA SOUL,KIA SOUL,KIA,https://www.cars-data.com/en/kia/soul
244,KIA SPORTAGE,KIA SPORTAGE,KIA,https://www.cars-data.com/en/kia/sportage
245,KIA VENGA,KIA VENGA,KIA,https://www.cars-data.com/en/kia/venga
246,LADA 1200,LADA 1200,LADA,https://www.cars-data.com/en/lada/1200
247,LADA NIVA,LADA NIVA,LADA,https://www.cars-data.com/en/lada/niva
248,LADA SAMARA,LADA SAMARA,LADA,https://www.cars-data.com/en/lada/samara
249,LANCIA DEDRA,LANCIA DEDRA,LANCIA,https://www.cars-data.com/en/lancia/dedra
250,LANCIA DELTA,LANCIA DELTA,LANCIA,https://www.cars-data.com/en/lancia/delta
251,LANCIA PRISMA,LANCIA PRISMA,LANCIA,https://www.cars-data.com/en/lancia/prisma
252,LANCIA THEMA,LANCIA THEMA,LANCIA,https://www.cars-data.com/en/lancia/thema
253,LAND ROVER DEFENDER,LAND ROVER DEFENDER 90,LAND ROVER,https://www.cars-data.com/en/land-rover/defend...
254,LAND ROVER DISCOVERY,LAND ROVER DISCOVERY,LAND ROVER,https://www.cars-data.com/en/land-rover/discovery

In [11]:
"""
START WEB SCRAPING
"""

from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import subprocess
import time
from webdriver_manager.chrome import ChromeDriverManager
import pickle5 as pickle
import os
import signal
import json

driver = webdriver.Chrome(ChromeDriverManager().install())
driver.implicitly_wait(10)

In [12]:
"""
Handling web scraping challenges:

There are times that the script will give 403 forbidden or will timeout due to excessive scraping
In such a scenario, we would not want to lose out the data that we've already extracted
Hence, manually feed the value of `last_scraped` to be the model name which was successfully scraped (latest)
The script will resume after this model. If starting from the beginning, put the value to be an empty string
"""

last_scraped = ''

In [13]:
start_idx = 0
if last_scraped != '':
    with open('scraped_cars_data.pickle','rb') as f:
        scraped_cars_data = pickle.load(f)
    start_idx = scraping_data.Models.searchsorted(last_scraped)

In [14]:
scraping_data = scraping_data[start_idx:]

In [15]:
def get_year_data_for_current_year():
    title = driver.find_element_by_class_name('title')
    description = title.find_element_by_xpath('div[2]/h2').get_attribute('innerText')
    divs = driver.find_element_by_xpath(
        '/html/body/main/div/div[2]/section[2]/div[1]')
    types = divs.find_elements_by_class_name('row')
    types_data = []
    for type in types:
        columns = type.find_elements_by_tag_name('div')
        data = {}
        data['link'] = columns[0].find_element_by_tag_name(
            'a').get_attribute('href')
        data['title'] = columns[0].text
        data['fuel'] = columns[1].text
        data['transmission'] = columns[2].text
        data['energy'] = columns[3].text
        types_data.append(data)
    year_data = {}
    year_data['description'] = description
    year_data['types'] = types_data
    return year_data

def get_years_data_from_year_links(year_links):
    years = sorted(list(year_links.keys()))
    print(years)
    years_data = {}
    for year in years:
        # AN OPTIMIZATION TO SAVE SCRAPING TIME
        # The link corresponding to the least year is already opened
        # do not open it again
        link = year_links[year]
        if link != driver.current_url:
            driver.get(link)
        years_data[year] = get_year_data_for_current_year()
    return years_data

def get_model_types(model_data):
    link = model_data['link']
    driver.get(link)
    
    # Extract all the links corresponding to all the years
    element = driver.find_element_by_xpath(
        '/html/body/main/div/div[2]/section[2]/div[1]')
    divs = element.find_elements_by_tag_name('div')
    years = divs[0].find_elements_by_tag_name('a')
    year_links = {}
    for year in years:
        year_links[year.get_attribute('innerText')] = year.get_attribute('href')
    
    # Obtain all the images from the current page
    image_guids = []
    images_divs = driver.find_elements_by_class_name('img100')
    for images_div in images_divs:
        images = images_div.find_elements_by_xpath('div/a/picture/img')
        for image in images:
            guid = uuid.uuid4().hex
            src = image.get_attribute('src')
            scraped_static_data[guid] = src
            image_guids.append(guid)
    
    return get_years_data_from_year_links(year_links), image_guids

def get_models_data(models, recurse=True):
    models_data = []
    # Extract information corresponding to all the models
    for model in models:
        model_data = {}
        model_data['title'] = model.get_attribute('innerText')
        model_data['link']  = model.get_attribute('href')
        model_data['years'] = {}
        models_data.append(model_data)
    if not recurse:
        return models_data
    
    # Recursively scrape information for all the models
    # launched in all the years
    for idx, model_data in enumerate(models_data):
        model_data['years'], model_data['images'] = get_model_types(model_data)
    return models_data

scraped_cars_data = {}
scraped_static_data = {}

for data in scraping_data.iloc:
    display(pd.DataFrame(data).T)
    
    # Obtain the link for the current model
    link = data['Link']
    
    # Open the link in the browser
    driver.get(link)
    
    # Find all the models for the current model
    models_elements = driver.find_elements_by_class_name('models')
    models = []
    for model in models_elements[:-1]:
        models += model.find_elements_by_xpath('./div/a')
    # Obtain the data (recursively can be True/False) for all the models
    models_data = get_models_data(models)
    scraped_cars_data[data['Model']] = models_data

,Model,Matched Model,Manufacturer,Link
0,ABARTH 500,ABARTH 500,ABARTH,https://www.cars-data.com/en/abarth/500

['2008', '2012', '2014', '2015']

,Model,Matched Model,Manufacturer,Link
1,ALFA ROMEO 145,ALFA ROMEO 145,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/145

['1999']
['1994', '1995', '1996', '1997', '1998']

,Model,Matched Model,Manufacturer,Link
2,ALFA ROMEO 146,ALFA ROMEO 146,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/146

['1999']
['1995', '1996', '1997', '1998']

,Model,Matched Model,Manufacturer,Link
3,ALFA ROMEO 147,ALFA ROMEO 147,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/147

['2007', '2008']
['2007', '2008']
['2005', '2006']
['2005', '2006']
['2001', '2003', '2004']
['2000', '2001', '2003', '2004']

,Model,Matched Model,Manufacturer,Link
4,ALFA ROMEO 155,ALFA ROMEO 155,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/155

['1995', '1996']
['1992', '1993']

,Model,Matched Model,Manufacturer,Link
5,ALFA ROMEO 156,ALFA ROMEO 156,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/156

['2003', '2004', '2005']
['2002', '2003']
['1997', '1999', '2000', '2001']

,Model,Matched Model,Manufacturer,Link
6,ALFA ROMEO 159,ALFA ROMEO 159,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/159

['2008', '2009', '2010', '2011']
['2005', '2006', '2007', '2008']

,Model,Matched Model,Manufacturer,Link
7,ALFA ROMEO 164,ALFA ROMEO 164,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/164

['1993', '1994']
['1988', '1989', '1990', '1991']

,Model,Matched Model,Manufacturer,Link
8,ALFA ROMEO 166,ALFA ROMEO 166,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/166

['2003']
['1998', '1999', '2002']

,Model,Matched Model,Manufacturer,Link
9,ALFA ROMEO 33,ALFA ROMEO 33,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/33

['1990', '1991', '1992']
['1986', '1988']
['1983', '1984', '1985']

,Model,Matched Model,Manufacturer,Link
10,ALFA ROMEO 75,ALFA ROMEO 75,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/75

['1989', '1990']
['1985', '1986', '1987']

,Model,Matched Model,Manufacturer,Link
11,ALFA ROMEO ALFASUD,ALFA ROMEO ALFASUD,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/alfasud

['1980']
['1981', '1982']
['1980']
['1982']

,Model,Matched Model,Manufacturer,Link
12,ALFA ROMEO BRERA,ALFA ROMEO BRERA,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/brera

['2008', '2009', '2010']
['2006', '2007']

,Model,Matched Model,Manufacturer,Link
13,ALFA ROMEO GIULIETTA,ALFA ROMEO GIULIETTA,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/giulietta

['2016', '2017', '2019', '2020']
['2014', '2015']
['2010', '2011', '2012', '2013']
['1983']
['1978', '1979', '1980', '1981']

,Model,Matched Model,Manufacturer,Link
14,ALFA ROMEO GT,ALFA ROMEO GT,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/gt

['2007', '2010']
['2004', '2005', '2006']

,Model,Matched Model,Manufacturer,Link
15,ALFA ROMEO GTV,ALFA ROMEO GTV,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/gtv

['2003']
['1998', '2001', '2002']
['1995', '1997']
['1981']

,Model,Matched Model,Manufacturer,Link
16,ALFA ROMEO MITO,ALFA ROMEO MITO,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/mito

['2016', '2017', '2019']
['2013', '2014', '2015']
['2008', '2009', '2010', '2011', '2012', '2013']

,Model,Matched Model,Manufacturer,Link
17,ALFA ROMEO SPIDER,ALFA ROMEO SPIDER,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/spider

['2008', '2009', '2010']
['2006', '2007']
['2003']
['1998', '2001', '2002']
['1995']
['1990']
['1983']
['1971']

,Model,Matched Model,Manufacturer,Link
18,ALFA ROMEO SPRINT,ALFA ROMEO SPRINT,ALFA ROMEO,https://www.cars-data.com/en/alfa-romeo/sprint

['1983', '1988']
['1978']

,Model,Matched Model,Manufacturer,Link
19,ASTON MARTIN DB7,ASTON MARTIN DB7,ASTON MARTIN,https://www.cars-data.com/en/aston-martin/db7

['1994', '1999', '2003']

,Model,Matched Model,Manufacturer,Link
20,ASTON MARTIN DB9,ASTON MARTIN DB9,ASTON MARTIN,https://www.cars-data.com/en/aston-martin/db9

['2004', '2008']

,Model,Matched Model,Manufacturer,Link
21,ASTON MARTIN VANTAGE,ASTON MARTIN VANTAGE,ASTON MARTIN,https://www.cars-data.com/en/aston-martin/vantage

['2018']

       Model Matched Model Manufacturer                                   Link
22  AUDI 100      AUDI 100         AUDI  https://www.cars-data.com/en/audi/100

['1991', '1992', '1993']
['1988', '1989', '1990']
['1982', '1983', '1984', '1985', '1986']
['1976', '1977', '1978', '1980', '1981']

       Model Matched Model Manufacturer                                   Link
23  AUDI 200      AUDI 200         AUDI  https://www.cars-data.com/en/audi/200

['1984', '1986', '1989']
['1980']

      Model Matched Model Manufacturer                                  Link
24  AUDI 80       AUDI 80         AUDI  https://www.cars-data.com/en/audi/80

['1991', '1992', '1993']
['1986', '1988', '1989', '1990']
['1984']
['1984', '1985', '1986']
['1981', '1982', '1984']
['1981', '1982', '1983']
['1978', '1979', '1980']
['1978', '1979', '1980']

      Model Matched Model Manufacturer                                  Link
25  AUDI 90       AUDI 90         AUDI  https://www.cars-data.com/en/audi/90

['1987', '1989', '1990']
['1984']

      Model Matched Model Manufacturer                                  Link
26  AUDI A1       AUDI A1         AUDI  https://www.cars-data.com/en/audi/a1

['2015']
['2010', '2011', '2012', '2013']

      Model Matched Model Manufacturer                                  Link
27  AUDI A2       AUDI A2         AUDI  https://www.cars-data.com/en/audi/a2

['2000', '2001', '2003', '2004']

      Model Matched Model Manufacturer                                  Link
28  AUDI A3       AUDI A3         AUDI  https://www.cars-data.com/en/audi/a3

['2016', '2017']
['2012', '2013', '2014', '2015']
['2008', '2009', '2010', '2011']
['2005', '2006', '2007']
['2003', '2004']
['2000', '2001', '2002']
['2000', '2001', '2002']
['1999']
['1996', '1997', '1999']

      Model Matched Model Manufacturer                                  Link
29  AUDI A4       AUDI A4         AUDI  https://www.cars-data.com/en/audi/a4

['2019', '2020']
['2018', '2019']
['2015', '2016', '2017']
['2011', '2012', '2013', '2014', '2015']
['2007', '2008', '2009', '2010', '2011']
['2004', '2005', '2006', '2007']
['2001', '2002', '2003', '2004']
['1999', '2000']
['1995', '1996', '1997', '1998']

      Model Matched Model Manufacturer                                  Link
30  AUDI A6       AUDI A6         AUDI  https://www.cars-data.com/en/audi/a6

['2018', '2019', '2020']
['2014', '2015', '2016']
['2011', '2012', '2013', '2014']
['2008', '2009', '2010']
['2004', '2005', '2006', '2007']
['2001', '2002', '2003', '2004']
['1997', '1999', '2000', '2001']
['1994', '1995', '1996']

      Model Matched Model Manufacturer                                  Link
31  AUDI A8       AUDI A8         AUDI  https://www.cars-data.com/en/audi/a8

['2017', '2019', '2020']
['2013', '2014', '2016']
['2010', '2011', '2012']
['2007', '2008', '2009']
['2002', '2003', '2004', '2005', '2006']
['1999', '2000', '2001']
['1994', '1995', '1996', '1997']

,Model,Matched Model,Manufacturer,Link
32,AUDI CABRIOLET,AUDI CABRIOLET,AUDI,https://www.cars-data.com/en/audi/cabriolet

['1991', '1993', '1994', '1995', '1997']

,Model,Matched Model,Manufacturer,Link
33,AUDI COUPE,AUDI COUPE,AUDI,https://www.cars-data.com/en/audi/coupe

['1990', '1991', '1992', '1993']
['1989', '1990']
['1983', '1984', '1985']
['1986']
['1980', '1982', '1983']

      Model Matched Model Manufacturer                                  Link
34  AUDI Q3       AUDI Q3         AUDI  https://www.cars-data.com/en/audi/q3

['2018', '2019']
['2015', '2016']
['2011', '2012', '2013', '2014']

      Model Matched Model Manufacturer                                  Link
35  AUDI Q5       AUDI Q5         AUDI  https://www.cars-data.com/en/audi/q5

['2017', '2018', '2019']
['2012', '2013', '2014', '2015', '2016']
['2008', '2009', '2011']

      Model Matched Model Manufacturer                                  Link
36  AUDI Q7       AUDI Q7         AUDI  https://www.cars-data.com/en/audi/q7

['2019', '2020']
['2015', '2016', '2018']
['2009', '2010', '2011', '2012']
['2006', '2007', '2008']

,Model,Matched Model,Manufacturer,Link
37,AUDI QUATTRO,AUDI QUATTRO,AUDI,https://www.cars-data.com/en/audi/quattro

['1980', '1989']
['1986']

      Model Matched Model Manufacturer                                  Link
38  AUDI R8       AUDI R8         AUDI  https://www.cars-data.com/en/audi/r8

['2012']
['2007', '2009', '2011']

       Model Matched Model Manufacturer                                   Link
39  AUDI RS4      AUDI RS4         AUDI  https://www.cars-data.com/en/audi/rs4

['2005']

       Model Matched Model Manufacturer                                   Link
40  AUDI RS6      AUDI RS6         AUDI  https://www.cars-data.com/en/audi/rs6

['2008']
['2002']

      Model Matched Model Manufacturer                                  Link
41  AUDI S3       AUDI S3         AUDI  https://www.cars-data.com/en/audi/s3

['2016']
['2013']
['2008', '2009']
['2006']
['2000', '2001']
['1999']

      Model Matched Model Manufacturer                                  Link
42  AUDI S4       AUDI S4         AUDI  https://www.cars-data.com/en/audi/s4

['2019']
['2016']
['2011']
['2009']
['2005', '2007']
['2003']
['1999']
['1997']

,Model,Matched Model,Manufacturer,Link
43,AUSTIN ALLEGRO,AUSTIN ALLEGRO,AUSTIN,https://www.cars-data.com/en/austin/allegro

['1980']

,Model,Matched Model,Manufacturer,Link
44,AUSTIN MAESTRO,AUSTIN MAESTRO,AUSTIN,https://www.cars-data.com/en/austin/maestro

['1983', '1985', '1987']

,Model,Matched Model,Manufacturer,Link
45,AUSTIN METRO,AUSTIN METRO,AUSTIN,https://www.cars-data.com/en/austin/metro

['1985', '1986', '1988', '1990']
['1985', '1986', '1987']
['1981', '1982', '1983', '1984']

,Model,Matched Model,Manufacturer,Link
46,AUSTIN MINI,AUSTIN MINI,AUSTIN,https://www.cars-data.com/en/austin/mini

['1976', '1980', '1983', '1984', '1986', '1987']

,Model,Matched Model,Manufacturer,Link
47,AUSTIN MONTEGO,AUSTIN MONTEGO,AUSTIN,https://www.cars-data.com/en/austin/montego

['1985']
['1984', '1985', '1986', '1989']

,Model,Matched Model,Manufacturer,Link
48,BENTLEY ARNAGE,BENTLEY ARNAGE,BENTLEY,https://www.cars-data.com/en/bentley/arnage

['2007']
['2002']
['1998', '1999', '2001']

,Model,Matched Model,Manufacturer,Link
49,BENTLEY CONTINENTAL,BENTLEY CONTINENTAL,BENTLEY,https://www.cars-data.com/en/bentley/continental

['1994', '1997', '1998']

,Model,Matched Model,Manufacturer,Link
50,BMW 1 SERIES,BMW 1-SERIES,BMW,https://www.cars-data.com/en/bmw/1-series

['2019', '2020']
['2015', '2016']
['2015', '2016', '2017', '2018']
['2012', '2013', '2014']
['2011', '2012', '2013', '2014']
['2007', '2008', '2009', '2010', '2011']
['2007', '2008', '2009', '2010', '2011']
['2004', '2005', '2006']

,Model,Matched Model,Manufacturer,Link
51,BMW 3 SERIES,BMW 3-SERIES,BMW,https://www.cars-data.com/en/bmw/3-series

['2019', '2020']
['2015', '2017']
['2012', '2013', '2014', '2015']
['2008', '2010', '2011']
['2005', '2006', '2007', '2008']
['2001', '2002', '2003', '2004']
['1998', '1999', '2000']
['1991', '1992', '1993', '1994', '1995', '1996', '1997']
['1983', '1985', '1986', '1987', '1988', '1989']
['1983', '1985', '1986', '1987', '1988']
['1977', '1980', '1981']

,Model,Matched Model,Manufacturer,Link
52,BMW 5 SERIES,BMW 5-SERIES,BMW,https://www.cars-data.com/en/bmw/5-series

['2020']
['2017', '2018', '2019']
['2013', '2014', '2015', '2016']
['2010', '2011', '2012']
['2007', '2009', '2010']
['2003', '2004', '2005', '2006']
['2000', '2002']
['1995', '1996', '1997', '1998', '2000']
['1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995']
['1981', '1983', '1984', '1985', '1986']
['1974', '1977']

,Model,Matched Model,Manufacturer,Link
53,BMW 6 SERIES,BMW 6-SERIES,BMW,https://www.cars-data.com/en/bmw/6-series

['2007']
['2004', '2005', '2006']
['1982', '1985', '1987']
['1976', '1978', '1979']

,Model,Matched Model,Manufacturer,Link
54,BMW 7 SERIES,BMW 7-SERIES,BMW,https://www.cars-data.com/en/bmw/7-series

['2019', '2020']
['2015', '2016', '2017']
['2012']
['2008', '2009', '2010']
['2005', '2007', '2008']
['2001', '2002', '2003']
['1998', '1999', '2000']
['1994', '1995', '1996']
['1986', '1987', '1992', '1993']
['1982']
['1979', '1980']

,Model,Matched Model,Manufacturer,Link
55,BMW 8 SERIES,BMW 8-SERIES,BMW,https://www.cars-data.com/en/bmw/8-series

['1989', '1992', '1993', '1996']

     Model Matched Model Manufacturer                                 Link
56  BMW X1        BMW X1          BMW  https://www.cars-data.com/en/bmw/x1

['2019', '2020']
['2015', '2016', '2017', '2018']
['2012', '2013']
['2009', '2010', '2011']

     Model Matched Model Manufacturer                                 Link
57  BMW X3        BMW X3          BMW  https://www.cars-data.com/en/bmw/x3

['2017', '2018', '2019', '2020']
['2014']
['2010', '2011', '2012', '2013']
['2006', '2007', '2009', '2010']
['2004', '2005']

     Model Matched Model Manufacturer                                 Link
58  BMW X5        BMW X5          BMW  https://www.cars-data.com/en/bmw/x5

['2018', '2019', '2020']
['2013', '2015', '2017']
['2010', '2012']
['2007', '2009']
['2003', '2004', '2005', '2006']
['2000', '2001', '2002']

     Model Matched Model Manufacturer                                 Link
59  BMW X6        BMW X6          BMW  https://www.cars-data.com/en/bmw/x6

['2019', '2020']
['2014', '2015', '2017']
['2012']
['2008', '2009', '2010']

,Model,Matched Model,Manufacturer,Link
60,CHEVROLET AVEO,CHEVROLET AVEO,CHEVROLET,https://www.cars-data.com/en/chevrolet/aveo

['2011', '2013']
['2011', '2013']
['2008', '2010']
['2008', '2010']
['2006', '2009']

,Model,Matched Model,Manufacturer,Link
61,CHEVROLET CAPTIVA,CHEVROLET CAPTIVA,CHEVROLET,https://www.cars-data.com/en/chevrolet/captiva

['2011']
['2006', '2007', '2008', '2009', '2010']

,Model,Matched Model,Manufacturer,Link
62,CHEVROLET CRUZE,CHEVROLET CRUZE,CHEVROLET,https://www.cars-data.com/en/chevrolet/cruze

['2011', '2014']
['2009', '2010', '2011', '2012', '2014']

,Model,Matched Model,Manufacturer,Link
63,CHEVROLET KALOS,CHEVROLET KALOS,CHEVROLET,https://www.cars-data.com/en/chevrolet/kalos

['2005', '2007']
['2005']
['2005', '2007']

,Model,Matched Model,Manufacturer,Link
64,CHEVROLET LACETTI,CHEVROLET LACETTI,CHEVROLET,https://www.cars-data.com/en/chevrolet/lacetti

['2005', '2007']

,Model,Matched Model,Manufacturer,Link
65,CHEVROLET MATIZ,CHEVROLET MATIZ,CHEVROLET,https://www.cars-data.com/en/chevrolet/matiz

['2005', '2006', '2009']

,Model,Matched Model,Manufacturer,Link
66,CHEVROLET ORLANDO,CHEVROLET ORLANDO,CHEVROLET,https://www.cars-data.com/en/chevrolet/orlando

['2011', '2013', '2014']

,Model,Matched Model,Manufacturer,Link
67,CHEVROLET SPARK,CHEVROLET SPARK,CHEVROLET,https://www.cars-data.com/en/chevrolet/spark

['2013']
['2010', '2011', '2012']

,Model,Matched Model,Manufacturer,Link
68,CHEVROLET TACUMA,CHEVROLET TACUMA,CHEVROLET,https://www.cars-data.com/en/chevrolet/tacuma

['2005', '2006']

,Model,Matched Model,Manufacturer,Link
69,CHRYSLER 300,CHRYSLER 300M,CHRYSLER,https://www.cars-data.com/en/chrysler/300m

['1998', '1999']

,Model,Matched Model,Manufacturer,Link
70,CHRYSLER CROSSFIRE,CHRYSLER CROSSFIRE,CHRYSLER,https://www.cars-data.com/en/chrysler/crossfire

['2003', '2004', '2005']

,Model,Matched Model,Manufacturer,Link
71,CHRYSLER NEON,CHRYSLER NEON,CHRYSLER,https://www.cars-data.com/en/chrysler/neon

['1999', '2001', '2002']
['1994', '1997', '1998']

,Model,Matched Model,Manufacturer,Link
72,CHRYSLER PT CRUISER,CHRYSLER PT CRUISER,CHRYSLER,https://www.cars-data.com/en/chrysler/pt-cruiser

['2006']
['2000', '2002', '2003', '2004', '2005']

,Model,Matched Model,Manufacturer,Link
73,CHRYSLER SEBRING,CHRYSLER SEBRING,CHRYSLER,https://www.cars-data.com/en/chrysler/sebring

['2007', '2008']
['2003', '2006']
['2001']

,Model,Matched Model,Manufacturer,Link
74,CHRYSLER VOYAGER,CHRYSLER VOYAGER,CHRYSLER,https://www.cars-data.com/en/chrysler/voyager

['2004', '2005', '2007']
['2001']
['1996', '1997', '1999']
['1991', '1992', '1993', '1994']
['1988']

,Model,Matched Model,Manufacturer,Link
75,CITROEN 2CV,CITROEN 2CV,CITROEN,https://www.cars-data.com/en/citroen/2cv

['1970', '1980']

,Model,Matched Model,Manufacturer,Link
76,CITROEN AX,CITROEN AX,CITROEN,https://www.cars-data.com/en/citroen/ax

['1991', '1993', '1994', '1995']
['1991', '1993', '1994', '1995']
['1988', '1989']
['1987', '1988', '1989', '1990']

,Model,Matched Model,Manufacturer,Link
77,CITROEN BERLINGO,CITROEN BERLINGO,CITROEN,https://www.cars-data.com/en/citroen/berlingo

['2019']
['2015']
['2012', '2014']
['2011', '2012']
['2008', '2009', '2011']
['2002', '2004', '2005', '2006', '2008']
['1997', '1998', '1999', '2000', '2001', '2002']

,Model,Matched Model,Manufacturer,Link
78,CITROEN BX,CITROEN BX,CITROEN,https://www.cars-data.com/en/citroen/bx

['1989', '1992']
['1986', '1987', '1988']
['1983', '1985']

,Model,Matched Model,Manufacturer,Link
79,CITROEN C-CROSSER,CITROEN C-CROSSER,CITROEN,https://www.cars-data.com/en/citroen/c-crosser

['2007', '2008', '2009']

,Model,Matched Model,Manufacturer,Link
80,CITROEN C1,CITROEN C1,CITROEN,https://www.cars-data.com/en/citroen/c1

['2014', '2015', '2018']
['2014', '2015', '2016', '2018', '2019', '2020']
['2012', '2013']
['2012', '2013']
['2008', '2010', '2011']
['2008', '2010', '2011']
['2005']
['2005', '2006']

,Model,Matched Model,Manufacturer,Link
81,CITROEN C2,CITROEN C2,CITROEN,https://www.cars-data.com/en/citroen/c2

['2008']
['2003', '2004', '2005', '2006', '2007']

,Model,Matched Model,Manufacturer,Link
82,CITROEN C3,CITROEN C3,CITROEN,https://www.cars-data.com/en/citroen/c3

['2020']
['2016', '2017', '2018', '2019', '2020']
['2013', '2014', '2015', '2016']
['2010', '2011', '2012', '2013']
['2005', '2006', '2007', '2008', '2009']
['2002', '2003', '2004', '2005']

,Model,Matched Model,Manufacturer,Link
83,CITROEN C4,CITROEN C4,CITROEN,https://www.cars-data.com/en/citroen/c4

['2020']
['2015', '2017']
['2010', '2011', '2012', '2014']
['2008', '2009']
['2004', '2005', '2006', '2007', '2008']

,Model,Matched Model,Manufacturer,Link
84,CITROEN C5,CITROEN C5,CITROEN,https://www.cars-data.com/en/citroen/c5

['2010', '2011', '2012', '2014', '2015']
['2008', '2009', '2010']
['2004', '2005', '2006', '2008']
['2001', '2003']

,Model,Matched Model,Manufacturer,Link
85,CITROEN C8,CITROEN C8,CITROEN,https://www.cars-data.com/en/citroen/c8

['2008', '2011']
['2002', '2003', '2005', '2006']

,Model,Matched Model,Manufacturer,Link
86,CITROEN CX,CITROEN CX,CITROEN,https://www.cars-data.com/en/citroen/cx

['1985', '1986', '1987']
['1982', '1983', '1985']
['1976', '1977', '1978', '1979', '1981']

,Model,Matched Model,Manufacturer,Link
87,CITROEN DS3,CITROEN DS3,CITROEN,https://www.cars-data.com/en/citroen/ds3

['2014', '2015']
['2010', '2011', '2012', '2013', '2014']

,Model,Matched Model,Manufacturer,Link
88,CITROEN DS4,CITROEN DS4,CITROEN,https://www.cars-data.com/en/citroen/ds4

['2011', '2012', '2013', '2014', '2015']

,Model,Matched Model,Manufacturer,Link
89,CITROEN DS5,CITROEN DS5,CITROEN,https://www.cars-data.com/en/citroen/ds5

['2011', '2012', '2013', '2014', '2015']

,Model,Matched Model,Manufacturer,Link
90,CITROEN DYANE,CITROEN DYANE,CITROEN,https://www.cars-data.com/en/citroen/dyane

['1969']

,Model,Matched Model,Manufacturer,Link
91,CITROEN GSA,CITROEN GSA,CITROEN,https://www.cars-data.com/en/citroen/gsa

['1979', '1981']

,Model,Matched Model,Manufacturer,Link
92,CITROEN LNA,CITROEN LNA,CITROEN,https://www.cars-data.com/en/citroen/lna

['1978', '1982']

,Model,Matched Model,Manufacturer,Link
93,CITROEN NEMO,CITROEN NEMO,CITROEN,https://www.cars-data.com/en/citroen/nemo

['2009', '2015']

,Model,Matched Model,Manufacturer,Link
94,CITROEN SAXO,CITROEN SAXO,CITROEN,https://www.cars-data.com/en/citroen/saxo

['1999', '2002']
['1999', '2000', '2002']
['1998']
['1998']
['1996', '1997']
['1996', '1997']

,Model,Matched Model,Manufacturer,Link
95,CITROEN VISA,CITROEN VISA,CITROEN,https://www.cars-data.com/en/citroen/visa

['1981', '1983', '1984', '1985']
['1979']

,Model,Matched Model,Manufacturer,Link
96,CITROEN XANTIA,CITROEN XANTIA,CITROEN,https://www.cars-data.com/en/citroen/xantia

['1998', '1999', '2000']
['1993', '1994', '1995', '1996', '1997']

,Model,Matched Model,Manufacturer,Link
97,CITROEN XM,CITROEN XM,CITROEN,https://www.cars-data.com/en/citroen/xm

['1997']
['1994']
['1989', '1990', '1992']

,Model,Matched Model,Manufacturer,Link
98,CITROEN XSARA,CITROEN XSARA,CITROEN,https://www.cars-data.com/en/citroen/xsara

['2003', '2004']
['2000', '2001', '2002']
['1997', '1999']

,Model,Matched Model,Manufacturer,Link
99,CITROEN ZX,CITROEN ZX,CITROEN,https://www.cars-data.com/en/citroen/zx

['1996']
['1996']
['1994']
['1994']
['1992', '1993']
['1991', '1992', '1993']

,Model,Matched Model,Manufacturer,Link
100,DACIA DUSTER,DACIA DUSTER,DACIA,https://www.cars-data.com/en/dacia/duster

['2018', '2019', '2020']
['2014', '2015', '2016']
['2010', '2011', '2012']

,Model,Matched Model,Manufacturer,Link
101,DACIA SANDERO,DACIA SANDERO,DACIA,https://www.cars-data.com/en/dacia/sandero

['2016', '2017', '2018', '2019', '2020']
['2012', '2015', '2016']
['2008', '2009', '2011', '2012']

,Model,Matched Model,Manufacturer,Link
102,DAEWOO ESPERO,DAEWOO ESPERO,DAEWOO,https://www.cars-data.com/en/daewoo/espero

['1995']

,Model,Matched Model,Manufacturer,Link
103,DAEWOO KALOS,DAEWOO KALOS,DAEWOO,https://www.cars-data.com/en/daewoo/kalos

['2004']
['2002', '2003', '2004']

,Model,Matched Model,Manufacturer,Link
104,DAEWOO LACETTI,DAEWOO LACETTI,DAEWOO,https://www.cars-data.com/en/daewoo/lacetti

['2004']

,Model,Matched Model,Manufacturer,Link
105,DAEWOO LANOS,DAEWOO LANOS,DAEWOO,https://www.cars-data.com/en/daewoo/lanos

['2001']
['2001']
['2001']
['1997', '1999']
['1997']
['1997']

,Model,Matched Model,Manufacturer,Link
106,DAEWOO LEGANZA,DAEWOO LEGANZA,DAEWOO,https://www.cars-data.com/en/daewoo/leganza

['1997', '1999']

,Model,Matched Model,Manufacturer,Link
107,DAEWOO MATIZ,DAEWOO MATIZ,DAEWOO,https://www.cars-data.com/en/daewoo/matiz

['2001', '2003', '2004']
['1998']

,Model,Matched Model,Manufacturer,Link
108,DAEWOO NEXIA,DAEWOO NEXIA,DAEWOO,https://www.cars-data.com/en/daewoo/nexia

['1995']
['1995']
['1995']

,Model,Matched Model,Manufacturer,Link
109,DAEWOO NUBIRA,DAEWOO NUBIRA,DAEWOO,https://www.cars-data.com/en/daewoo/nubira

['2003', '2004']
['1999']
['1999']
['1997']
['1997']

,Model,Matched Model,Manufacturer,Link
110,DAEWOO TACUMA,DAEWOO TACUMA,DAEWOO,https://www.cars-data.com/en/daewoo/tacuma

['2004']
['2000', '2001']

,Model,Matched Model,Manufacturer,Link
111,DAIHATSU APPLAUSE,DAIHATSU APPLAUSE,DAIHATSU,https://www.cars-data.com/en/daihatsu/applause

['1998']
['1989', '1996']

,Model,Matched Model,Manufacturer,Link
112,DAIHATSU CHARADE,DAIHATSU CHARADE,DAIHATSU,https://www.cars-data.com/en/daihatsu/charade

['2011']
['1996']
['1996']
['1993']
['1993']
['1992']
['1987', '1988', '1989', '1991']
['1987', '1988', '1991']
['1985']
['1985', '1986']
['1983', '1984']
['1983']
['1978']
['1978']

,Model,Matched Model,Manufacturer,Link
113,DAIHATSU CHARMANT,DAIHATSU CHARMANT,DAIHATSU,https://www.cars-data.com/en/daihatsu/charmant

['1982', '1984']
['1980']

,Model,Matched Model,Manufacturer,Link
114,DAIHATSU COPEN,DAIHATSU COPEN,DAIHATSU,https://www.cars-data.com/en/daihatsu/copen

['2006']
['2004']

,Model,Matched Model,Manufacturer,Link
115,DAIHATSU CUORE,DAIHATSU CUORE,DAIHATSU,https://www.cars-data.com/en/daihatsu/cuore

['2007', '2009', '2011']
['2006', '2007']
['2006']
['2003', '2005']
['2003', '2005']
['2001']
['2001']
['1998']
['1998']
['1995']
['1995']
['1990']
['1990']
['1985', '1987']
['1985']
['1980', '1983']
['1980', '1983']

,Model,Matched Model,Manufacturer,Link
116,DAIHATSU GRAND MOVE,DAIHATSU GRAN MOVE,DAIHATSU,https://www.cars-data.com/en/daihatsu/gran-move

['1999', '2000', '2002']
['1997']

,Model,Matched Model,Manufacturer,Link
117,DAIHATSU MOVE,DAIHATSU MOVE,DAIHATSU,https://www.cars-data.com/en/daihatsu/move

['2001']
['1999']
['1997']

,Model,Matched Model,Manufacturer,Link
118,DAIHATSU SIRION,DAIHATSU SIRION,DAIHATSU,https://www.cars-data.com/en/daihatsu/sirion

['2002']
['1998', '2000', '2001']

,Model,Matched Model,Manufacturer,Link
119,DAIHATSU TERIOS,DAIHATSU TERIOS,DAIHATSU,https://www.cars-data.com/en/daihatsu/terios

['2010']
['2006']
['2000']
['1997']

,Model,Matched Model,Manufacturer,Link
120,DAIMLER 3.6,DAIMLER 3.6,DAIMLER,https://www.cars-data.com/en/daimler/3.6

['1986']

,Model,Matched Model,Manufacturer,Link
121,DAIMLER 4.0,DAIMLER 4.0,DAIMLER,https://www.cars-data.com/en/daimler/4.0

['1989']

,Model,Matched Model,Manufacturer,Link
122,DAIMLER 4.2,DAIMLER 4.0,DAIMLER,https://www.cars-data.com/en/daimler/4.0

['1989']

,Model,Matched Model,Manufacturer,Link
123,DAIMLER DOUBLE SIX,DAIMLER DOUBLE SIX,DAIMLER,https://www.cars-data.com/en/daimler/double-six

['1994', '1995']
['1993']
['1986']
['1982']

,Model,Matched Model,Manufacturer,Link
124,DAIMLER V8,DAIMLER V8,DAIMLER,https://www.cars-data.com/en/daimler/v8

['1997']

,Model,Matched Model,Manufacturer,Link
125,DATSUN BLUEBIRD,DATSUN BLUEBIRD,DATSUN,https://www.cars-data.com/en/datsun/bluebird

['1980', '1981', '1982']

,Model,Matched Model,Manufacturer,Link
126,DATSUN CHERRY,DATSUN CHERRY,DATSUN,https://www.cars-data.com/en/datsun/cherry

['1980', '1981']
['1980', '1981']

,Model,Matched Model,Manufacturer,Link
127,DATSUN LAUREL,DATSUN LAUREL,DATSUN,https://www.cars-data.com/en/datsun/laurel

['1981']
['1979']

,Model,Matched Model,Manufacturer,Link
128,DATSUN STANZA,DATSUN STANZA,DATSUN,https://www.cars-data.com/en/datsun/stanza

['1981']
['1981']
['1981']

,Model,Matched Model,Manufacturer,Link
129,DATSUN SUNNY,DATSUN SUNNY,DATSUN,https://www.cars-data.com/en/datsun/sunny

['1980']
['1980']

,Model,Matched Model,Manufacturer,Link
130,DODGE CALIBER,DODGE CALIBER,DODGE,https://www.cars-data.com/en/dodge/caliber

['2006', '2007', '2008', '2010']

,Model,Matched Model,Manufacturer,Link
131,DODGE JOURNEY,DODGE JOURNEY,DODGE,https://www.cars-data.com/en/dodge/journey

['2008', '2009', '2010']

,Model,Matched Model,Manufacturer,Link
132,DODGE NITRO,DODGE NITRO,DODGE,https://www.cars-data.com/en/dodge/nitro

['2007']

,Model,Matched Model,Manufacturer,Link
133,FERRARI F430,FERRARI F430,FERRARI,https://www.cars-data.com/en/ferrari/f430

['2004', '2007']

,Model,Matched Model,Manufacturer,Link
134,FIAT 126,FIAT 126,FIAT,https://www.cars-data.com/en/fiat/126

['1973']

,Model,Matched Model,Manufacturer,Link
135,FIAT 127,FIAT 127,FIAT,https://www.cars-data.com/en/fiat/127

['1983']
['1981']
['1981']
['1977']
['1977']

,Model,Matched Model,Manufacturer,Link
136,FIAT 500,FIAT 500,FIAT,https://www.cars-data.com/en/fiat/500

['2015', '2016', '2017', '2018', '2019', '2020']
['2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']

,Model,Matched Model,Manufacturer,Link
137,FIAT BARCHETTA,FIAT BARCHETTA,FIAT,https://www.cars-data.com/en/fiat/barchetta

['2003']
['1995', '1999']

,Model,Matched Model,Manufacturer,Link
138,FIAT BRAVA,FIAT BRAVA,FIAT,https://www.cars-data.com/en/fiat/brava

['1998', '1999', '2000', '2001']
['1995', '1996']

,Model,Matched Model,Manufacturer,Link
139,FIAT BRAVO,FIAT BRAVO,FIAT,https://www.cars-data.com/en/fiat/bravo

['2010', '2011', '2012']
['2007', '2008', '2009']
['1998', '1999', '2000', '2001']
['1995', '1996']

,Model,Matched Model,Manufacturer,Link
140,FIAT CINQUECENTO,FIAT CINQUECENTO,FIAT,https://www.cars-data.com/en/fiat/cinquecento

['1992', '1993', '1994', '1995', '1997']

,Model,Matched Model,Manufacturer,Link
141,FIAT COUPE,FIAT COUPE,FIAT,https://www.cars-data.com/en/fiat/coupe

['1994', '1996', '1999']

,Model,Matched Model,Manufacturer,Link
142,FIAT CROMA,FIAT CROMA,FIAT,https://www.cars-data.com/en/fiat/croma

['2008', '2009']
['2005', '2006', '2007']
['1991', '1993']
['1986', '1987', '1989']

,Model,Matched Model,Manufacturer,Link
143,FIAT DOBLO,FIAT DOBLO,FIAT,https://www.cars-data.com/en/fiat/doblo

['2015']
['2010', '2012', '2013']
['2005', '2007', '2009']
['2001', '2003', '2004']

,Model,Matched Model,Manufacturer,Link
144,FIAT IDEA,FIAT IDEA,FIAT,https://www.cars-data.com/en/fiat/idea

['2005']
['2003', '2004', '2005']

,Model,Matched Model,Manufacturer,Link
145,FIAT MAREA,FIAT MAREA,FIAT,https://www.cars-data.com/en/fiat/marea

['1996', '1999', '2000', '2001']

,Model,Matched Model,Manufacturer,Link
146,FIAT MULTIPLA,FIAT MULTIPLA,FIAT,https://www.cars-data.com/en/fiat/multipla

['2004', '2005', '2006']
['2002']
['1998']

,Model,Matched Model,Manufacturer,Link
147,FIAT PANDA,FIAT PANDA,FIAT,https://www.cars-data.com/en/fiat/panda

['2011', '2012', '2013', '2014', '2016', '2017', '2018', '2019', '2020']
['2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011']
['1986', '1987', '1989', '1991', '1994', '1997', '1999', '2001', '2002']
['1981', '1982', '1983', '1985']

,Model,Matched Model,Manufacturer,Link
148,FIAT PUNTO,FIAT PUNTO,FIAT,https://www.cars-data.com/en/fiat/punto

['2012', '2013', '2014', '2015', '2017', '2018']
['2012', '2013', '2014', '2015']
['2003', '2004', '2005', '2006', '2009']
['2003', '2004', '2005', '2006', '2009']
['1999', '2002']
['1999', '2001', '2002', '2003']
['1997', '1998']
['1997', '1998']
['1994', '1996', '1997']
['1994', '1995', '1996', '1997']

,Model,Matched Model,Manufacturer,Link
149,FIAT QUBO,FIAT QUBO,FIAT,https://www.cars-data.com/en/fiat/qubo

['2008', '2009', '2010', '2011', '2013', '2014']

,Model,Matched Model,Manufacturer,Link
150,FIAT REGATA,FIAT REGATA,FIAT,https://www.cars-data.com/en/fiat/regata

['1984', '1986', '1987', '1988']

,Model,Matched Model,Manufacturer,Link
151,FIAT SEDICI,FIAT SEDICI,FIAT,https://www.cars-data.com/en/fiat/sedici

['2012']
['2009']
['2007', '2008']

,Model,Matched Model,Manufacturer,Link
152,FIAT SEICENTO,FIAT SEICENTO,FIAT,https://www.cars-data.com/en/fiat/seicento

['2004', '2005']
['2001', '2002', '2003']
['1998', '1999', '2000']

,Model,Matched Model,Manufacturer,Link
153,FIAT STILO,FIAT STILO,FIAT,https://www.cars-data.com/en/fiat/stilo

['2006']
['2006']
['2001', '2002', '2003', '2004', '2005', '2006']
['2001', '2002', '2004', '2005', '2006']

,Model,Matched Model,Manufacturer,Link
154,FIAT STRADA,FIAT STRADA,FIAT,https://www.cars-data.com/en/fiat/strada

['2012']

,Model,Matched Model,Manufacturer,Link
155,FIAT TEMPRA,FIAT TEMPRA,FIAT,https://www.cars-data.com/en/fiat/tempra

['1993']
['1991', '1992']

,Model,Matched Model,Manufacturer,Link
156,FIAT TIPO,FIAT TIPO,FIAT,https://www.cars-data.com/en/fiat/tipo

['2017', '2019']
['2016']
['1993']
['1993']
['1988', '1989', '1990', '1991', '1992']

,Model,Matched Model,Manufacturer,Link
157,FIAT ULYSSE,FIAT ULYSSE,FIAT,https://www.cars-data.com/en/fiat/ulysse

['2002', '2003', '2004', '2006']
['1999', '2000', '2001']
['1994', '1995', '1996']

,Model,Matched Model,Manufacturer,Link
158,FIAT UNO,FIAT UNO,FIAT,https://www.cars-data.com/en/fiat/uno

['1989', '1991', '1993']
['1989', '1991', '1993']
['1983', '1984', '1985', '1986', '1987']
['1983', '1984', '1985', '1986', '1988']

,Model,Matched Model,Manufacturer,Link
159,FORD B-MAX,FORD B-MAX,FORD,https://www.cars-data.com/en/ford/b-max

['2012', '2013', '2015']

,Model,Matched Model,Manufacturer,Link
160,FORD C-MAX,FORD C-MAX,FORD,https://www.cars-data.com/en/ford/c-max

['2015', '2016', '2018']
['2010', '2011', '2012', '2014']
['2007', '2008', '2009']

,Model,Matched Model,Manufacturer,Link
161,FORD CAPRI,FORD CAPRI,FORD,https://www.cars-data.com/en/ford/capri

['1978', '1979', '1981', '1983']

,Model,Matched Model,Manufacturer,Link
162,FORD COUGAR,FORD COUGAR,FORD,https://www.cars-data.com/en/ford/cougar

['1998']

,Model,Matched Model,Manufacturer,Link
163,FORD ESCORT,FORD ESCORT,FORD,https://www.cars-data.com/en/ford/escort

['1995', '1996', '1997', '1998']
['1995', '1996', '1997', '1998']
['1995', '1996', '1997', '1998']
['1993', '1994']
['1992', '1993', '1994']
['1992', '1993', '1994']
['1990', '1991', '1992']
['1990', '1991', '1992']
['1986', '1987', '1988', '1989']
['1986', '1987', '1988', '1989']
['1980', '1982', '1983', '1984', '1985']
['1980', '1982', '1983', '1984']

,Model,Matched Model,Manufacturer,Link
164,FORD EXPLORER,FORD EXPLORER,FORD,https://www.cars-data.com/en/ford/explorer

['2020']
['1995', '1999']

,Model,Matched Model,Manufacturer,Link
165,FORD FIESTA,FORD FIESTA,FORD,https://www.cars-data.com/en/ford/fiesta

['2017']
['2017', '2018', '2019', '2020']
['2012', '2013', '2014', '2015', '2016']
['2012', '2013', '2014', '2015', '2016']
['2008', '2009', '2010', '2011', '2012']
['2008', '2009', '2010', '2011', '2012']
['2005', '2006', '2007', '2008']
['2005', '2007', '2008']
['2002', '2003', '2004', '2005']
['2002', '2003', '2004', '2005']
['1999', '2000', '2001']
['1999', '2000', '2001']
['1995', '1996', '1997', '1998', '1999']
['1995', '1996', '1997', '1998', '1999']
['1994', '1995']
['1994', '1995']
['1989', '1990', '1991', '1992']
['1989', '1990', '1991', '1992']
['1986', '1987']
['1983', '1984', '1985']
['1976', '1977', '1981', '1982']

,Model,Matched Model,Manufacturer,Link
166,FORD FOCUS,FORD FOCUS,FORD,https://www.cars-data.com/en/ford/focus

['2018', '2019', '2020']
['2014', '2015', '2016', '2017']
['2014', '2015']
['2011', '2012', '2013', '2014']
['2011', '2012', '2013', '2014']
['2008', '2009']
['2008']
['2008', '2009', '2010']
['2005', '2006']
['2004', '2005', '2006', '2007']
['2004', '2005', '2006', '2007']
['2001', '2002', '2003', '2004']
['2001', '2002', '2003', '2004']
['2001', '2002', '2003', '2004']
['1999', '2001']
['1998', '1999', '2001']
['1998', '1999', '2000', '2001']

,Model,Matched Model,Manufacturer,Link
167,FORD FUSION,FORD FUSION,FORD,https://www.cars-data.com/en/ford/fusion

['2005', '2008', '2010', '2011']
['2002', '2003', '2004', '2005']

,Model,Matched Model,Manufacturer,Link
168,FORD GALAXY,FORD GALAXY,FORD,https://www.cars-data.com/en/ford/galaxy

['2015']
['2010', '2011', '2012', '2013']
['2006', '2007', '2008', '2009']
['2003', '2004', '2005']
['2000', '2001', '2002', '2003']
['1995', '1996', '1997', '1998', '1999']

,Model,Matched Model,Manufacturer,Link
169,FORD GRANADA,FORD GRANADA,FORD,https://www.cars-data.com/en/ford/granada

['1981', '1982']
['1977', '1978']

       Model Matched Model Manufacturer                                  Link
170  FORD KA       FORD KA         FORD  https://www.cars-data.com/en/ford/ka

['2018']
['2016']
['1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008']
['2008', '2010', '2011', '2012', '2013']

,Model,Matched Model,Manufacturer,Link
171,FORD KUGA,FORD KUGA,FORD,https://www.cars-data.com/en/ford/kuga

['2019', '2020']
['2016', '2017', '2018']
['2013', '2014', '2015']
['2008', '2009', '2010', '2011']

,Model,Matched Model,Manufacturer,Link
172,FORD MONDEO,FORD MONDEO,FORD,https://www.cars-data.com/en/ford/mondeo

['2019']
['2019']
['2014', '2015', '2018']
['2014', '2015', '2016', '2017', '2018']
['2010', '2011', '2013']
['2010', '2011', '2013']
['2007', '2008', '2009', '2010']
['2007', '2008', '2009', '2010']
['2005', '2006']
['2005', '2006']
['2003', '2004', '2005']
['2003', '2004', '2005']
['2000', '2001', '2002', '2003']
['2000', '2001', '2002', '2003']
['1996', '1997', '1998', '1999', '2000']
['1996', '1997', '1998', '1999', '2000']
['1993', '1994', '1995']
['1993', '1994', '1995']

,Model,Matched Model,Manufacturer,Link
173,FORD MUSTANG,FORD MUSTANG,FORD,https://www.cars-data.com/en/ford/mustang

['1995', '1998']

,Model,Matched Model,Manufacturer,Link
174,FORD ORION,FORD ORION,FORD,https://www.cars-data.com/en/ford/orion

['1992', '1993']
['1990', '1991', '1992']
['1986', '1987', '1988', '1989']
['1983', '1984']

,Model,Matched Model,Manufacturer,Link
175,FORD PROBE,FORD PROBE,FORD,https://www.cars-data.com/en/ford/probe

['1994']

,Model,Matched Model,Manufacturer,Link
176,FORD PUMA,FORD PUMA,FORD,https://www.cars-data.com/en/ford/puma

['2020']
['1997', '1998', '1999', '2000', '2001']

,Model,Matched Model,Manufacturer,Link
177,FORD S-MAX,FORD S-MAX,FORD,https://www.cars-data.com/en/ford/s-max

['2015', '2016', '2017']
['2010', '2011', '2012', '2013']
['2006', '2007', '2008', '2009']

,Model,Matched Model,Manufacturer,Link
178,FORD SCORPIO,FORD SCORPIO,FORD,https://www.cars-data.com/en/ford/scorpio

['1997']
['1994', '1995', '1996']
['1992', '1993']
['1992', '1993']
['1990', '1991']
['1990', '1991']
['1985', '1986', '1987', '1989']

,Model,Matched Model,Manufacturer,Link
179,FORD SIERRA,FORD SIERRA,FORD,https://www.cars-data.com/en/ford/sierra

['1990']
['1990', '1991']
['1990']
['1987', '1988', '1989']
['1987', '1988', '1989']
['1987', '1988', '1989']
['1983', '1984', '1985', '1986']
['1982', '1984', '1985', '1986']

,Model,Matched Model,Manufacturer,Link
180,FORD STREETKA,FORD STREETKA,FORD,https://www.cars-data.com/en/ford/streetka

['2003', '2004']

,Model,Matched Model,Manufacturer,Link
181,FORD TRANSIT,FORD TRANSIT,FORD,https://www.cars-data.com/en/ford/transit

['2020']
['2019']
['2014', '2016', '2017', '2018']
['2012']

,Model,Matched Model,Manufacturer,Link
182,HONDA ACCORD,HONDA ACCORD,HONDA,https://www.cars-data.com/en/honda/accord

['2011']
['2008', '2009', '2010']
['2005', '2008']
['2003', '2004']
['2001']
['2001']
['1999']
['1998']
['1996', '1997', '1998']
['1993', '1994']
['1989', '1993']
['1985', '1987', '1989']
['1983']
['1983']
['1981', '1982']
['1981']
['1977']
['1977']

,Model,Matched Model,Manufacturer,Link
183,HONDA CIVIC,HONDA CIVIC,HONDA,https://www.cars-data.com/en/honda/civic

['2017', '2018', '2019', '2020']
['2017']
['2015', '2016', '2017']
['2012', '2013', '2014']
['2008', '2009', '2011']
['2008', '2009', '2010', '2011']
['2006']
['2005', '2008']
['2004']
['2003', '2004']
['2003', '2004']
['2001', '2002', '2003']
['2001', '2002', '2003']
['1997', '2000']
['1996', '1997']
['1995', '1996']
['1995', '1996', '1997', '1998']
['1991', '1993', '1995']
['1991', '1994', '1995']
['1987', '1989']
['1987', '1989', '1990']
['1983']
['1982']
['1982']
['1979']
['1979']

,Model,Matched Model,Manufacturer,Link
184,HONDA CONCERTO,HONDA CONCERTO,HONDA,https://www.cars-data.com/en/honda/concerto

['1990']

,Model,Matched Model,Manufacturer,Link
185,HONDA CR-Z,HONDA CR-Z,HONDA,https://www.cars-data.com/en/honda/cr-z

['2013']
['2010']

,Model,Matched Model,Manufacturer,Link
186,HONDA CRX,HONDA CRX,HONDA,https://www.cars-data.com/en/honda/crx

['1992']

,Model,Matched Model,Manufacturer,Link
187,HONDA FR-V,HONDA FR-V,HONDA,https://www.cars-data.com/en/honda/fr-v

['2007']
['2004', '2005']

,Model,Matched Model,Manufacturer,Link
188,HONDA HR-V,HONDA HR-V,HONDA,https://www.cars-data.com/en/honda/hr-v

['2018', '2019']
['2015']
['2001']
['2001']
['1999']
['1999']

,Model,Matched Model,Manufacturer,Link
189,HONDA INSIGHT,HONDA INSIGHT,HONDA,https://www.cars-data.com/en/honda/insight

['2012']
['2009', '2010', '2011']

,Model,Matched Model,Manufacturer,Link
190,HONDA INTEGRA,HONDA INTEGRA,HONDA,https://www.cars-data.com/en/honda/integra

['1986']

,Model,Matched Model,Manufacturer,Link
191,HONDA JAZZ,HONDA JAZZ,HONDA,https://www.cars-data.com/en/honda/jazz

['2020']
['2018']
['2015']
['2011', '2012', '2015']
['2008', '2009', '2010']
['2004', '2008']
['2002', '2003', '2004']
['1983']

,Model,Matched Model,Manufacturer,Link
192,HONDA LEGEND,HONDA LEGEND,HONDA,https://www.cars-data.com/en/honda/legend

['2008']
['2006']
['1996', '1998']
['1991']
['1987', '1989']

,Model,Matched Model,Manufacturer,Link
193,HONDA LOGO,HONDA LOGO,HONDA,https://www.cars-data.com/en/honda/logo

['2000']
['1999']

,Model,Matched Model,Manufacturer,Link
194,HONDA PRELUDE,HONDA PRELUDE,HONDA,https://www.cars-data.com/en/honda/prelude

['1996', '1997', '1998']
['1992', '1993']
['1987', '1988', '1990']
['1983', '1985']
['1979']

,Model,Matched Model,Manufacturer,Link
195,HONDA QUINTET,HONDA QUINTET,HONDA,https://www.cars-data.com/en/honda/quintet

['1980']

,Model,Matched Model,Manufacturer,Link
196,HONDA S2000,HONDA S2000,HONDA,https://www.cars-data.com/en/honda/s2000

['2004']
['1999']

,Model,Matched Model,Manufacturer,Link
197,HONDA SHUTTLE,HONDA SHUTTLE,HONDA,https://www.cars-data.com/en/honda/shuttle

['1998']
['1995']

,Model,Matched Model,Manufacturer,Link
198,HONDA STREAM,HONDA STREAM,HONDA,https://www.cars-data.com/en/honda/stream

['2001', '2002', '2003']

,Model,Matched Model,Manufacturer,Link
199,HYUNDAI ACCENT,HYUNDAI ACCENT,HYUNDAI,https://www.cars-data.com/en/hyundai/accent

['2006']
['2006']
['2003', '2004', '2005']
['2003', '2004']
['2003', '2004', '2005']
['1999', '2001']
['1999']
['1999', '2001']

,Model,Matched Model,Manufacturer,Link
200,HYUNDAI ATOZ,HYUNDAI ATOS,HYUNDAI,https://www.cars-data.com/en/hyundai/atos

['2005']
['2003']

,Model,Matched Model,Manufacturer,Link
201,HYUNDAI COUPE,HYUNDAI COUPE,HYUNDAI,https://www.cars-data.com/en/hyundai/coupe

['2006']
['2004']
['2001', '2003']
['1999']
['1996', '1997']

,Model,Matched Model,Manufacturer,Link
202,HYUNDAI ELANTRA,HYUNDAI ELANTRA,HYUNDAI,https://www.cars-data.com/en/hyundai/elantra

['2003']
['2003']
['2000', '2001']
['2000', '2001']

,Model,Matched Model,Manufacturer,Link
203,HYUNDAI GETZ,HYUNDAI GETZ,HYUNDAI,https://www.cars-data.com/en/hyundai/getz

['2005']
['2005', '2006']
['2002', '2003', '2004']
['2002', '2003', '2004']

,Model,Matched Model,Manufacturer,Link
204,HYUNDAI I10,HYUNDAI I10,HYUNDAI,https://www.cars-data.com/en/hyundai/i10

['2020']
['2017', '2019']
['2013', '2014', '2016']
['2011', '2012']
['2008']

,Model,Matched Model,Manufacturer,Link
205,HYUNDAI I20,HYUNDAI I20,HYUNDAI,https://www.cars-data.com/en/hyundai/i20

['2020']
['2018']
['2014', '2015', '2016', '2017']
['2012']
['2012', '2014']
['2009', '2010', '2011']
['2008', '2010', '2011']

,Model,Matched Model,Manufacturer,Link
206,HYUNDAI I30,HYUNDAI I30,HYUNDAI,https://www.cars-data.com/en/hyundai/i30

['2020']
['2017', '2019']
['2015', '2016']
['2013']
['2012', '2014']
['2010', '2011']
['2007', '2009', '2010']

,Model,Matched Model,Manufacturer,Link
207,HYUNDAI I40,HYUNDAI I40,HYUNDAI,https://www.cars-data.com/en/hyundai/i40

['2016', '2017']
['2011', '2014']

,Model,Matched Model,Manufacturer,Link
208,HYUNDAI IX20,HYUNDAI IX20,HYUNDAI,https://www.cars-data.com/en/hyundai/ix20

['2015', '2016', '2017']
['2010', '2012', '2013', '2014', '2015']

,Model,Matched Model,Manufacturer,Link
209,HYUNDAI IX35,HYUNDAI IX35,HYUNDAI,https://www.cars-data.com/en/hyundai/ix35

['2013', '2014']
['2010', '2012', '2013']

,Model,Matched Model,Manufacturer,Link
210,HYUNDAI LANTRA,HYUNDAI LANTRA,HYUNDAI,https://www.cars-data.com/en/hyundai/lantra

['1998', '2000']
['1995', '1997', '1998']
['1993', '1995']
['1991', '1992', '1993']

,Model,Matched Model,Manufacturer,Link
211,HYUNDAI MATRIX,HYUNDAI MATRIX,HYUNDAI,https://www.cars-data.com/en/hyundai/matrix

['2008']
['2001', '2004']

,Model,Matched Model,Manufacturer,Link
212,HYUNDAI PONY,HYUNDAI PONY,HYUNDAI,https://www.cars-data.com/en/hyundai/pony

['1989', '1992', '1993']
['1989', '1992', '1993']
['1987']
['1986', '1987']
['1985', '1986', '1987']
['1982', '1983']
['1981']
['1978', '1981']

,Model,Matched Model,Manufacturer,Link
213,HYUNDAI S-COUPE,HYUNDAI COUPE,HYUNDAI,https://www.cars-data.com/en/hyundai/coupe

['2006']
['2004']
['2001', '2003']
['1999']
['1996', '1997']

,Model,Matched Model,Manufacturer,Link
214,HYUNDAI SANTA FE,HYUNDAI SANTA FE,HYUNDAI,https://www.cars-data.com/en/hyundai/santa-fe

['2019', '2020']
['2016']
['2012', '2013']
['2010']
['2006']
['2004']
['2000', '2001', '2004']

,Model,Matched Model,Manufacturer,Link
215,HYUNDAI SONATA,HYUNDAI SONATA,HYUNDAI,https://www.cars-data.com/en/hyundai/sonata

['2008']
['2005', '2006']
['2001', '2004']
['1998']
['1996', '1998']
['1993', '1994', '1995']
['1989', '1990', '1991']

,Model,Matched Model,Manufacturer,Link
216,HYUNDAI STELLAR,HYUNDAI STELLAR,HYUNDAI,https://www.cars-data.com/en/hyundai/stellar

['1984', '1986']

,Model,Matched Model,Manufacturer,Link
217,HYUNDAI TERRACAN,HYUNDAI TERRACAN,HYUNDAI,https://www.cars-data.com/en/hyundai/terracan

['2004']
['2001', '2004']

,Model,Matched Model,Manufacturer,Link
218,HYUNDAI TRAJET,HYUNDAI TRAJET,HYUNDAI,https://www.cars-data.com/en/hyundai/trajet

['2004']
['2000', '2001']

,Model,Matched Model,Manufacturer,Link
219,HYUNDAI TUCSON,HYUNDAI TUCSON,HYUNDAI,https://www.cars-data.com/en/hyundai/tucson

['2018', '2019']
['2015', '2016', '2017']
['2004', '2005', '2008']

,Model,Matched Model,Manufacturer,Link
220,HYUNDAI VELOSTER,HYUNDAI VELOSTER,HYUNDAI,https://www.cars-data.com/en/hyundai/veloster

['2011', '2013']

,Model,Matched Model,Manufacturer,Link
221,HYUNDAI X2,HYUNDAI IX20,HYUNDAI,https://www.cars-data.com/en/hyundai/ix20

['2015', '2016', '2017']
['2010', '2012', '2013', '2014', '2015']

,Model,Matched Model,Manufacturer,Link
222,JAGUAR S TYPE,JAGUAR S-TYPE,JAGUAR,https://www.cars-data.com/en/jaguar/s-type

['2004', '2005', '2007']
['2002']
['1999', '2001']

,Model,Matched Model,Manufacturer,Link
223,JAGUAR X TYPE,JAGUAR X-TYPE,JAGUAR,https://www.cars-data.com/en/jaguar/x-type

['2008', '2009']
['2001', '2002', '2003', '2004', '2005', '2006']

,Model,Matched Model,Manufacturer,Link
224,JAGUAR XK,JAGUAR XK,JAGUAR,https://www.cars-data.com/en/jaguar/xk

['2009', '2010']
['2006', '2007']
['2002']
['1996', '1998']

,Model,Matched Model,Manufacturer,Link
225,JAGUAR XK8,JAGUAR XK,JAGUAR,https://www.cars-data.com/en/jaguar/xk

['2009', '2010']
['2006', '2007']
['2002']
['1996', '1998']

,Model,Matched Model,Manufacturer,Link
226,JAGUAR XKR,JAGUAR XK,JAGUAR,https://www.cars-data.com/en/jaguar/xk

['2009', '2010']
['2006', '2007']
['2002']
['1996', '1998']

,Model,Matched Model,Manufacturer,Link
227,JEEP CHEROKEE,JEEP CHEROKEE,JEEP,https://www.cars-data.com/en/jeep/cherokee

['2019']
['2014', '2015', '2016']
['2008']
['2005']
['2001', '2002']
['1997', '1999', '2000']
['1989']
['1989', '1991', '1992', '1993', '1995']

,Model,Matched Model,Manufacturer,Link
228,JEEP COMMANDER,JEEP COMMANDER,JEEP,https://www.cars-data.com/en/jeep/commander

['2006', '2007']

,Model,Matched Model,Manufacturer,Link
229,JEEP COMPASS,JEEP COMPASS,JEEP,https://www.cars-data.com/en/jeep/compass

['2020']
['2017', '2018']
['2013', '2014']
['2011', '2012', '2013']
['2006', '2010']

,Model,Matched Model,Manufacturer,Link
230,JEEP PATRIOT,JEEP PATRIOT,JEEP,https://www.cars-data.com/en/jeep/patriot

['2007', '2009', '2010']

,Model,Matched Model,Manufacturer,Link
231,JEEP WRANGLER,JEEP WRANGLER,JEEP,https://www.cars-data.com/en/jeep/wrangler

['2019']
['2007', '2010', '2011', '2012', '2013', '2014', '2015']
['2002']
['1996', '1998', '2000']
['1991', '1992', '1995']
['1991', '1993']

,Model,Matched Model,Manufacturer,Link
232,KIA CARENS,KIA CARENS,KIA,https://www.cars-data.com/en/kia/carens

['2016', '2017']
['2013', '2014', '2015', '2016']
['2006', '2007', '2009']
['2002', '2004', '2005', '2006']
['2000']

,Model,Matched Model,Manufacturer,Link
233,KIA CEED,KIA CEED,KIA,https://www.cars-data.com/en/kia/ceed

['2018', '2019', '2020']
['2015', '2016', '2017']
['2012', '2013', '2014']
['2009', '2011']
['2007', '2008', '2009']

,Model,Matched Model,Manufacturer,Link
234,KIA CERATO,KIA CERATO,KIA,https://www.cars-data.com/en/kia/cerato

['2007']
['2004', '2005', '2006']
['2004', '2005', '2006']

,Model,Matched Model,Manufacturer,Link
235,KIA MAGENTIS,KIA MAGENTIS,KIA,https://www.cars-data.com/en/kia/magentis

['2006', '2007']
['2003', '2004', '2005']
['2001', '2002']

,Model,Matched Model,Manufacturer,Link
236,KIA MENTOR,KIA MENTOR,KIA,https://www.cars-data.com/en/kia/mentor

['2001']

,Model,Matched Model,Manufacturer,Link
237,KIA OPTIMA,KIA OPTIMA,KIA,https://www.cars-data.com/en/kia/optima

['2018']
['2015', '2016']
['2014', '2015']
['2012', '2013']

,Model,Matched Model,Manufacturer,Link
238,KIA PICANTO,KIA PICANTO,KIA,https://www.cars-data.com/en/kia/picanto

['2020']
['2017', '2018', '2019', '2020']
['2015']
['2015', '2016']
['2011', '2012', '2014']
['2011', '2012', '2013', '2014']
['2010']
['2007', '2009']
['2004', '2005']

,Model,Matched Model,Manufacturer,Link
239,KIA PRIDE,KIA PRIDE,KIA,https://www.cars-data.com/en/kia/pride

['1995', '1996', '1997']
['1995', '1996', '1997']

       Model Matched Model Manufacturer                                  Link
240  KIA RIO       KIA RIO          KIA  https://www.cars-data.com/en/kia/rio

['2020']
['2017', '2018', '2020']
['2015']
['2015', '2016']
['2011', '2014']
['2011', '2012', '2014']
['2005', '2007', '2008', '2009', '2010']
['2003']
['2003']
['2000', '2001']
['2000', '2001']

,Model,Matched Model,Manufacturer,Link
241,KIA SHUMA,KIA SHUMA,KIA,https://www.cars-data.com/en/kia/shuma

['2001', '2003']
['1998']

,Model,Matched Model,Manufacturer,Link
242,KIA SORENTO,KIA SORENTO,KIA,https://www.cars-data.com/en/kia/sorento

['2020']
['2017', '2018']
['2015']
['2013']
['2012', '2014']
['2009']
['2006', '2007', '2008']
['2002', '2005', '2006']

,Model,Matched Model,Manufacturer,Link
243,KIA SOUL,KIA SOUL,KIA,https://www.cars-data.com/en/kia/soul

['2014', '2016', '2018']
['2012']
['2009']

,Model,Matched Model,Manufacturer,Link
244,KIA SPORTAGE,KIA SPORTAGE,KIA,https://www.cars-data.com/en/kia/sportage

['2018', '2019']
['2016', '2017', '2018']
['2014', '2015']
['2010', '2012']
['2008', '2009']
['2007']
['2004', '2005', '2007']
['1999', '2000']
['1994', '1996', '1997']

,Model,Matched Model,Manufacturer,Link
245,KIA VENGA,KIA VENGA,KIA,https://www.cars-data.com/en/kia/venga

['2015', '2016', '2017']
['2009', '2012', '2013', '2014']

,Model,Matched Model,Manufacturer,Link
246,LADA 1200,LADA 1200,LADA,https://www.cars-data.com/en/lada/1200

['1971', '1975', '1977', '1983', '1987']
['1973']

,Model,Matched Model,Manufacturer,Link
247,LADA NIVA,LADA NIVA,LADA,https://www.cars-data.com/en/lada/niva

['1978', '1987', '1995', '2000']

,Model,Matched Model,Manufacturer,Link
248,LADA SAMARA,LADA SAMARA,LADA,https://www.cars-data.com/en/lada/samara

['1988', '1989', '1991', '1995', '1996', '1997', '1998']
['1986', '1987', '1988', '1991', '1995', '1996']

,Model,Matched Model,Manufacturer,Link
249,LANCIA DEDRA,LANCIA DEDRA,LANCIA,https://www.cars-data.com/en/lancia/dedra

['1998']
['1995', '1996']
['1990', '1991', '1992', '1993']

,Model,Matched Model,Manufacturer,Link
250,LANCIA DELTA,LANCIA DELTA,LANCIA,https://www.cars-data.com/en/lancia/delta

['2011', '2012', '2013']
['2008', '2009', '2010']
['1998']
['1996']
['1993', '1995']
['1983', '1985', '1987', '1989', '1991']
['1980']

,Model,Matched Model,Manufacturer,Link
251,LANCIA PRISMA,LANCIA PRISMA,LANCIA,https://www.cars-data.com/en/lancia/prisma

['1983', '1985', '1986', '1987']

,Model,Matched Model,Manufacturer,Link
252,LANCIA THEMA,LANCIA THEMA,LANCIA,https://www.cars-data.com/en/lancia/thema

['2011']
['1992', '1994']
['1989', '1991']
['1985', '1987', '1988']

,Model,Matched Model,Manufacturer,Link
253,LAND ROVER DEFENDER,LAND ROVER DEFENDER 90,LAND ROVER,https://www.cars-data.com/en/land-rover/defend...

['2019', '2020']
['2011', '2012', '2014']
['2011']
['2007', '2008', '2009', '2011']
['2002', '2005']
['1996', '1998']

,Model,Matched Model,Manufacturer,Link
254,LAND ROVER DISCOVERY,LAND ROVER DISCOVERY,LAND ROVER,https://www.cars-data.com/en/land-rover/discovery

['2016', '2017', '2018', '2019']
['2014', '2015']
['2013', '2014', '2016']
['2009', '2010', '2011', '2012']
['2004']
['2002']
['1999', '2001']
['1994', '1996']
['1994', '1996']
['1990', '1992', '1993']
['1990', '1992']

,Model,Matched Model,Manufacturer,Link
255,LAND ROVER FREELANDER,LAND ROVER FREELANDER,LAND ROVER,https://www.cars-data.com/en/land-rover/freela...

['2012']
['2012']
['2007', '2010', '2011', '2012']
['2007', '2009', '2010', '2011', '2012']

,Model,Matched Model,Manufacturer,Link
256,LAND ROVER RANGE ROVER,LAND ROVER RANGE ROVER,LAND ROVER,https://www.cars-data.com/en/land-rover/range-...

['2017', '2018', '2019', '2020']
['2013', '2014', '2015']
['2009', '2010', '2011']
['2005', '2006', '2008']
['2002']
['1994', '1995', '1998', '2000']
['1988', '1989']
['1988', '1989', '1993', '1994']

,Model,Matched Model,Manufacturer,Link
257,LOTUS ELISE,LOTUS ELISE,LOTUS,https://www.cars-data.com/en/lotus/elise

['2010', '2011', '2013']
['2001', '2002', '2004', '2006', '2008']
['1997', '1999', '2000']

,Model,Matched Model,Manufacturer,Link
258,LOTUS ESPRIT,LOTUS ESPRIT,LOTUS,https://www.cars-data.com/en/lotus/esprit

['1997', '2002']

,Model,Matched Model,Manufacturer,Link
259,MAZDA 121,MAZDA 121,MAZDA,https://www.cars-data.com/en/mazda/121

['2000']
['2000']
['1996', '1998']
['1996', '1998']
['1991']
['1988']
['1979']

       Model Matched Model Manufacturer                                  Link
260  MAZDA 2       MAZDA 2        MAZDA  https://www.cars-data.com/en/mazda/2

['2020']
['2015', '2016', '2017', '2018']
['2010', '2011', '2013']
['2010', '2011', '2012', '2013', '2014']
['2008', '2009', '2010']
['2007', '2008', '2009', '2010']
['2006']
['2003', '2004']

       Model Matched Model Manufacturer                                  Link
261  MAZDA 3       MAZDA 3        MAZDA  https://www.cars-data.com/en/mazda/3

['2019']
['2016']
['2013', '2014', '2015', '2016']
['2011', '2012']
['2009', '2010']
['2006', '2007', '2008', '2009']

,Model,Matched Model,Manufacturer,Link
262,MAZDA 323,MAZDA 323,MAZDA,https://www.cars-data.com/en/mazda/323

['1994']
['1994']
['1991', '1994']
['1991', '1994']
['1989']
['1989', '1990']
['1987', '1989']
['1987', '1989']
['1987']
['1985', '1986']
['1985', '1986']
['1985', '1986']
['1985', '1986']
['1982']
['1982', '1984']
['1982']
['1981']
['1980']
['1980']
['1979']
['1979']

       Model Matched Model Manufacturer                                  Link
263  MAZDA 5       MAZDA 5        MAZDA  https://www.cars-data.com/en/mazda/5

['2010', '2011', '2012', '2014']
['2008', '2009']
['2005', '2006']

       Model Matched Model Manufacturer                                  Link
264  MAZDA 6       MAZDA 6        MAZDA  https://www.cars-data.com/en/mazda/6

['2018', '2019']
['2015', '2016', '2017']
['2013']
['2010']
['2010']
['2008', '2009']
['2007', '2008', '2009']
['2005', '2006']
['2002', '2005']

,Model,Matched Model,Manufacturer,Link
265,MAZDA 626,MAZDA 626,MAZDA,https://www.cars-data.com/en/mazda/626

['1999', '2000']
['1999', '2000']
['1997', '1998']
['1997', '1998']
['1995']
['1995']
['1991', '1992', '1994']
['1991', '1992', '1994']
['1987', '1989', '1990']
['1987', '1989', '1990']
['1985']
['1985']
['1983']
['1983']
['1980', '1981']

,Model,Matched Model,Manufacturer,Link
266,MAZDA 929,MAZDA 929,MAZDA,https://www.cars-data.com/en/mazda/929

['1987', '1990']
['1984']
['1982']

,Model,Matched Model,Manufacturer,Link
267,MAZDA DEMIO,MAZDA DEMIO,MAZDA,https://www.cars-data.com/en/mazda/demio

['2000', '2001']
['1998']

,Model,Matched Model,Manufacturer,Link
268,MAZDA MPV,MAZDA MPV,MAZDA,https://www.cars-data.com/en/mazda/mpv

['2003']
['2002', '2003']
['1999']
['1996']

,Model,Matched Model,Manufacturer,Link
269,MAZDA MX-3,MAZDA MX-3,MAZDA,https://www.cars-data.com/en/mazda/mx-3

['1991', '1994']

,Model,Matched Model,Manufacturer,Link
270,MAZDA MX-5,MAZDA MX-5,MAZDA,https://www.cars-data.com/en/mazda/mx-5

['2015', '2018']
['2013', '2014']
['2009', '2010', '2011', '2012']
['2005']
['2004']
['2001']
['1998', '1999', '2000']
['1990', '1994', '1995']

,Model,Matched Model,Manufacturer,Link
271,MAZDA MX-6,MAZDA MX-6,MAZDA,https://www.cars-data.com/en/mazda/mx-6

['1991']

,Model,Matched Model,Manufacturer,Link
272,MAZDA PREMACY,MAZDA PREMACY,MAZDA,https://www.cars-data.com/en/mazda/premacy

['2001']
['1999', '2000']

,Model,Matched Model,Manufacturer,Link
273,MAZDA TRIBUTE,MAZDA TRIBUTE,MAZDA,https://www.cars-data.com/en/mazda/tribute

['2004']
['2001']

,Model,Matched Model,Manufacturer,Link
274,MAZDA XEDOS,MAZDA XEDOS 6,MAZDA,https://www.cars-data.com/en/mazda/xedos-6

['1992', '1998']

     Model Matched Model Manufacturer                                Link
275  MG TF         MG TF           MG  https://www.cars-data.com/en/mg/tf

['2005']
['2002']

     Model Matched Model Manufacturer                                Link
276  MG ZR         MG ZR           MG  https://www.cars-data.com/en/mg/zr

['2004']
['2004']
['2002', '2003']
['2001', '2002', '2003']

     Model Matched Model Manufacturer                                Link
277  MG ZS         MG ZS           MG  https://www.cars-data.com/en/mg/zs

['2019']
['2004']
['2004']
['2002', '2003']
['2001', '2002', '2003']

     Model Matched Model Manufacturer                                Link
278  MG ZT         MG ZT           MG  https://www.cars-data.com/en/mg/zt

['2004']
['2001', '2002', '2003']

,Model,Matched Model,Manufacturer,Link
279,MITSUBISHI ASX,MITSUBISHI ASX,MITSUBISHI,https://www.cars-data.com/en/mitsubishi/asx

['2019']
['2018', '2019']
['2016', '2017']
['2012', '2014', '2015']
['2010', '2011']

,Model,Matched Model,Manufacturer,Link
280,MITSUBISHI CARISMA,MITSUBISHI CARISMA,MITSUBISHI,https://www.cars-data.com/en/mitsubishi/carisma

['2001', '2003']
['2001', '2003', '2004']
['1999', '2000', '2001']
['1999', '2000', '2001']
['1996', '1997']
['1995', '1996', '1997']

,Model,Matched Model,Manufacturer,Link
281,MITSUBISHI COLT,MITSUBISHI COLT,MITSUBISHI,https://www.cars-data.com/en/mitsubishi/colt

['2004', '2005']
['1996', '2001', '2003']
['1992', '1996']
['1988', '1989', '1990']
['1984', '1986']
['1979', '1982', '1984']
['1984', '1986']
['1979']

,Model,Matched Model,Manufacturer,Link
282,MITSUBISHI GALANT,MITSUBISHI GALANT,MITSUBISHI,https://www.cars-data.com/en/mitsubishi/galant

['1997', '1999', '2000']
['1993', '1994']
['1993']
['1989', '1990', '1992']
['1988', '1989', '1990', '1992']
['1984', '1986']
['1980', '1982']

,Model,Matched Model,Manufacturer,Link
283,MITSUBISHI GRANDIS,MITSUBISHI GRANDIS,MITSUBISHI,https://www.cars-data.com/en/mitsubishi/grandis

['2004', '2005', '2007', '2010']

,Model,Matched Model,Manufacturer,Link
284,MITSUBISHI LANCER,MITSUBISHI LANCER,MITSUBISHI,https://www.cars-data.com/en/mitsubishi/lancer

['2007', '2008', '2009', '2010']
['2003']
['1996']
['1994']
['1993']
['1989', '1990']
['1988', '1990']
['1984', '1986']
['1979']

,Model,Matched Model,Manufacturer,Link
285,MITSUBISHI OUTLANDER,MITSUBISHI OUTLANDER,MITSUBISHI,https://www.cars-data.com/en/mitsubishi/outlander

['2015', '2017', '2018', '2019']
['2012', '2013', '2014', '2015']
['2010', '2011']
['2007', '2008', '2009']
['2003', '2004', '2005']

,Model,Matched Model,Manufacturer,Link
286,MITSUBISHI PAJERO,MITSUBISHI PAJERO,MITSUBISHI,https://www.cars-data.com/en/mitsubishi/pajero

['1997']
['1991', '1993', '1994']

,Model,Matched Model,Manufacturer,Link
287,MITSUBISHI SPACE RUNNER,MITSUBISHI SPACE RUNNER,MITSUBISHI,https://www.cars-data.com/en/mitsubishi/space-...

['1999']
['1991', '1995']

,Model,Matched Model,Manufacturer,Link
288,MITSUBISHI SPACE STAR,MITSUBISHI SPACE STAR,MITSUBISHI,https://www.cars-data.com/en/mitsubishi/space-...

['2020']
['2016', '2017', '2018', '2019', '2020']
['2013', '2014', '2015']
['2004', '2005']
['2002', '2003']
['2000', '2001']
['1998']

,Model,Matched Model,Manufacturer,Link
289,MITSUBISHI SPACE WAGON,MITSUBISHI SPACE WAGON,MITSUBISHI,https://www.cars-data.com/en/mitsubishi/space-...

['1999', '2000', '2003']
['1991', '1992']
['1984', '1985', '1986', '1988']

,Model,Matched Model,Manufacturer,Link
290,MORGAN 4/4,MORGAN 4/4,MORGAN,https://www.cars-data.com/en/morgan/4-4

['1994', '1999', '2009']

,Model,Matched Model,Manufacturer,Link
291,MORRIS ITAL,MORRIS ITAL,MORRIS,https://www.cars-data.com/en/morris/ital

['1981']

,Model,Matched Model,Manufacturer,Link
292,MORRIS MARINA,MORRIS MARINA,MORRIS,https://www.cars-data.com/en/morris/marina

['1979']
['1979']

,Model,Matched Model,Manufacturer,Link
293,NISSAN 370,NISSAN 370Z,NISSAN,https://www.cars-data.com/en/nissan/370z

['2009', '2010', '2011', '2014']

,Model,Matched Model,Manufacturer,Link
294,NISSAN ALMERA,NISSAN ALMERA,NISSAN,https://www.cars-data.com/en/nissan/almera

['2002', '2003', '2004', '2006']
['2002', '2003', '2004', '2006']
['2002', '2003', '2004', '2006']
['2000', '2001', '2002']
['2000', '2001', '2002']
['2000']
['1998']
['1998']
['1998']
['1995']
['1995', '1996']
['1995']

,Model,Matched Model,Manufacturer,Link
295,NISSAN BLUEBIRD,NISSAN BLUEBIRD,NISSAN,https://www.cars-data.com/en/nissan/bluebird

['1988']
['1988']
['1986', '1987']
['1986', '1987']
['1984', '1985']

,Model,Matched Model,Manufacturer,Link
296,NISSAN CHERRY,NISSAN CHERRY,NISSAN,https://www.cars-data.com/en/nissan/cherry

['1984', '1985']
['1984']
['1982']
['1982']

,Model,Matched Model,Manufacturer,Link
297,NISSAN JUKE,NISSAN JUKE,NISSAN,https://www.cars-data.com/en/nissan/juke

['2019', '2020']
['2014', '2015', '2016', '2017', '2018']
['2010', '2012', '2013']

,Model,Matched Model,Manufacturer,Link
298,NISSAN LAUREL,NISSAN LAUREL,NISSAN,https://www.cars-data.com/en/nissan/laurel

['1985', '1987']
['1983']

,Model,Matched Model,Manufacturer,Link
299,NISSAN LEAF,NISSAN LEAF,NISSAN,https://www.cars-data.com/en/nissan/leaf

['2017', '2018', '2019']
['2013', '2015', '2016', '2017']
['2010']

,Model,Matched Model,Manufacturer,Link
300,NISSAN MAXIMA,NISSAN MAXIMA,NISSAN,https://www.cars-data.com/en/nissan/maxima

['1989', '1990']

,Model,Matched Model,Manufacturer,Link
301,NISSAN MICRA,NISSAN MICRA,NISSAN,https://www.cars-data.com/en/nissan/micra

['2017', '2019', '2020']
['2013', '2015']
['2011', '2012', '2013']
['2008', '2009']
['2008', '2009']
['2005', '2006', '2007']
['2005', '2006', '2007']
['2003', '2005']
['2003', '2005']
['2000']
['2000']
['1998']
['1998']
['1996', '1997']
['1996']
['1992', '1995']
['1992']
['1989']
['1989']
['1987']
['1983', '1986']

,Model,Matched Model,Manufacturer,Link
302,NISSAN MURANO,NISSAN MURANO,NISSAN,https://www.cars-data.com/en/nissan/murano

['2010', '2011']
['2008']
['2005']

,Model,Matched Model,Manufacturer,Link
303,NISSAN NOTE,NISSAN NOTE,NISSAN,https://www.cars-data.com/en/nissan/note

['2013', '2014', '2015', '2016']
['2009', '2010', '2011', '2012']
['2006', '2007', '2008']

,Model,Matched Model,Manufacturer,Link
304,NISSAN PATHFINDER,NISSAN PATHFINDER,NISSAN,https://www.cars-data.com/en/nissan/pathfinder

['2010', '2012']
['2005']
['2000']

,Model,Matched Model,Manufacturer,Link
305,NISSAN PIXO,NISSAN PIXO,NISSAN,https://www.cars-data.com/en/nissan/pixo

['2009', '2010', '2011', '2012', '2013']

,Model,Matched Model,Manufacturer,Link
306,NISSAN PRAIRIE,NISSAN PRAIRIE,NISSAN,https://www.cars-data.com/en/nissan/prairie

['1989', '1992']
['1983', '1985', '1986']

,Model,Matched Model,Manufacturer,Link
307,NISSAN PRIMERA,NISSAN PRIMERA,NISSAN,https://www.cars-data.com/en/nissan/primera

['2004', '2006']
['2004', '2006']
['2002', '2003', '2004']
['2002', '2003', '2004']
['1999']
['1999']
['1996', '1997']
['1996', '1997']
['1994']
['1994']
['1990', '1993']
['1990', '1993']

,Model,Matched Model,Manufacturer,Link
308,NISSAN QASHQAI,NISSAN QASHQAI,NISSAN,https://www.cars-data.com/en/nissan/qashqai

['2017', '2018', '2019', '2020']
['2014', '2015', '2016', '2017']
['2010', '2012', '2013']
['2008', '2009']
['2007', '2008']

,Model,Matched Model,Manufacturer,Link
309,NISSAN SERENA,NISSAN SERENA,NISSAN,https://www.cars-data.com/en/nissan/serena

['1992', '1995', '1996', '1998', '1999', '2000']
['1992', '1995', '1996', '2000']

,Model,Matched Model,Manufacturer,Link
310,NISSAN SILVIA,NISSAN SILVIA,NISSAN,https://www.cars-data.com/en/nissan/silvia

['1984', '1986']

,Model,Matched Model,Manufacturer,Link
311,NISSAN STANZA,NISSAN STANZA,NISSAN,https://www.cars-data.com/en/nissan/stanza

['1983']
['1983']
['1983']

,Model,Matched Model,Manufacturer,Link
312,NISSAN SUNNY,NISSAN SUNNY,NISSAN,https://www.cars-data.com/en/nissan/sunny

['1993', '1995']
['1993', '1995']
['1993', '1995']
['1991']
['1991']
['1991']
['1986', '1987', '1989']
['1986', '1989']
['1986', '1989']
['1982', '1983']
['1982', '1983']

,Model,Matched Model,Manufacturer,Link
313,NISSAN TERRANO,NISSAN TERRANO,NISSAN,https://www.cars-data.com/en/nissan/terrano

['2002', '2003']
['2002', '2003']
['1990']
['1988', '1989', '1990']

,Model,Matched Model,Manufacturer,Link
314,NISSAN X-TRAIL,NISSAN X-TRAIL,NISSAN,https://www.cars-data.com/en/nissan/x-trail

['2017', '2019', '2020']
['2014', '2015', '2017']
['2010']
['2007', '2009']
['2003', '2005', '2006']
['2001', '2002', '2003']

,Model,Matched Model,Manufacturer,Link
315,OPEL ASCONA,OPEL ASCONA,OPEL,https://www.cars-data.com/en/opel/ascona

['1984', '1986', '1987']
['1984', '1986', '1987']
['1984', '1986', '1987']
['1981', '1982', '1983']
['1981', '1982', '1983']
['1981', '1982', '1983']
['1975', '1977', '1978', '1979', '1980']
['1975', '1977', '1978', '1979', '1980']

,Model,Matched Model,Manufacturer,Link
316,OPEL KADETT,OPEL KADETT,OPEL,https://www.cars-data.com/en/opel/kadett

['1989', '1990']
['1989', '1990']
['1989', '1990']
['1984', '1985', '1986', '1987', '1988']
['1984', '1985', '1986', '1987', '1988']
['1984', '1985', '1986', '1987', '1988']
['1979', '1981', '1982']
['1979', '1981', '1982', '1983']
['1979', '1981', '1982']
['1979', '1981', '1982', '1983']

,Model,Matched Model,Manufacturer,Link
317,OPEL MANTA,OPEL MANTA,OPEL,https://www.cars-data.com/en/opel/manta

['1982', '1983', '1984', '1987']
['1975', '1977', '1978', '1980', '1981']

,Model,Matched Model,Manufacturer,Link
318,OPEL MONZA,OPEL MONZA,OPEL,https://www.cars-data.com/en/opel/monza

['1983', '1984']
['1978', '1981']

,Model,Matched Model,Manufacturer,Link
319,OPEL REKORD,OPEL REKORD,OPEL,https://www.cars-data.com/en/opel/rekord

['1984']
['1982', '1983', '1984']
['1977', '1978']
['1977', '1978']

,Model,Matched Model,Manufacturer,Link
320,OPEL SENATOR,OPEL SENATOR,OPEL,https://www.cars-data.com/en/opel/senator

['1987', '1988', '1989', '1990']
['1983', '1984']
['1978', '1981']

,Model,Matched Model,Manufacturer,Link
321,OPEL ZAFIRA,OPEL ZAFIRA,OPEL,https://www.cars-data.com/en/opel/zafira

['2016', '2017', '2018']
['2011', '2012', '2013', '2014', '2015', '2016']
['2008', '2009', '2010']
['2005', '2007']
['2003', '2004']
['1999', '2000', '2001', '2002']

,Model,Matched Model,Manufacturer,Link
322,PEUGEOT 1007,PEUGEOT 1007,PEUGEOT,https://www.cars-data.com/en/peugeot/1007

['2005', '2006', '2007', '2008']

,Model,Matched Model,Manufacturer,Link
323,PEUGEOT 104,PEUGEOT 104,PEUGEOT,https://www.cars-data.com/en/peugeot/104

['1979', '1981']
['1979', '1981', '1983']

,Model,Matched Model,Manufacturer,Link
324,PEUGEOT 106,PEUGEOT 106,PEUGEOT,https://www.cars-data.com/en/peugeot/106

['1996', '1997', '1998', '2000', '2001', '2002']
['1996', '1997', '1998', '2000', '2001', '2002']
['1993', '1994', '1995']
['1991', '1992', '1993', '1994', '1995']

,Model,Matched Model,Manufacturer,Link
325,PEUGEOT 107,PEUGEOT 107,PEUGEOT,https://www.cars-data.com/en/peugeot/107

['2012', '2013']
['2012', '2013']
['2008', '2010', '2011']
['2008', '2010', '2011']
['2005', '2007']
['2005', '2007']

,Model,Matched Model,Manufacturer,Link
326,PEUGEOT 2008,PEUGEOT 2008,PEUGEOT,https://www.cars-data.com/en/peugeot/2008

['2019']
['2016', '2017', '2018', '2019']
['2013', '2014', '2015', '2016']

,Model,Matched Model,Manufacturer,Link
327,PEUGEOT 205,PEUGEOT 205,PEUGEOT,https://www.cars-data.com/en/peugeot/205

['1987', '1989', '1991', '1992', '1994', '1995', '1996']
['1986', '1987', '1988', '1989', '1991', '1992', '1994', '1995', '1996']
['1984', '1986', '1987']
['1983', '1986']

,Model,Matched Model,Manufacturer,Link
328,PEUGEOT 206,PEUGEOT 206,PEUGEOT,https://www.cars-data.com/en/peugeot/206

['2009', '2010', '2011']
['2009', '2010', '2011']
['2002', '2003', '2004', '2005', '2007', '2008']
['2002', '2003', '2004', '2005', '2007', '2008']
['1998', '1999', '2000', '2001', '2002']
['1998', '1999', '2000', '2001', '2002']

,Model,Matched Model,Manufacturer,Link
329,PEUGEOT 207,PEUGEOT 207,PEUGEOT,https://www.cars-data.com/en/peugeot/207

['2009', '2010', '2011']
['2009', '2010', '2011']
['2006', '2007', '2008', '2009']
['2006', '2007', '2008', '2009']

,Model,Matched Model,Manufacturer,Link
330,PEUGEOT 208,PEUGEOT 208,PEUGEOT,https://www.cars-data.com/en/peugeot/208

['2019']
['2015', '2016', '2018']
['2015', '2016']
['2012', '2013', '2014', '2015']
['2012', '2013', '2014']

,Model,Matched Model,Manufacturer,Link
331,PEUGEOT 3008,PEUGEOT 3008,PEUGEOT,https://www.cars-data.com/en/peugeot/3008

['2021']
['2016', '2017', '2018', '2019', '2020']
['2013', '2014', '2015', '2016']
['2009', '2010', '2011', '2012', '2013']

,Model,Matched Model,Manufacturer,Link
332,PEUGEOT 305,PEUGEOT 305,PEUGEOT,https://www.cars-data.com/en/peugeot/305

['1982', '1983', '1984', '1987']
['1978', '1979']

,Model,Matched Model,Manufacturer,Link
333,PEUGEOT 306,PEUGEOT 306,PEUGEOT,https://www.cars-data.com/en/peugeot/306

['1999', '2000', '2001']
['1999', '2001']
['1999', '2001']
['1997']
['1997']
['1997', '1998']
['1994', '1995', '1996']
['1994']
['1993', '1994', '1995']

,Model,Matched Model,Manufacturer,Link
334,PEUGEOT 307,PEUGEOT 307,PEUGEOT,https://www.cars-data.com/en/peugeot/307

['2005', '2006']
['2005', '2006']
['2001', '2002', '2003', '2004', '2005']
['2001', '2002', '2003', '2004', '2005']

,Model,Matched Model,Manufacturer,Link
335,PEUGEOT 308,PEUGEOT 308,PEUGEOT,https://www.cars-data.com/en/peugeot/308

['2017', '2018', '2019', '2020']
['2013', '2014', '2015', '2017']
['2011', '2012', '2013']
['2007', '2009']
['2007', '2008', '2009', '2010', '2011']

,Model,Matched Model,Manufacturer,Link
336,PEUGEOT 309,PEUGEOT 309,PEUGEOT,https://www.cars-data.com/en/peugeot/309

['1989', '1990', '1991', '1992']
['1989', '1990', '1992']
['1987']
['1986', '1987']

,Model,Matched Model,Manufacturer,Link
337,PEUGEOT 4007,PEUGEOT 4007,PEUGEOT,https://www.cars-data.com/en/peugeot/4007

['2007', '2010']

,Model,Matched Model,Manufacturer,Link
338,PEUGEOT 405,PEUGEOT 405,PEUGEOT,https://www.cars-data.com/en/peugeot/405

['1992', '1993', '1994', '1995']
['1987', '1988', '1989', '1990', '1991']

,Model,Matched Model,Manufacturer,Link
339,PEUGEOT 406,PEUGEOT 406,PEUGEOT,https://www.cars-data.com/en/peugeot/406

['2002', '2003']
['1999', '2000', '2001', '2002']
['1995', '1996', '1997', '1998']

,Model,Matched Model,Manufacturer,Link
340,PEUGEOT 407,PEUGEOT 407,PEUGEOT,https://www.cars-data.com/en/peugeot/407

['2008', '2009', '2010']
['2004', '2005', '2006', '2007']

,Model,Matched Model,Manufacturer,Link
341,PEUGEOT 5008,PEUGEOT 5008,PEUGEOT,https://www.cars-data.com/en/peugeot/5008

['2021']
['2017', '2018', '2019']
['2013', '2014', '2015', '2016']
['2009', '2010', '2011', '2012']

,Model,Matched Model,Manufacturer,Link
342,PEUGEOT 504,PEUGEOT 504,PEUGEOT,https://www.cars-data.com/en/peugeot/504

['1979', '1980']

,Model,Matched Model,Manufacturer,Link
343,PEUGEOT 505,PEUGEOT 505,PEUGEOT,https://www.cars-data.com/en/peugeot/505

['1985', '1986', '1987', '1988', '1989']
['1979', '1981', '1982', '1983', '1984']

,Model,Matched Model,Manufacturer,Link
344,PEUGEOT 508,PEUGEOT 508,PEUGEOT,https://www.cars-data.com/en/peugeot/508

['2018', '2019', '2020']
['2014', '2015', '2017']
['2010', '2011', '2012', '2013', '2014']

,Model,Matched Model,Manufacturer,Link
345,PEUGEOT 605,PEUGEOT 605,PEUGEOT,https://www.cars-data.com/en/peugeot/605

['1994', '1995', '1996', '1997']
['1990', '1991', '1992', '1993']

,Model,Matched Model,Manufacturer,Link
346,PEUGEOT 607,PEUGEOT 607,PEUGEOT,https://www.cars-data.com/en/peugeot/607

['2005', '2006', '2008']
['2000', '2001', '2002', '2003']

,Model,Matched Model,Manufacturer,Link
347,PEUGEOT 806,PEUGEOT 806,PEUGEOT,https://www.cars-data.com/en/peugeot/806

['1998', '1999', '2000', '2001']
['1994', '1995', '1996', '1997']

,Model,Matched Model,Manufacturer,Link
348,PEUGEOT 807,PEUGEOT 807,PEUGEOT,https://www.cars-data.com/en/peugeot/807

['2008', '2010', '2012']
['2002', '2003', '2004', '2005', '2006']

,Model,Matched Model,Manufacturer,Link
349,PEUGEOT BIPPER,PEUGEOT BIPPER,PEUGEOT,https://www.cars-data.com/en/peugeot/bipper

['2012', '2015']

,Model,Matched Model,Manufacturer,Link
350,PEUGEOT EXPERT,PEUGEOT EXPERT,PEUGEOT,https://www.cars-data.com/en/peugeot/expert

['2016', '2019']
['2012']

,Model,Matched Model,Manufacturer,Link
351,PEUGEOT PARTNER,PEUGEOT PARTNER,PEUGEOT,https://www.cars-data.com/en/peugeot/partner

['2018', '2019']
['2015', '2016', '2017']
['2012']
['2011', '2012']
['2002', '2005', '2007']
['1997', '1998', '2000', '2001', '2002']

,Model,Matched Model,Manufacturer,Link
352,PEUGEOT RCZ,PEUGEOT RCZ,PEUGEOT,https://www.cars-data.com/en/peugeot/rcz

['2013', '2014', '2015']
['2010', '2011', '2012']

,Model,Matched Model,Manufacturer,Link
353,PORSCHE 911,PORSCHE 911,PORSCHE,https://www.cars-data.com/en/porsche/911

['1977', '1978']

,Model,Matched Model,Manufacturer,Link
354,PORSCHE 924,PORSCHE 924,PORSCHE,https://www.cars-data.com/en/porsche/924

['1976', '1979', '1985', '1986']

,Model,Matched Model,Manufacturer,Link
355,PORSCHE 928,PORSCHE 928,PORSCHE,https://www.cars-data.com/en/porsche/928

['1986', '1989', '1991']
['1977', '1979', '1983']

,Model,Matched Model,Manufacturer,Link
356,PORSCHE 944,PORSCHE 944,PORSCHE,https://www.cars-data.com/en/porsche/944

['1981', '1985', '1986', '1988']

,Model,Matched Model,Manufacturer,Link
357,PORSCHE BOXSTER,PORSCHE BOXSTER,PORSCHE,https://www.cars-data.com/en/porsche/boxster

['2012', '2014', '2015']
['2009', '2010', '2011']
['2005', '2006']
['2002', '2004']
['1996', '1999']

,Model,Matched Model,Manufacturer,Link
358,PORSCHE CARRERA,PORSCHE CARRERA GT,PORSCHE,https://www.cars-data.com/en/porsche/carrera-gt

['2003']

,Model,Matched Model,Manufacturer,Link
359,PORSCHE CAYENNE,PORSCHE CAYENNE,PORSCHE,https://www.cars-data.com/en/porsche/cayenne

['2017', '2018', '2019', '2020']
['2014', '2015', '2016']
['2010', '2011', '2012', '2013', '2014']
['2007', '2008', '2009']
['2002', '2003', '2006']

,Model,Matched Model,Manufacturer,Link
360,PORSCHE CAYMAN,PORSCHE CAYMAN,PORSCHE,https://www.cars-data.com/en/porsche/cayman

['2013', '2014', '2015', '2016']
['2009', '2011']
['2005', '2006']

,Model,Matched Model,Manufacturer,Link
361,PORSCHE PANAMERA,PORSCHE PANAMERA,PORSCHE,https://www.cars-data.com/en/porsche/panamera

['2020']
['2016', '2017', '2019']
['2013', '2014']
['2009', '2011', '2012', '2013']

,Model,Matched Model,Manufacturer,Link
362,RENAULT 11,RENAULT 11,RENAULT,https://www.cars-data.com/en/renault/11

['1986', '1987']
['1986']
['1983', '1984']
['1983', '1984']

,Model,Matched Model,Manufacturer,Link
363,RENAULT 14,RENAULT 14,RENAULT,https://www.cars-data.com/en/renault/14

['1979']

,Model,Matched Model,Manufacturer,Link
364,RENAULT 18,RENAULT 18,RENAULT,https://www.cars-data.com/en/renault/18

['1984']
['1978', '1980', '1981', '1982', '1983']

,Model,Matched Model,Manufacturer,Link
365,RENAULT 19,RENAULT 19,RENAULT,https://www.cars-data.com/en/renault/19

['1994', '1995']
['1994']
['1994', '1995']
['1992', '1993']
['1992', '1993']
['1992', '1993']
['1988', '1989', '1990', '1991']
['1988', '1989', '1990', '1991']

,Model,Matched Model,Manufacturer,Link
366,RENAULT 20,RENAULT 20,RENAULT,https://www.cars-data.com/en/renault/20

['1977', '1980']

,Model,Matched Model,Manufacturer,Link
367,RENAULT 21,RENAULT 21,RENAULT,https://www.cars-data.com/en/renault/21

['1989', '1990', '1991']
['1989', '1990', '1991']
['1986', '1987', '1988']

,Model,Matched Model,Manufacturer,Link
368,RENAULT 25,RENAULT 25,RENAULT,https://www.cars-data.com/en/renault/25

['1988', '1989', '1990']
['1984', '1985', '1987']

,Model,Matched Model,Manufacturer,Link
369,RENAULT 4,RENAULT 4,RENAULT,https://www.cars-data.com/en/renault/4

['1974']

,Model,Matched Model,Manufacturer,Link
370,RENAULT 5,RENAULT 5,RENAULT,https://www.cars-data.com/en/renault/5

['1987', '1988', '1989']
['1987', '1988', '1989']
['1984', '1985', '1986']
['1985', '1986']
['1972', '1975', '1976', '1977', '1978', '1981', '1982']
['1972', '1976', '1978']

,Model,Matched Model,Manufacturer,Link
371,RENAULT 9,RENAULT 9,RENAULT,https://www.cars-data.com/en/renault/9

['1986', '1987']
['1981', '1983', '1984']

,Model,Matched Model,Manufacturer,Link
372,RENAULT CAPTUR,RENAULT CAPTUR,RENAULT,https://www.cars-data.com/en/renault/captur

['2019', '2020']
['2017', '2018', '2019']
['2013', '2014', '2015', '2016']

,Model,Matched Model,Manufacturer,Link
373,RENAULT CLIO,RENAULT CLIO,RENAULT,https://www.cars-data.com/en/renault/clio

['2019', '2020']
['2016', '2017']
['2012', '2013', '2014', '2015', '2016']
['2009', '2010', '2011', '2012']
['2009', '2010', '2011', '2012']
['2005', '2006', '2007', '2008', '2009']
['2005', '2006', '2007', '2008', '2009']
['2003', '2004', '2005', '2006', '2008']
['2003', '2004', '2005', '2006', '2008']
['2001', '2002', '2003']
['2001', '2002', '2003']
['1998', '1999', '2000']
['1998', '2000']
['1996', '1997']
['1996', '1997']
['1994', '1995']
['1994', '1995']
['1990', '1991', '1993']
['1990', '1991', '1993']

,Model,Matched Model,Manufacturer,Link
374,RENAULT ESPACE,RENAULT ESPACE,RENAULT,https://www.cars-data.com/en/renault/espace

['2020']
['2015', '2017', '2018']
['2010', '2012']
['2006', '2007', '2010']
['2002', '2003', '2005']
['2000', '2002']
['1997', '1998', '1999']
['1995']
['1991', '1993']
['1988', '1989']
['1985', '1987']

,Model,Matched Model,Manufacturer,Link
375,RENAULT FUEGO,RENAULT FUEGO,RENAULT,https://www.cars-data.com/en/renault/fuego

['1980', '1982']

,Model,Matched Model,Manufacturer,Link
376,RENAULT KANGOO,RENAULT KANGOO,RENAULT,https://www.cars-data.com/en/renault/kangoo

['2013', '2014', '2017']
['2005', '2006']
['2003']
['2003', '2005']
['2001']
['2001', '2002', '2003']
['1999', '2000']
['1997', '1998', '1999']

,Model,Matched Model,Manufacturer,Link
377,RENAULT KOLEOS,RENAULT KOLEOS,RENAULT,https://www.cars-data.com/en/renault/koleos

['2017']
['2008']

,Model,Matched Model,Manufacturer,Link
378,RENAULT LAGUNA,RENAULT LAGUNA,RENAULT,https://www.cars-data.com/en/renault/laguna

['2013', '2014']
['2010', '2011', '2012']
['2007', '2008', '2009']
['2005', '2006']
['2001', '2002', '2003', '2004']
['1998', '1999', '2000']
['1994', '1995', '1996', '1997']

,Model,Matched Model,Manufacturer,Link
379,RENAULT MEGANE,RENAULT MEGANE,RENAULT,https://www.cars-data.com/en/renault/megane

['2020']
['2016', '2017', '2018', '2019']
['2013', '2014', '2015']
['2012', '2013']
['2008', '2009', '2010', '2011', '2012']
['2006', '2007']
['2006']
['2002', '2003', '2004', '2005']
['2002', '2003', '2004', '2005']
['2000']
['1999']
['1996', '1997', '1998']

,Model,Matched Model,Manufacturer,Link
380,RENAULT MODUS,RENAULT MODUS,RENAULT,https://www.cars-data.com/en/renault/modus

['2008', '2010', '2011', '2012']
['2004', '2005', '2006', '2007']

,Model,Matched Model,Manufacturer,Link
381,RENAULT SAFRANE,RENAULT SAFRANE,RENAULT,https://www.cars-data.com/en/renault/safrane

['1996', '1999']
['1995']
['1992', '1994']

,Model,Matched Model,Manufacturer,Link
382,RENAULT SCENIC,RENAULT SCENIC,RENAULT,https://www.cars-data.com/en/renault/scenic

['2016', '2017', '2018', '2019']
['2013', '2014']
['2012', '2013']
['2009', '2010', '2011']
['2006', '2007']
['2003', '2004', '2005', '2006']
['2001', '2002']
['1999', '2000']

,Model,Matched Model,Manufacturer,Link
383,RENAULT TRAFIC,RENAULT TRAFIC,RENAULT,https://www.cars-data.com/en/renault/trafic

['2019', '2020']
['2014', '2016']
['2011', '2012']

,Model,Matched Model,Manufacturer,Link
384,RENAULT TWINGO,RENAULT TWINGO,RENAULT,https://www.cars-data.com/en/renault/twingo

['2019', '2020']
['2014', '2015', '2016', '2017']
['2012', '2013']
['2007', '2008', '2009', '2010', '2011']
['2004', '2005', '2006']
['2002', '2003']
['2000', '2001']
['1998', '1999']
['1993', '1994', '1996']

,Model,Matched Model,Manufacturer,Link
385,RENAULT VEL SATIS,RENAULT VEL SATIS,RENAULT,https://www.cars-data.com/en/renault/vel-satis

['2005', '2006', '2009']
['2002', '2003', '2004']

,Model,Matched Model,Manufacturer,Link
386,ROVER 100 SERIES,ROVER 100-SERIES,ROVER,https://www.cars-data.com/en/rover/100-series

['1995', '1996']
['1995']
['1990']
['1990', '1991', '1992', '1993', '1994']

,Model,Matched Model,Manufacturer,Link
387,ROVER 200 SERIES,ROVER 200-SERIES,ROVER,https://www.cars-data.com/en/rover/200-series

['1996', '1998', '1999']
['1996', '1998', '1999']
['1991', '1992', '1993', '1994']
['1990', '1991', '1992', '1993', '1994']
['1985', '1986', '1988']

,Model,Matched Model,Manufacturer,Link
388,ROVER 25,ROVER 25,ROVER,https://www.cars-data.com/en/rover/25

['2004', '2005']
['2004', '2005']
['1999', '2000', '2001', '2002', '2004']
['1999', '2000', '2001', '2002', '2004']

,Model,Matched Model,Manufacturer,Link
389,ROVER 400 SERIES,ROVER 400-SERIES,ROVER,https://www.cars-data.com/en/rover/400-series

['1996', '1997', '1998', '1999']
['1995', '1996', '1997', '1999']
['1991', '1992', '1993', '1994']

,Model,Matched Model,Manufacturer,Link
390,ROVER 45,ROVER 45,ROVER,https://www.cars-data.com/en/rover/45

['2004']
['2004']
['1999', '2002', '2004']
['1999', '2000', '2002', '2004']

,Model,Matched Model,Manufacturer,Link
391,ROVER 600 SERIES,ROVER 600-SERIES,ROVER,https://www.cars-data.com/en/rover/600-series

['1993', '1994', '1995', '1996', '1997', '1998']

,Model,Matched Model,Manufacturer,Link
392,ROVER 75,ROVER 75,ROVER,https://www.cars-data.com/en/rover/75

['2004', '2005']
['1999', '2000', '2001', '2002', '2003']

,Model,Matched Model,Manufacturer,Link
393,ROVER 800 SERIES,ROVER 800-SERIES,ROVER,https://www.cars-data.com/en/rover/800-series

['1992', '1993', '1995', '1996']
['1992']
['1988', '1990', '1991']
['1986', '1988', '1991']

,Model,Matched Model,Manufacturer,Link
394,ROVER CITYROVER,ROVER CITYROVER,ROVER,https://www.cars-data.com/en/rover/city

['2005']

,Model,Matched Model,Manufacturer,Link
395,ROVER MINI,ROVER MINI,ROVER,https://www.cars-data.com/en/rover/mini

['1991', '1992']

,Model,Matched Model,Manufacturer,Link
396,ROVER SD1,ROVER SD1,ROVER,https://www.cars-data.com/en/rover/sd1

['1982']
['1980', '1981']

,Model,Matched Model,Manufacturer,Link
397,ROVER STREETWISE,ROVER STREETWISE,ROVER,https://www.cars-data.com/en/rover/streetwise

['2003', '2004']
['2003', '2004']

,Model,Matched Model,Manufacturer,Link
398,SAAB 9-3,SAAB 9-3,SAAB,https://www.cars-data.com/en/saab/9-3

['1998', '1999', '2000', '2001', '2002']

,Model,Matched Model,Manufacturer,Link
399,SAAB 9-5,SAAB 9-5,SAAB,https://www.cars-data.com/en/saab/9-5

['2010']
['2001', '2002', '2003', '2005']
['1997', '1999', '2000']

,Model,Matched Model,Manufacturer,Link
400,SAAB 900,SAAB 900,SAAB,https://www.cars-data.com/en/saab/900

['1993', '1994', '1995', '1996', '1997']
['1984', '1985', '1986', '1987', '1988']
['1984', '1987', '1988', '1990', '1991', '1993']
['1984', '1987', '1988', '1990']
['1984', '1987', '1988', '1990', '1991']
['1984']
['1978', '1981', '1982', '1984']
['1980', '1982', '1984']
['1978', '1983', '1984']

,Model,Matched Model,Manufacturer,Link
401,SAAB 9000,SAAB 9000,SAAB,https://www.cars-data.com/en/saab/9000

['1985', '1986', '1987', '1988', '1989', '1990']

       Model Matched Model Manufacturer                                  Link
402  SAAB 99       SAAB 99         SAAB  https://www.cars-data.com/en/saab/99

['1971', '1978', '1981', '1983']
['1971', '1981', '1983']

,Model,Matched Model,Manufacturer,Link
403,SEAT ALHAMBRA,SEAT ALHAMBRA,SEAT,https://www.cars-data.com/en/seat/alhambra

['2015', '2017']
['2010', '2011', '2013', '2014']
['2000', '2001', '2003', '2004', '2005', '2006', '2007', '2008', '2010']
['1996', '1997', '1998', '1999', '2000']

,Model,Matched Model,Manufacturer,Link
404,SEAT ALTEA,SEAT ALTEA,SEAT,https://www.cars-data.com/en/seat/altea

['2009', '2010', '2011', '2012', '2013', '2014']
['2004', '2005', '2006', '2007', '2008']

,Model,Matched Model,Manufacturer,Link
405,SEAT AROSA,SEAT AROSA,SEAT,https://www.cars-data.com/en/seat/arosa

['2001', '2002']
['1997', '1998', '1999', '2000']

,Model,Matched Model,Manufacturer,Link
406,SEAT CORDOBA,SEAT CORDOBA,SEAT,https://www.cars-data.com/en/seat/cordoba

['2006', '2007', '2008']
['2003', '2004', '2005']
['1999', '2000', '2002']
['1996', '1997', '1998']
['1994', '1995']

,Model,Matched Model,Manufacturer,Link
407,SEAT EXEO,SEAT EXEO,SEAT,https://www.cars-data.com/en/seat/exeo

['2012', '2013']
['2009', '2010', '2011']

,Model,Matched Model,Manufacturer,Link
408,SEAT IBIZA,SEAT IBIZA,SEAT,https://www.cars-data.com/en/seat/ibiza

['2017', '2018', '2019', '2020']
['2015']
['2012', '2013', '2014']
['2008', '2009', '2010', '2011']
['2006', '2007', '2008']
['2006', '2007', '2008']
['2002', '2003', '2004', '2005']
['2002', '2003', '2004', '2005']
['1999', '2000', '2001']
['1999', '2000']
['1996', '1997', '1998', '1999']
['1996', '1997', '1998', '1999']
['1993', '1994', '1995', '1996']
['1993', '1994', '1995', '1996']
['1991', '1992']
['1991']
['1987', '1989', '1990']
['1984', '1985', '1986', '1987', '1988', '1989', '1990']

,Model,Matched Model,Manufacturer,Link
409,SEAT LEON,SEAT LEON,SEAT,https://www.cars-data.com/en/seat/leon

['2020']
['2017', '2018', '2019']
['2013', '2014', '2015']
['2009', '2010', '2011']
['2005', '2006', '2007', '2008']
['2000', '2001', '2002', '2003', '2004', '2005']

,Model,Matched Model,Manufacturer,Link
410,SEAT MALAGA,SEAT MALAGA,SEAT,https://www.cars-data.com/en/seat/malaga

['1985', '1986', '1987', '1988', '1989', '1990']

,Model,Matched Model,Manufacturer,Link
411,SEAT MARBELLA,SEAT MARBELLA,SEAT,https://www.cars-data.com/en/seat/marbella

['1986', '1987', '1989', '1993', '1997']

,Model,Matched Model,Manufacturer,Link
412,SEAT MII,SEAT MII,SEAT,https://www.cars-data.com/en/seat/mii

['2012', '2013', '2014', '2015', '2016', '2017']
['2012', '2013', '2014', '2015', '2016', '2017', '2019']

,Model,Matched Model,Manufacturer,Link
413,SEAT TOLEDO,SEAT TOLEDO,SEAT,https://www.cars-data.com/en/seat/toledo

['2013', '2014', '2015', '2016', '2017']
['2004', '2005', '2007']
['1999', '2000', '2001', '2002', '2003']
['1995', '1996', '1997']
['1991', '1992', '1994']

,Model,Matched Model,Manufacturer,Link
414,SKODA 105,SKODA 105,SKODA,https://www.cars-data.com/en/skoda/105

['1983']
['1977', '1982']

,Model,Matched Model,Manufacturer,Link
415,SKODA 120,SKODA 120,SKODA,https://www.cars-data.com/en/skoda/120

['1978']

,Model,Matched Model,Manufacturer,Link
416,SKODA CITIGO,SKODA CITIGO,SKODA,https://www.cars-data.com/en/skoda/citigo

['2017', '2018']
['2016']
['2012', '2013', '2014', '2015']
['2012', '2013', '2014', '2015']

,Model,Matched Model,Manufacturer,Link
417,SKODA FABIA,SKODA FABIA,SKODA,https://www.cars-data.com/en/skoda/fabia

['2018', '2019', '2020']
['2015', '2016', '2017', '2018']
['2010', '2011', '2012', '2013', '2014']
['2007', '2008', '2009', '2010']
['2004', '2005', '2006']
['2000', '2001', '2002', '2003', '2004']

,Model,Matched Model,Manufacturer,Link
418,SKODA FAVORIT,SKODA FAVORIT,SKODA,https://www.cars-data.com/en/skoda/favorit

['1989', '1990', '1991', '1993', '1994']

,Model,Matched Model,Manufacturer,Link
419,SKODA FELICIA,SKODA FELICIA,SKODA,https://www.cars-data.com/en/skoda/felicia

['1998']
['1995', '1996', '1997']

,Model,Matched Model,Manufacturer,Link
420,SKODA OCTAVIA,SKODA OCTAVIA,SKODA,https://www.cars-data.com/en/skoda/octavia

['2020']
['2017', '2018', '2019']
['2013', '2014', '2015', '2016']
['2009', '2010', '2011', '2012']
['2004', '2005', '2006', '2007', '2008', '2009']
['2000', '2001', '2002', '2003', '2004']
['1997', '1998', '1999', '2000']

,Model,Matched Model,Manufacturer,Link
421,SKODA RAPID,SKODA RAPID,SKODA,https://www.cars-data.com/en/skoda/rapid

['2013', '2014', '2015', '2016']

,Model,Matched Model,Manufacturer,Link
422,SKODA ROOMSTER,SKODA ROOMSTER,SKODA,https://www.cars-data.com/en/skoda/roomster

['2010', '2011', '2012', '2013', '2014']
['2006', '2007', '2008', '2009']

,Model,Matched Model,Manufacturer,Link
423,SKODA SUPERB,SKODA SUPERB,SKODA,https://www.cars-data.com/en/skoda/superb

['2019', '2020']
['2015', '2016', '2017', '2018', '2019']
['2013', '2014']
['2008', '2009', '2010', '2011', '2012']
['2006', '2007']
['2002', '2003', '2004', '2005']

,Model,Matched Model,Manufacturer,Link
424,SKODA YETI,SKODA YETI,SKODA,https://www.cars-data.com/en/skoda/yeti

['2014', '2015', '2016']
['2009', '2010', '2011', '2012', '2013']

,Model,Matched Model,Manufacturer,Link
425,SMART FORFOUR,SMART FORFOUR,SMART,https://www.cars-data.com/en/smart/forfour

['2020']
['2014', '2015', '2016', '2017', '2019']
['2004', '2005']

,Model,Matched Model,Manufacturer,Link
426,SMART FORTWO,SMART FORTWO,SMART,https://www.cars-data.com/en/smart/fortwo

['2020']
['2014', '2015', '2016', '2017', '2019']

,Model,Matched Model,Manufacturer,Link
427,SMART ROADSTER,SMART ROADSTER,SMART,https://www.cars-data.com/en/smart/roadster

['2003', '2004']

,Model,Matched Model,Manufacturer,Link
428,SSANGYONG KORANDO,SSANGYONG KORANDO,SSANGYONG,https://www.cars-data.com/en/ssangyong/ssangyo...

['2014', '2015', '2016']
['2011', '2012', '2013']
['1997', '1998', '1999', '2001', '2002', '2005']
['1995', '1996']

,Model,Matched Model,Manufacturer,Link
429,SSANGYONG MUSSO,SSANGYONG MUSSO,SSANGYONG,https://www.cars-data.com/en/ssangyong/ssangyo...

['1998', '1999', '2001', '2002']
['1995', '1996', '1997']

,Model,Matched Model,Manufacturer,Link
430,SSANGYONG REXTON,SSANGYONG REXTON,SSANGYONG,https://www.cars-data.com/en/ssangyong/rexton

['2013', '2016']
['2011']

,Model,Matched Model,Manufacturer,Link
431,SSANGYONG RODIUS,SSANGYONG RODIUS,SSANGYONG,https://www.cars-data.com/en/ssangyong/ssangyo...

['2014', '2016']
['2005']

,Model,Matched Model,Manufacturer,Link
432,SUBARU FORESTER,SUBARU FORESTER,SUBARU,https://www.cars-data.com/en/subaru/forester

['2019', '2020']
['2013', '2015', '2016', '2017']
['2011', '2012']
['2008', '2009']
['2005', '2007']
['2002', '2004']
['2000']
['1997', '1998']

,Model,Matched Model,Manufacturer,Link
433,SUBARU IMPREZA,SUBARU IMPREZA,SUBARU,https://www.cars-data.com/en/subaru/impreza

['2017', '2019']
['2007', '2008', '2009', '2010', '2011']
['2005', '2006', '2007']
['2003']
['2000', '2002']
['1998']
['1997']
['1993', '1994', '1995', '1996']

,Model,Matched Model,Manufacturer,Link
434,SUBARU JUSTY,SUBARU JUSTY,SUBARU,https://www.cars-data.com/en/subaru/justy

['2007', '2009']
['1997']
['1996']
['1989', '1990', '1993']
['1989', '1993']
['1984', '1986', '1988']
['1984', '1986', '1988']

,Model,Matched Model,Manufacturer,Link
435,SUBARU LEGACY,SUBARU LEGACY,SUBARU,https://www.cars-data.com/en/subaru/legacy

['2009', '2010', '2011']
['2006', '2007', '2008', '2009']
['2003', '2004', '2005']
['2002']
['1999']
['1997']
['1994', '1995']
['1989', '1991']

,Model,Matched Model,Manufacturer,Link
436,SUBARU OUTBACK,SUBARU OUTBACK,SUBARU,https://www.cars-data.com/en/subaru/outback

['2017', '2020']
['2015']
['2013']
['2009']
['2006', '2007', '2008', '2009']
['2003', '2004', '2005']

,Model,Matched Model,Manufacturer,Link
437,SUBARU XV,SUBARU XV,SUBARU,https://www.cars-data.com/en/subaru/xv

['2017', '2019', '2020']
['2012', '2013', '2014', '2015']

,Model,Matched Model,Manufacturer,Link
438,SUZUKI ALTO,SUZUKI ALTO,SUZUKI,https://www.cars-data.com/en/suzuki/alto

['2009', '2010', '2011', '2012', '2013', '2014']
['2002', '2004']
['2000', '2001']
['2000']
['1996', '1997']
['1994', '1995', '1996', '1997']
['1988', '1989']
['1988', '1989', '1993', '1995', '1996']
['1986']
['1986']
['1983', '1985']
['1983']
['1981']
['1981']

,Model,Matched Model,Manufacturer,Link
439,SUZUKI BALENO,SUZUKI BALENO,SUZUKI,https://www.cars-data.com/en/suzuki/baleno

['2016', '2017']
['1998', '1999', '2001']
['1998']
['1997']
['1995', '1996']
['1995', '1996']

,Model,Matched Model,Manufacturer,Link
440,SUZUKI IGNIS,SUZUKI IGNIS,SUZUKI,https://www.cars-data.com/en/suzuki/ignis

['2020']
['2016', '2017', '2019']
['2003', '2006']
['2001', '2002']
['2001', '2002', '2003']

,Model,Matched Model,Manufacturer,Link
441,SUZUKI JIMNY,SUZUKI JIMNY,SUZUKI,https://www.cars-data.com/en/suzuki/jimny

['2018']
['1998', '1999', '2001', '2002', '2004']

,Model,Matched Model,Manufacturer,Link
442,SUZUKI LIANA,SUZUKI LIANA,SUZUKI,https://www.cars-data.com/en/suzuki/liana

['2004']
['2004']
['2002']
['2001']

,Model,Matched Model,Manufacturer,Link
443,SUZUKI SJ,SUZUKI SJ,SUZUKI,https://www.cars-data.com/en/suzuki/sj

['1982', '1986']

,Model,Matched Model,Manufacturer,Link
444,SUZUKI SPLASH,SUZUKI SPLASH,SUZUKI,https://www.cars-data.com/en/suzuki/splash

['2008', '2010', '2011', '2012', '2013']

,Model,Matched Model,Manufacturer,Link
445,SUZUKI SWIFT,SUZUKI SWIFT,SUZUKI,https://www.cars-data.com/en/suzuki/swift

['2017', '2018', '2019', '2020']
['2014']
['2014', '2015', '2016']
['2010', '2011', '2012', '2013']
['2010', '2011', '2012', '2013', '2014']
['2005', '2006', '2007', '2008', '2009', '2010']
['2005', '2006', '2007', '2008', '2009', '2010']
['1996', '1997', '2000', '2002']
['1996', '2000']
['1995', '1996']
['1995']
['1995']
['1991', '1993', '1994', '1995']
['1991']
['1991', '1994', '1995']
['1990']
['1989']
['1989']
['1986']
['1986']
['1984']
['1984']

,Model,Matched Model,Manufacturer,Link
446,SUZUKI SX4,SUZUKI SX4,SUZUKI,https://www.cars-data.com/en/suzuki/sx4

['2010', '2011', '2012']
['2007']
['2006']

,Model,Matched Model,Manufacturer,Link
447,SUZUKI VITARA,SUZUKI VITARA,SUZUKI,https://www.cars-data.com/en/suzuki/vitara

['2018', '2020']
['2015', '2016', '2017']

,Model,Matched Model,Manufacturer,Link
448,SUZUKI WAGON R+,SUZUKI WAGON R+,SUZUKI,https://www.cars-data.com/en/suzuki/wagon-r

['2006']
['2003']
['2000', '2001', '2002']
['1997', '1998']

,Model,Matched Model,Manufacturer,Link
449,SUZUKI X-90,SUZUKI X-90,SUZUKI,https://www.cars-data.com/en/suzuki/x-90

['1996']

,Model,Matched Model,Manufacturer,Link
450,TALBOT HORIZON,TALBOT HORIZON,TALBOT,https://www.cars-data.com/en/talbot/horizon

['1979', '1981', '1982']

,Model,Matched Model,Manufacturer,Link
451,TALBOT SAMBA,TALBOT SAMBA,TALBOT,https://www.cars-data.com/en/talbot/samba

['1982', '1983']
['1982', '1983', '1984']

,Model,Matched Model,Manufacturer,Link
452,TALBOT SOLARA,TALBOT SOLARA,TALBOT,https://www.cars-data.com/en/talbot/solara

['1980', '1985']

,Model,Matched Model,Manufacturer,Link
453,TALBOT SUNBEAM,TALBOT SUNBEAM,TALBOT,https://www.cars-data.com/en/talbot/sunbeam

['1979']

,Model,Matched Model,Manufacturer,Link
454,TOYOTA 4-RUNNER,TOYOTA 4RUNNER,TOYOTA,https://www.cars-data.com/en/toyota/4runner

['1990', '1993']

,Model,Matched Model,Manufacturer,Link
455,TOYOTA AURIS,TOYOTA AURIS,TOYOTA,https://www.cars-data.com/en/toyota/auris

['2015', '2016', '2017', '2018']
['2013', '2014']
['2010']
['2010', '2011', '2012']
['2007', '2008', '2009', '2010']
['2007', '2008', '2009', '2010']

,Model,Matched Model,Manufacturer,Link
456,TOYOTA AVENSIS,TOYOTA AVENSIS,TOYOTA,https://www.cars-data.com/en/toyota/avensis

['2015', '2016']
['2012', '2014']
['2009', '2010']
['2006']
['2006']
['2003', '2005']
['2003', '2005']
['2000', '2001', '2002']
['2000', '2001', '2002']
['1997', '1999']
['1997', '1999']

,Model,Matched Model,Manufacturer,Link
457,TOYOTA AYGO,TOYOTA AYGO,TOYOTA,https://www.cars-data.com/en/toyota/aygo

['2018', '2019', '2020']
['2018']
['2014', '2015', '2016', '2017', '2018']
['2014', '2015', '2017', '2018']
['2012', '2013']
['2012', '2013']
['2009', '2010', '2011']
['2009', '2010', '2011']
['2005']
['2005']

,Model,Matched Model,Manufacturer,Link
458,TOYOTA CAMRY,TOYOTA CAMRY,TOYOTA,https://www.cars-data.com/en/toyota/camry

['2019']
['2001']
['1999', '2001']
['1996', '1998', '1999']
['1991']
['1987', '1988']
['1983', '1984', '1985']
['1983', '1984', '1985']

,Model,Matched Model,Manufacturer,Link
459,TOYOTA CARINA,TOYOTA CARINA,TOYOTA,https://www.cars-data.com/en/toyota/carina

['1984']
['1984']
['1981', '1982']
['1980']
['1980']

,Model,Matched Model,Manufacturer,Link
460,TOYOTA CELICA,TOYOTA CELICA,TOYOTA,https://www.cars-data.com/en/toyota/celica

['2002']
['1999', '2000']
['1994', '1995']
['1990']

,Model,Matched Model,Manufacturer,Link
461,TOYOTA COROLLA,TOYOTA COROLLA,TOYOTA,https://www.cars-data.com/en/toyota/corolla

['2019']
['2007', '2009', '2010']
['2004', '2005']
['2004', '2005']
['2004', '2005', '2006']
['2003']
['2002', '2003']
['2002', '2003']
['2000', '2001']
['2000', '2001']
['2000', '2001']
['1997', '1998']
['1997', '1999']
['1997', '1999']
['1992', '1995']
['1992', '1994', '1995']
['1992', '1993', '1995']
['1987', '1990']
['1987', '1989', '1990', '1991']
['1987', '1990', '1991']
['1985', '1986']
['1985', '1986']
['1983']
['1982', '1983']
['1982', '1983']
['1980']
['1980']

,Model,Matched Model,Manufacturer,Link
462,TOYOTA CRESSIDA,TOYOTA CRESSIDA,TOYOTA,https://www.cars-data.com/en/toyota/cressida

['1985', '1986']
['1983']
['1981']
['1977']

,Model,Matched Model,Manufacturer,Link
463,TOYOTA GT86,TOYOTA GT86,TOYOTA,https://www.cars-data.com/en/toyota/gt86

['2016', '2018']
['2012', '2014']

,Model,Matched Model,Manufacturer,Link
464,TOYOTA HILUX,TOYOTA HILUX,TOYOTA,https://www.cars-data.com/en/toyota/hilux

['2016', '2019', '2020']
['2012']

,Model,Matched Model,Manufacturer,Link
465,TOYOTA IQ,TOYOTA IQ,TOYOTA,https://www.cars-data.com/en/toyota/iq

['2009', '2010']

,Model,Matched Model,Manufacturer,Link
466,TOYOTA MR2,TOYOTA MR2,TOYOTA,https://www.cars-data.com/en/toyota/mr2

['2002', '2003']
['2000']
['1990', '1994']
['1985', '1987']

,Model,Matched Model,Manufacturer,Link
467,TOYOTA PASEO,TOYOTA PASEO,TOYOTA,https://www.cars-data.com/en/toyota/paseo

['1996']

,Model,Matched Model,Manufacturer,Link
468,TOYOTA PICNIC,TOYOTA PICNIC,TOYOTA,https://www.cars-data.com/en/toyota/picnic

['1996', '1997', '1999']

,Model,Matched Model,Manufacturer,Link
469,TOYOTA PREVIA,TOYOTA PREVIA,TOYOTA,https://www.cars-data.com/en/toyota/previa

['2003', '2004']
['2000', '2001']
['1990', '1992']

,Model,Matched Model,Manufacturer,Link
470,TOYOTA PRIUS,TOYOTA PRIUS,TOYOTA,https://www.cars-data.com/en/toyota/prius

['2019']
['2016', '2018']
['2015', '2017', '2018']
['2011', '2012']
['2009', '2011']
['2006']
['2004']
['2000']

,Model,Matched Model,Manufacturer,Link
471,TOYOTA RAV4,TOYOTA RAV4,TOYOTA,https://www.cars-data.com/en/toyota/rav4

['2019', '2020']
['2016']
['2016', '2017', '2018']
['2013', '2014']
['2013', '2014']
['2010', '2012']
['2009']
['2006', '2007']
['2003']
['2003', '2005']
['2000', '2001', '2003']
['2000', '2001', '2003']

,Model,Matched Model,Manufacturer,Link
472,TOYOTA STARLET,TOYOTA STARLET,TOYOTA,https://www.cars-data.com/en/toyota/starlet

['1996', '1998']
['1996', '1998']
['1990', '1991', '1993', '1994']
['1990', '1994']
['1985', '1987']
['1985', '1986', '1987']
['1983']
['1983']
['1980', '1982']
['1980', '1982']

,Model,Matched Model,Manufacturer,Link
473,TOYOTA SUPRA,TOYOTA SUPRA,TOYOTA,https://www.cars-data.com/en/toyota/supra

['2019', '2020']
['1993']
['1986', '1988']
['1982']

,Model,Matched Model,Manufacturer,Link
474,TOYOTA TERCEL,TOYOTA TERCEL,TOYOTA,https://www.cars-data.com/en/toyota/tercel

['1982', '1984']
['1982']
['1981']
['1981']
['1979']
['1979']

,Model,Matched Model,Manufacturer,Link
475,TOYOTA URBAN CRUISER,TOYOTA URBAN CRUISER,TOYOTA,https://www.cars-data.com/en/toyota/urban-cruiser

['2009', '2010']

,Model,Matched Model,Manufacturer,Link
476,TOYOTA VERSO,TOYOTA VERSO,TOYOTA,https://www.cars-data.com/en/toyota/verso

['2013', '2014', '2015', '2016', '2017']
['2009', '2010', '2011', '2012']
['2007', '2008']

,Model,Matched Model,Manufacturer,Link
477,TOYOTA YARIS,TOYOTA YARIS,TOYOTA,https://www.cars-data.com/en/toyota/yaris

['2020']
['2017', '2018']
['2017', '2018', '2019', '2020']
['2014', '2015', '2016', '2017']
['2014', '2015']
['2011', '2012', '2013']
['2011', '2012']
['2009', '2010']
['2009', '2010']
['2005', '2007', '2008']
['2005', '2007', '2008']
['2003', '2004']
['2003', '2004']
['1999', '2001', '2002']
['1999', '2001', '2002']

,Model,Matched Model,Manufacturer,Link
478,TRIUMPH ACCLAIM,TRIUMPH ACCLAIM,TRIUMPH,https://www.cars-data.com/en/triumph/acclaim

['1982']

,Model,Matched Model,Manufacturer,Link
479,TVR CHIMERA,TVR CHIMAERA,TVR,https://www.cars-data.com/en/tvr/chimaera

['1994', '1999']

,Model,Matched Model,Manufacturer,Link
480,TVR GRIFFITH,TVR GRIFFITH,TVR,https://www.cars-data.com/en/tvr/griffith

['1994', '1997']

,Model,Matched Model,Manufacturer,Link
481,TVR TUSCAN,TVR TUSCAN,TVR,https://www.cars-data.com/en/tvr/tuscan

['2003']

,Model,Matched Model,Manufacturer,Link
482,VOLKSWAGEN BEETLE,VOLKSWAGEN BEETLE,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/beetle

['2011', '2012', '2013', '2014', '2016']

,Model,Matched Model,Manufacturer,Link
483,VOLKSWAGEN BORA,VOLKSWAGEN BORA,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/bora

['1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005']

,Model,Matched Model,Manufacturer,Link
484,VOLKSWAGEN CADDY,VOLKSWAGEN CADDY,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/caddy

['2015', '2016', '2019']
['2010', '2012', '2014']

,Model,Matched Model,Manufacturer,Link
485,VOLKSWAGEN CC,VOLKSWAGEN CC,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/cc

['2012']

,Model,Matched Model,Manufacturer,Link
486,VOLKSWAGEN CORRADO,VOLKSWAGEN CORRADO,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/corrado

['1989', '1990', '1991', '1993']

,Model,Matched Model,Manufacturer,Link
487,VOLKSWAGEN DERBY,VOLKSWAGEN DERBY,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/derby

['1977']

,Model,Matched Model,Manufacturer,Link
488,VOLKSWAGEN EOS,VOLKSWAGEN EOS,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/eos

['2011']
['2006', '2008', '2009']

,Model,Matched Model,Manufacturer,Link
489,VOLKSWAGEN FOX,VOLKSWAGEN FOX,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/fox

['2005', '2006', '2010']

,Model,Matched Model,Manufacturer,Link
490,VOLKSWAGEN GOLF,VOLKSWAGEN GOLF,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/golf

['2020']
['2017', '2018', '2019']
['2017']
['2012', '2013', '2014', '2016']
['2012', '2013', '2014', '2015', '2016']
['2008', '2009', '2010', '2011', '2012']
['2008', '2009', '2010', '2011', '2012']
['2003', '2004', '2005', '2006', '2007', '2008']
['2003', '2004', '2005', '2006', '2007', '2008']
['1998', '1999', '2000', '2001', '2002', '2003']
['1997', '1999', '2000', '2001', '2002', '2003']
['1992', '1993', '1994', '1995', '1996', '1997']
['1991', '1992', '1993', '1994', '1995', '1996', '1997']
['1986', '1987', '1989', '1990']
['1986', '1987', '1989', '1990']
['1983', '1984', '1985', '1986']
['1983', '1984', '1985', '1986']
['1981', '1982']
['1981']
['1974', '1979', '1980']
['1974', '1976', '1979', '1980']

,Model,Matched Model,Manufacturer,Link
491,VOLKSWAGEN JETTA,VOLKSWAGEN JETTA,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/jetta

['2011', '2012']
['2005', '2006', '2007', '2008', '2009']
['1986', '1987', '1989', '1990']
['1986', '1987', '1989', '1990']
['1984', '1985']
['1984', '1985']
['1981', '1982', '1983']
['1981', '1982', '1983']
['1980']
['1980']

,Model,Matched Model,Manufacturer,Link
492,VOLKSWAGEN LUPO,VOLKSWAGEN LUPO,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/lupo

['1998', '1999', '2001', '2002', '2003', '2004', '2005']

,Model,Matched Model,Manufacturer,Link
493,VOLKSWAGEN PASSAT,VOLKSWAGEN PASSAT,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/passat

['2019']
['2014', '2015', '2016', '2017', '2018']
['2010', '2011', '2012', '2013']
['2005', '2006', '2007', '2008', '2009', '2010']
['2000', '2001', '2002', '2003', '2004', '2005']
['1996', '1997', '1998', '1999', '2000']
['1993', '1994', '1996']
['1988', '1989', '1990', '1991', '1992']
['1985', '1986', '1987']
['1985', '1986', '1987']
['1981', '1982', '1983', '1984']
['1981']
['1980']

,Model,Matched Model,Manufacturer,Link
494,VOLKSWAGEN PHAETON,VOLKSWAGEN PHAETON,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/phaeton

['2010', '2013']
['2002', '2003', '2004', '2007', '2008', '2009']

,Model,Matched Model,Manufacturer,Link
495,VOLKSWAGEN POLO,VOLKSWAGEN POLO,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/polo

['2017', '2018', '2019', '2020']
['2014', '2015', '2016']
['2014', '2015', '2016', '2017']
['2009', '2010', '2011', '2012', '2013']
['2009', '2010', '2011', '2012', '2013']
['2005', '2006', '2007', '2008']
['2005', '2006', '2007', '2008']
['2001', '2002', '2003', '2004', '2005']
['2001', '2002', '2003', '2004', '2005']
['1999']
['1999']
['1994', '1995', '1996', '1997']
['1994', '1995', '1996', '1997']
['1990']
['1990']
['1982', '1983', '1986', '1987', '1989']
['1981', '1983', '1986', '1987', '1989']
['1975', '1976']

,Model,Matched Model,Manufacturer,Link
496,VOLKSWAGEN SANTANA,VOLKSWAGEN SANTANA,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/santana

['1982', '1983', '1984']

,Model,Matched Model,Manufacturer,Link
497,VOLKSWAGEN SCIROCCO,VOLKSWAGEN SCIROCCO,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/scirocco

['2008', '2009', '2010']
['1981', '1982', '1983', '1984', '1985', '1986', '1989']
['1977']

,Model,Matched Model,Manufacturer,Link
498,VOLKSWAGEN SHARAN,VOLKSWAGEN SHARAN,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/sharan

['2015', '2016']
['2010', '2011', '2013']
['2000', '2001', '2002', '2005', '2008']
['1997', '1998', '1999']
['1996', '1997']

,Model,Matched Model,Manufacturer,Link
499,VOLKSWAGEN TIGUAN,VOLKSWAGEN TIGUAN,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/tiguan

['2020']
['2016', '2017', '2018', '2019']
['2011', '2012', '2013', '2015']
['2007', '2008', '2009', '2010']

,Model,Matched Model,Manufacturer,Link
500,VOLKSWAGEN TOUAREG,VOLKSWAGEN TOUAREG,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/touareg

['2018', '2019']
['2014', '2015', '2016']
['2010', '2011', '2012', '2013']
['2007', '2008', '2009']
['2002', '2003', '2004', '2005', '2006']

,Model,Matched Model,Manufacturer,Link
501,VOLKSWAGEN TOURAN,VOLKSWAGEN TOURAN,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/touran

['2015', '2016', '2017', '2018', '2019']
['2010', '2011', '2013', '2014']
['2006', '2007', '2008', '2009']
['2003', '2004', '2005', '2006']

,Model,Matched Model,Manufacturer,Link
502,VOLKSWAGEN UP,VOLKSWAGEN UP,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/up

['2020']
['2016', '2018']
['2016', '2017', '2018']
['2012', '2013', '2014']
['2011', '2012', '2013', '2014']

,Model,Matched Model,Manufacturer,Link
503,VOLKSWAGEN URBAN,VOLKSWAGEN TOURAN,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/touran

['2015', '2016', '2017', '2018', '2019']
['2010', '2011', '2013', '2014']
['2006', '2007', '2008', '2009']
['2003', '2004', '2005', '2006']

,Model,Matched Model,Manufacturer,Link
504,VOLKSWAGEN VENTO,VOLKSWAGEN VENTO,VOLKSWAGEN,https://www.cars-data.com/en/volkswagen/vento

['1992', '1993', '1994', '1995', '1996', '1997']

,Model,Matched Model,Manufacturer,Link
505,VOLVO 240,VOLVO 240,VOLVO,https://www.cars-data.com/en/volvo/240

['1985', '1986', '1987', '1988', '1989', '1990']
['1982', '1983', '1984']

,Model,Matched Model,Manufacturer,Link
506,VOLVO 244,VOLVO 244,VOLVO,https://www.cars-data.com/en/volvo/244

['1980', '1981']

,Model,Matched Model,Manufacturer,Link
507,VOLVO 245,VOLVO 245,VOLVO,https://www.cars-data.com/en/volvo/245

['1980', '1981']

,Model,Matched Model,Manufacturer,Link
508,VOLVO 264,VOLVO 264,VOLVO,https://www.cars-data.com/en/volvo/264

['1980']

,Model,Matched Model,Manufacturer,Link
509,VOLVO 265,VOLVO 265,VOLVO,https://www.cars-data.com/en/volvo/265

['1980']

,Model,Matched Model,Manufacturer,Link
510,VOLVO 340,VOLVO 340,VOLVO,https://www.cars-data.com/en/volvo/340

['1985', '1987', '1988', '1989', '1990']
['1985', '1987', '1988', '1989', '1990']
['1985', '1987', '1988']
['1982', '1984']
['1983', '1984']
['1982', '1984']

,Model,Matched Model,Manufacturer,Link
511,VOLVO 343,VOLVO 343,VOLVO,https://www.cars-data.com/en/volvo/343

['1981']
['1978', '1980']

,Model,Matched Model,Manufacturer,Link
512,VOLVO 345,VOLVO 345,VOLVO,https://www.cars-data.com/en/volvo/345

['1981']
['1979', '1980']

,Model,Matched Model,Manufacturer,Link
513,VOLVO 360,VOLVO 360,VOLVO,https://www.cars-data.com/en/volvo/360

['1985']
['1985']
['1985', '1986', '1988']
['1982', '1983']
['1982', '1983']
['1983']

,Model,Matched Model,Manufacturer,Link
514,VOLVO 440,VOLVO 440,VOLVO,https://www.cars-data.com/en/volvo/440

['1994', '1995', '1996']
['1993', '1994']
['1988', '1989', '1990', '1991', '1992', '1993']

,Model,Matched Model,Manufacturer,Link
515,VOLVO 460,VOLVO 460,VOLVO,https://www.cars-data.com/en/volvo/460

['1994', '1995', '1996']
['1993', '1994']
['1990', '1991', '1992', '1993']

,Model,Matched Model,Manufacturer,Link
516,VOLVO 480,VOLVO 480,VOLVO,https://www.cars-data.com/en/volvo/480

['1986', '1987', '1988', '1989', '1992', '1993', '1994']

,Model,Matched Model,Manufacturer,Link
517,VOLVO 740,VOLVO 740,VOLVO,https://www.cars-data.com/en/volvo/740

['1989', '1990']
['1984', '1986', '1987', '1988']

,Model,Matched Model,Manufacturer,Link
518,VOLVO 760,VOLVO 760,VOLVO,https://www.cars-data.com/en/volvo/760

['1988']
['1982', '1983', '1984', '1986', '1987']

,Model,Matched Model,Manufacturer,Link
519,VOLVO 850,VOLVO 850,VOLVO,https://www.cars-data.com/en/volvo/850

['1994', '1995', '1996']
['1992', '1993']

,Model,Matched Model,Manufacturer,Link
520,VOLVO 940,VOLVO 940,VOLVO,https://www.cars-data.com/en/volvo/940

['1996']
['1990', '1991', '1992', '1993', '1994', '1995', '1996']

,Model,Matched Model,Manufacturer,Link
521,VOLVO 960,VOLVO 960,VOLVO,https://www.cars-data.com/en/volvo/960

['1994', '1996']
['1990', '1993']

,Model,Matched Model,Manufacturer,Link
522,VOLVO C30,VOLVO C30,VOLVO,https://www.cars-data.com/en/volvo/c30

['2009', '2010', '2012']
['2006', '2007', '2008', '2009']

,Model,Matched Model,Manufacturer,Link
523,VOLVO C70,VOLVO C70,VOLVO,https://www.cars-data.com/en/volvo/c70

['2009', '2010', '2011', '2012']
['2006', '2007', '2008', '2009']
['1998', '1999']

,Model,Matched Model,Manufacturer,Link
524,VOLVO S40,VOLVO S40,VOLVO,https://www.cars-data.com/en/volvo/s40

['2007', '2008', '2009', '2010', '2011']
['2004', '2005', '2006']
['2002', '2003']
['2000', '2001']
['1996', '1997', '1998', '1999']

,Model,Matched Model,Manufacturer,Link
525,VOLVO S60,VOLVO S60,VOLVO,https://www.cars-data.com/en/volvo/s60

['2019', '2020']
['2013', '2014', '2015', '2016', '2017']
['2010', '2011', '2012', '2013']
['2004', '2005', '2006', '2007', '2008']
['2000', '2001', '2002', '2003']

,Model,Matched Model,Manufacturer,Link
526,VOLVO S70,VOLVO S70,VOLVO,https://www.cars-data.com/en/volvo/s70

['1997', '1999']

,Model,Matched Model,Manufacturer,Link
527,VOLVO S80,VOLVO S80,VOLVO,https://www.cars-data.com/en/volvo/s80

['2013']
['2011', '2012', '2013']
['2009', '2010', '2011']
['2006', '2007', '2008']
['2003', '2004', '2005']
['1998', '1999', '2000', '2001', '2002']

,Model,Matched Model,Manufacturer,Link
528,VOLVO V40,VOLVO V40,VOLVO,https://www.cars-data.com/en/volvo/v40

['2016', '2017', '2018']
['2012', '2013', '2014', '2015', '2016']
['2002', '2003']
['2000', '2001']
['1996', '1997', '1998', '1999']

,Model,Matched Model,Manufacturer,Link
529,VOLVO V50,VOLVO V50,VOLVO,https://www.cars-data.com/en/volvo/v50

['2007', '2008', '2009', '2010', '2011']
['2004', '2005', '2006']

,Model,Matched Model,Manufacturer,Link
530,VOLVO V60,VOLVO V60,VOLVO,https://www.cars-data.com/en/volvo/v60

['2018', '2019', '2020']
['2013', '2014', '2015', '2016', '2017']
['2010', '2011', '2012', '2013']

,Model,Matched Model,Manufacturer,Link
531,VOLVO V70,VOLVO V70,VOLVO,https://www.cars-data.com/en/volvo/v70

['2013', '2014', '2015', '2016']
['2011', '2012', '2013']
['2007', '2008', '2009', '2010', '2011']
['2004', '2005', '2006']
['2000', '2001', '2002', '2003', '2004']
['1997', '1998', '1999']

,Model,Matched Model,Manufacturer,Link
532,VOLVO XC60,VOLVO XC60,VOLVO,https://www.cars-data.com/en/volvo/xc60

['2017', '2018', '2019', '2020']
['2013', '2014', '2015', '2016']
['2008', '2009', '2010', '2011', '2012', '2013']

,Model,Matched Model,Manufacturer,Link
533,VOLVO XC70,VOLVO XC70,VOLVO,https://www.cars-data.com/en/volvo/xc70

['2013', '2014', '2015', '2016']
['2011', '2012', '2013']
['2007', '2008', '2009', '2010']
['2004', '2005']
['2002', '2004']

,Model,Matched Model,Manufacturer,Link
534,VOLVO XC90,VOLVO XC90,VOLVO,https://www.cars-data.com/en/volvo/xc90

['2019', '2020']
['2014', '2016', '2017']
['2011', '2012']
['2006', '2008', '2010', '2011']
['2002', '2003', '2004', '2005']

In [16]:
pprint(scraped_cars_data, indent=2)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [17]:
pprint(scraped_static_data, indent=2)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [18]:
with open('scraped_cars_data.pickle', 'wb') as f:
    pickle.dump(scraped_cars_data, f)

In [19]:
with open('scraped_static_data.pickle', 'wb') as f:
    pickle.dump(scraped_static_data, f)